In [1]:
#172.18.0.4"
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
import os

In [2]:
CATALOG_URI = "http://nessie:19120/api/v1"  # Nessie Server URI
WAREHOUSE = "s3://warehouse/"               # Minio Address to Write to
STORAGE_URI = "http://172.18.0.3:9000"     # Minio IP address from docker inspect

In [3]:
conf = (
    pyspark.SparkConf()
        .setAppName('billing')
        # Include necessary packages
        .set("spark.sql.debug.maxToStringFields", "100000")
        .set('spark.jars', '''/opt/spark/workjars/iceberg-spark-runtime-3.5_2.12-1.5.0.jar,/opt/spark/workjars/nessie-spark-extensions-3.5_2.12-0.77.1.jar,
        /opt/spark/workjars/bundle-2.24.8.jar,/opt/spark/workjars/url-connection-client-2.24.8.jar''')
        .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        .set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.nessie.uri', CATALOG_URI)
        .set('spark.sql.catalog.nessie.ref', 'main')
        .set('spark.sql.catalog.nessie.authentication.type', 'NONE')
        .set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
        .set('spark.sql.catalog.nessie.s3.endpoint', STORAGE_URI)
        .set('spark.sql.catalog.nessie.warehouse', WAREHOUSE)
        .set('spark.sql.catalog.nessie.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')
        .set("spark.executor.memory", "2g")
        .set("spark.driver.memory", "2g")
        .set("spark.executor.memoryOverhead", "512m")
        .set("spark.sql.shuffle.partitions", "64")
        .set("spark.shuffle.spill", "true")
        .set("spark.shuffle.memoryFraction", "0.4")
)

In [4]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()
# print("Spark Session Started")
# spark = SparkSession.builder.master("local[*]").config(conf=conf).getOrCreate()
print("Spark Session Started")

25/05/08 04:26:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Spark Session Started

In [ ]:
spark.sql("DELETE FROM nessie.starschema.ageing_fact WHERE YEAR(BillingMonth) = 2024")

### Adding predictions

In [18]:
import re
import time
from pyspark.sql.functions import lit

csv = "predictions/fault_predictions_finale.csv"
df = spark.read \
    .option("delimiter",",") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv)

df.head()

Row(fdr_Id=99, Prediction Probability=0.8832055926322937, Predicted Fault=1, Actual Fault=0)

In [19]:
spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.predictions")
df.writeTo("nessie.predictions.fault_predictions_finale").createOrReplace()

In [6]:
spark.stop()

In [102]:
spark.sql("""
    ALTER TABLE nessie.starschema.ageing_fact
    DROP COLUMNS (
`PSC Sub-Department`
    )
""").show()

++
||
++
++

# Testing Cleaning

In [79]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
import re
from pyspark.sql.functions import lit
from pyspark.sql.functions import to_timestamp, regexp_replace
from pyspark.sql import functions as F

## Ageing

Testing Time

In [107]:
import re
import time
from pyspark.sql.functions import lit

csv = "/mnt/HabibData/Ageing_202305.csv"
starttime = time.time()
df = spark.read \
    .option("delimiter", "|") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv)
endtime = time.time()
sparktime = endtime-starttime

print("Time taken to read through spark:",sparktime)

Time taken to read through spark: 29.43564248085022

In [108]:
match = re.search(r'_(\d{6})', csv)# Extract month and year from the filename
billing_month = match.group(1) if match else "Unknown"

In [109]:
df = df.withColumn("BillingMonth", lit(billing_month))# Add the BillingMonth column

# Repartition the DataFrame
# df_updated = df_updated.repartition(200)

In [20]:
df.limit(1).show()

+---------------+--------+----------------+---------------------+-------------------+---------------+----------------+--------+------------+-------------+-------------+-------------+------+---+---------+---------+-----+------+----------------+----------------+----------------------+---------------+-----------+----+-----+---------+----+---------------+--------------+------+------------+--------------+------------+-------------+----+----------------+--------------+-------------------+-------------------+------------+------------------+------------+--------------+------------------+---------------+-------------------+-----------------------+-------------+----------------+-----------------------+------+-----------------+-------------------+------------+----------+---------------+---------------+------------------+------------+--------+----+-----------+------------+------------+-------------+-------------+--------------+-------------+--------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+---------+--------------+----------------+------------+---------+---------+-----------+-------+----------+-----------+--------+---------------------+------------------+-----------+--------------+--------------+----------------------+---------------+--------------+-----------+------------------+---------+-----------+------+-------+-------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+--------+--------------+------------+-------------------+-----------------+----------------------+--------------------+
|AccountContract|Key Date|Business Partner|Legacy Account Number|Legacy Move In Date|Consumer Number|Contract Account|Contract|Move-In Date|Move-Out Date|Billing Class|Rate Category|Region|IBC|  IBCName|     PIBC|DCIBC|DC OIP|DC Rate Category|CA Creation Date|Contract Creation Date|ConsumerCounter|Postal Code| OIP|Phase|Cycle Day| MRU|Sanctioned Load|Connected Load|Status|Last DC Date|Last DC Reason|Premise Type|Customer Name| PMT|Set Aside Amount|Set Aside Code|Installement Number|Installement Amount|PSC Location|PSC Classification|PSC Ministry|PSC Department|PSC Sub-Department|Schedule Number|PSC Consumer Region|Strategic/Non-Strategic|Consumer Type|PSC Consumer IBC|Industry Classification|Agency|Last Payment Date|Last Payment Amount|Meter Number|Meter Make|Device Category|Last SIR Number|Last SIR CreatedOn|BillingMonth|BillType| BCM|NormalUnits|NormalAmount|AverageUnits|AverageAmount|AdjustedUnits|AdjustedAmount|AssessedUnits|AssessedAmount|RegularUnits|RegularAmount|IRBDetectionUnits|IRBDetectionAmount|IRBRevisedUnits|IRBRevisedAmount|CurrentUnits|CurrentAmount|12MonthsAvgUnits|12MonthsAvgAmount|UnitBilledYTD|12MonthsUnits|12MonthsAmount|FICAMonth|OpeningBalance|MigrationBalance|AmountBilled|LPSBilled|LPSWaived|BankCharges|Payment|Adjustment|IBCTransfer|WriteOff|PreviousYearAllowance|DownPaymentRequest|DownPayment|ClearingAmount|ClosingBalance|OutstandingDownPayment|SecurityDeposit|MNCVAdjustment|MNCVPayment|MNCVClearingAmount|A <=(366)|B (365)-(1)|C 0-30|D 31-60|E 61-90|F 91-120|G 121-150|H 151-180|I 181-210|J 211-240|K 241-270|L 271-300|M 301-330|N 331-360|O 361-390|P 391-420|Q 421-450|R 451-480|S 481-510|T 511-540|U 541-570|V 571-600|W 601-630|X 631-660|Y 1021-1050|Y 1051-1080|Y 1081-1110|Y 1111-1140|Y 1141-1170|Y 1171-1200|Y 1201-1230|Y 1231-1260|Y 1261-1460|Y 1461-1825|Y 661-690|Y 691-720|Y 721-750|Y 751-780|Y 781-810|Y 811-840|Y 841-870|Y 871-900|Y 901-930|Y 931-960|Y 961-990|Y 991-1020|Z >=1826|GrossBilledYTD|NetCreditYTD|12MonthsGrossBilled|12MonthsNetCredit|12MonthsAvgGrossBilled|12MonthsAvgNetCredit|
+---------------+--------+----------------+---------------------+-------------------+---------------+----------------+--------+------------+-------------+-------------+-------------+------+---+---------+---------+-----+------+----------------+----------------+----------------------+---------------+-----------+----+-----+---------+----+---------------+--------------+------+------------+--------------+------------+-------------+----+----------------+--------------+-------------------+-------------------+------------+------------------+------------+--------------+------------------+---------------+-------------------+-----------------------+-------------+----------------+-----------------------+------+-----------------+-------------------+------------+----------+---------------+---------------+------------------+------------+--------+----+-----------+------------+------------+-------------+-------------+--------------+-------------+--------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+---------+--------------+----------------+------------+---------+---------+-----------+-------+----------+-----------+--------+---------------------+------------------+-----------+--------------+--------------+----------------------+---------------+--------------+-----------+------------------+---------+-----------+------+-------+-------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+--------+--------------+------------+-------------------+-----------------+----------------------+--------------------+
|   400022403689|    NULL|      0102289415|                 NULL|               NULL|       HC000037|    400022403689|    NULL|        NULL|         NULL|         NULL|         NULL|    R1|149|Orangi-II|Undefined|  149|   ORD|            A1-R|        9/3/2013|                  NULL|              1|        159|NULL| NULL|     NULL|NULL|           NULL|          NULL| INACT|        NULL|          NULL|        NULL|MR. HAROON. .|NULL|            NULL|          NULL|               NULL|               NULL|        NULL|              NULL|        NULL|          NULL|              NULL|           NULL|               NULL|                   NULL|         NULL|            NULL|                   NULL|  NULL|             NULL|               NULL|        NULL|      NULL|           NULL|           NULL|              NULL|      202304|    NULL|NULL|       NULL|        NULL|        NULL|         NULL|         NULL|          NULL|         NULL|          NULL|        NULL|         NULL|             NULL|              NULL|           NULL|            NULL|        NULL|         NULL|            NULL|             NULL|         NULL|         NULL|          NULL|   202304|           0.0|             0.0|         0.0|      0.0|      0.0|          0|    0.0|       0.0|        0.0|       0|                  0.0|                 0|        0.0|           0.0|           0.0|                     0|            0.0|           0.0|        0.0|               0.0|      0.0|        0.0|   0.0|    0.0|    0.0|     0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|       0.0|     0.0|           0.0|         0.0|                0.0|              0.0|                   0.0|                 0.0|
+---------------+--------+----------------+---------------------+-------------------+---------------+----------------+--------+------------+-------------+-------------+-------------+------+---+---------+---------+-----+------+----------------+----------------+----------------------+---------------+-----------+----+-----+---------+----+---------------+--------------+------+------------+--------------+------------+-------------+----+----------------+--------------+-------------------+-------------------+------------+------------------+------------+--------------+------------------+---------------+-------------------+-----------------------+-------------+----------------+-----------------------+------+-----------------+-------------------+------------+----------+---------------+---------------+------------------+------------+--------+----+-----------+------------+------------+-------------+-------------+--------------+-------------+--------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+---------+--------------+----------------+------------+---------+---------+-----------+-------+----------+-----------+--------+---------------------+------------------+-----------+--------------+--------------+----------------------+---------------+--------------+-----------+------------------+---------+-----------+------+-------+-------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+--------+--------------+------------+-------------------+-----------------+----------------------+--------------------+

In [110]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
import re
from pyspark.sql.functions import lit
from pyspark.sql.functions import to_timestamp, regexp_replace
from pyspark.sql import functions as F
from pyspark.sql.functions import col, to_date, year, month, sum as _sum

In [111]:
def replace_invalid_strings_with_null(df):
    # Iterate over all columns in the DataFrame
    for col_name, dtype in df.dtypes:
        # If the column is of string type, replace invalid values with null
        if dtype == 'string':
            df = df.withColumn(
                col_name,
                F.when(
                    (F.col(col_name) == '.') | 
                    (F.col(col_name) == '-') | 
                    (F.col(col_name) == 'Undefined') | 
                    (F.col(col_name) == 'Not found'),
                    F.lit(None)  # Replace with null
                ).otherwise(F.col(col_name))  # Keep the original value if valid
            )    
    return df

In [112]:
    columns_to_remove = [
        'A <=(366)', 'B (365)-(1)', 'C 0-30', 'D 31-60', 'E 61-90', 'F 91-120', 'G 121-150',
        'H 151-180', 'I 181-210', 'J 211-240', 'K 241-270', 'L 271-300', 'M 301-330', 'N 331-360',
        'O 361-390', 'P 391-420', 'Q 421-450', 'R 451-480', 'S 481-510', 'T 511-540', 'U 541-570',
        'V 571-600', 'W 601-630', 'X 631-660', 'Y 1021-1050', 'Y 1051-1080', 'Y 1081-1110', 'Y 1111-1140',
        'Y 1141-1170', 'Y 1171-1200', 'Y 1201-1230', 'Y 1231-1260', 'Y 1261-1460', 'Y 1461-1825',
        'Y 661-690', 'Y 691-720', 'Y 721-750', 'Y 751-780', 'Y 781-810', 'Y 811-840', 'Y 841-870',
        'Y 871-900', 'Y 901-930', 'Y 931-960', 'Y 961-990', 'Y 991-1020', 'Z >=1826', 'Key Date',
        'Legacy Account Number', 'Legacy Move In Date', 'Contract', 'Move-In Date', 'Move-Out Date',
        'PIBC', 'DCIBC', 'DC OIP', 'DC Rate Category', 'CA Creation Date', 'Contract Creation Date',
        'ConsumerCounter', 'Last SIR Number', 'Last SIR CreatedOn', 'AverageUnits',
        'AverageAmount', 'AdjustedUnits', 'AdjustedAmount', 'AssessedUnits', 'AssessedAmount', 'FICAMonth',
        'OpeningBalance', 'MigrationBalance', 'BankCharges', 'WriteOff', 'PreviousYearAllowance',
        'DownPaymentRequest', 'DownPayment', 'OutstandingDownPayment', 'MNCVAdjustment', 'MNCVPayment',
        'MNCVClearingAmount', 'Set Aside Amount', 'Set Aside Code', 'Installement Number', 'Installement Amount',
        'Agency', 'Schedule Number', 'PSC Consumer IBC', 'Adjustment', 'IBCTransfer', 'ClearingAmount', ''
      'PSC Location','PSC Department','PSC Classification','PSC Ministry','PSC Sub-Department'
        ]
    df_reduced = df.drop(*columns_to_remove)    # Drop the columns from the DataFrame

In [113]:
num_columns = len(df_reduced.columns)
print(f"Number of columns: {num_columns}")

Number of columns: 61

In [25]:
df_reduced.count()

4345786

In [114]:
df_filtered = df_reduced.filter(df_reduced.Status == 'ACT')

In [27]:
df_filtered.count()

3542316

In [115]:
df_filtered = df_filtered.drop('Status')

In [29]:
num_columns = len(df_filtered.columns)
print(f"Number of columns: {num_columns}")

Number of columns: 65

In [73]:
df_filtered.dtypes

[('AccountContract', 'string'),
 ('Business Partner', 'string'),
 ('Consumer Number', 'string'),
 ('Contract Account', 'bigint'),
 ('Billing Class', 'string'),
 ('Rate Category', 'string'),
 ('Region', 'string'),
 ('IBC', 'string'),
 ('IBCName', 'string'),
 ('Postal Code', 'string'),
 ('OIP', 'string'),
 ('Phase', 'string'),
 ('Cycle Day', 'string'),
 ('MRU', 'string'),
 ('Sanctioned Load', 'double'),
 ('Connected Load', 'double'),
 ('Last DC Date', 'string'),
 ('Last DC Reason', 'int'),
 ('Premise Type', 'string'),
 ('Customer Name', 'string'),
 ('PMT', 'int'),
 ('PSC Location', 'string'),
 ('PSC Classification', 'string'),
 ('PSC Ministry', 'string'),
 ('PSC Department', 'string'),
 ('PSC Sub-Department', 'string'),
 ('PSC Consumer Region', 'string'),
 ('Strategic/Non-Strategic', 'string'),
 ('Consumer Type', 'string'),
 ('Industry Classification', 'string'),
 ('Last Payment Date', 'string'),
 ('Last Payment Amount', 'double'),
 ('Meter Number', 'string'),
 ('Meter Make', 'string'),
 ('Device Category', 'string'),
 ('BillingMonth', 'string'),
 ('BillType', 'string'),
 ('BCM', 'string'),
 ('NormalUnits', 'double'),
 ('NormalAmount', 'double'),
 ('RegularUnits', 'double'),
 ('RegularAmount', 'double'),
 ('IRBDetectionUnits', 'double'),
 ('IRBDetectionAmount', 'double'),
 ('IRBRevisedUnits', 'double'),
 ('IRBRevisedAmount', 'double'),
 ('CurrentUnits', 'double'),
 ('CurrentAmount', 'double'),
 ('12MonthsAvgUnits', 'double'),
 ('12MonthsAvgAmount', 'double'),
 ('UnitBilledYTD', 'double'),
 ('12MonthsUnits', 'double'),
 ('12MonthsAmount', 'double'),
 ('AmountBilled', 'double'),
 ('LPSBilled', 'double'),
 ('LPSWaived', 'double'),
 ('Payment', 'double'),
 ('ClosingBalance', 'double'),
 ('SecurityDeposit', 'double'),
 ('GrossBilledYTD', 'double'),
 ('NetCreditYTD', 'double'),
 ('12MonthsGrossBilled', 'double'),
 ('12MonthsNetCredit', 'double'),
 ('12MonthsAvgGrossBilled', 'double'),
 ('12MonthsAvgNetCredit', 'double')]

In [116]:
df_updated = df_filtered.withColumn('Last Payment Date', to_timestamp(col('Last Payment Date'), 'dd-MMM-yy'))

In [32]:
df_updated.schema["Last Payment Date"].dataType

TimestampType()

In [117]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY") #important warna error
#CA Creation Date (MM/DD/YYYY), Contract Creation Date(DD/MM/YYYY), Last DC Date (DD-mon-YYYY) (same as last payment)
df_updated.filter(df_updated["Last Payment Date"].isNotNull()).select("Last Payment Date").limit(10).show()

+-------------------+
|  Last Payment Date|
+-------------------+
|2023-01-04 00:00:00|
|2023-05-08 00:00:00|
|2023-05-08 00:00:00|
|2023-02-06 00:00:00|
|2022-05-06 00:00:00|
|2023-05-08 00:00:00|
|2023-05-30 00:00:00|
|2023-05-05 00:00:00|
|2023-05-30 00:00:00|
|2023-05-08 00:00:00|
+-------------------+

In [118]:
# NULL values
df_updated = replace_invalid_strings_with_null(df_updated)

In [119]:
df_updated.filter(df_updated["Region"] == "Undefined").limit(1).show()

+---------------+----------------+---------------+----------------+-------------+-------------+------+---+-------+-----------+---+-----+---------+---+---------------+--------------+------------+--------------+------------+-------------+---+-------------------+-----------------------+-------------+-----------------------+-----------------+-------------------+------------+----------+---------------+------------+--------+---+-----------+------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+------------+---------+---------+-------+--------------+---------------+--------------+------------+-------------------+-----------------+----------------------+--------------------+
|AccountContract|Business Partner|Consumer Number|Contract Account|Billing Class|Rate Category|Region|IBC|IBCName|Postal Code|OIP|Phase|Cycle Day|MRU|Sanctioned Load|Connected Load|Last DC Date|Last DC Reason|Premise Type|Customer Name|PMT|PSC Consumer Region|Strategic/Non-Strategic|Consumer Type|Industry Classification|Last Payment Date|Last Payment Amount|Meter Number|Meter Make|Device Category|BillingMonth|BillType|BCM|NormalUnits|NormalAmount|RegularUnits|RegularAmount|IRBDetectionUnits|IRBDetectionAmount|IRBRevisedUnits|IRBRevisedAmount|CurrentUnits|CurrentAmount|12MonthsAvgUnits|12MonthsAvgAmount|UnitBilledYTD|12MonthsUnits|12MonthsAmount|AmountBilled|LPSBilled|LPSWaived|Payment|ClosingBalance|SecurityDeposit|GrossBilledYTD|NetCreditYTD|12MonthsGrossBilled|12MonthsNetCredit|12MonthsAvgGrossBilled|12MonthsAvgNetCredit|
+---------------+----------------+---------------+----------------+-------------+-------------+------+---+-------+-----------+---+-----+---------+---+---------------+--------------+------------+--------------+------------+-------------+---+-------------------+-----------------------+-------------+-----------------------+-----------------+-------------------+------------+----------+---------------+------------+--------+---+-----------+------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+------------+---------+---------+-------+--------------+---------------+--------------+------------+-------------------+-----------------+----------------------+--------------------+
+---------------+----------------+---------------+----------------+-------------+-------------+------+---+-------+-----------+---+-----+---------+---+---------------+--------------+------------+--------------+------------+-------------+---+-------------------+-----------------------+-------------+-----------------------+-----------------+-------------------+------------+----------+---------------+------------+--------+---+-----------+------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+------------+---------+---------+-------+--------------+---------------+--------------+------------+-------------------+-----------------+----------------------+--------------------+

#### IRB Amount = IRBRevisedAmount+IRBDetectionAmount
#### IRB Units = IRBRevisedUnits+IRBDetectionUnits

In [120]:
from pyspark.sql import functions as F

# Update df_updated by adding two new columns IRBAmount and IRBUnits
df_updated = df_updated.withColumn(
    "IRBAmount", F.col("IRBRevisedAmount") + F.col("IRBDetectionAmount")
).withColumn(
    "IRBUnits", F.col("IRBRevisedUnits") + F.col("IRBDetectionUnits")
)

In [121]:
# Display the first 5 rows where the values are not null and not zero for the specified columns
df_updated.select("CurrentAmount","RegularAmount","IRBAmount", "IRBDetectionAmount", "IRBRevisedAmount") \
    .filter(
        (F.col("IRBAmount").isNotNull()) & 
        (F.col("IRBAmount") != 0) & 
        (F.col("IRBDetectionAmount").isNotNull()) & 
        (F.col("IRBDetectionAmount") != 0) & 
        (F.col("IRBRevisedAmount").isNotNull()) & 
        (F.col("IRBRevisedAmount") != 0)
    ) \
    .limit(5) \
    .show()

+-------------+-------------+------------------+------------------+----------------+
|CurrentAmount|RegularAmount|         IRBAmount|IRBDetectionAmount|IRBRevisedAmount|
+-------------+-------------+------------------+------------------+----------------+
|     14643.39|    113594.53|         -98951.14|              4.61|       -98955.75|
|      2528.52|      3716.89|          -1188.37|           5115.37|        -6303.74|
|    -20001.69|       1899.4|         -21901.09|           1367.44|       -23268.53|
|      45330.7|     12995.33|32335.370000000003|           42764.0|       -10428.63|
|     15137.15|      1757.29|          13379.86|           6214.08|         7165.78|
+-------------+-------------+------------------+------------------+----------------+

In [35]:
# negative_IRBRevisedAmount = df_updated.filter(F.col("IRBRevisedAmount") < 0)

# # Show the rows with negative IRBRevisedAmount
# negative_IRBRevisedAmount.show()

In [36]:
# table = 'ageing_cleaned' 
# spark.sql(f"CREATE NAMESPACE nessie.{table}").show()
# df_updated.writeTo(f"nessie.{table}.{table}_data_raw").createOrReplace()

In [37]:
# spark.sql("DROP table nessie.ageing_cleaned").show()

In [38]:

   # # df_cleaned.printSchema()
   #  # df_cleaned.show()
   #  table = table+'_cleaned' 
   #  df = df.repartition(200)    # Repartition the DataFrame
   #  try:
   #      if table in [r.namespace for r  in result]:
   #          logging.info(f"Table {table} exists, proceeding with appending data.")
   #          df.writeTo(f"nessie.{table}.{table}_data_raw").append()
   #      else:
   #          logging.info(f"Table {table} does not exist, creating one")
   #          spark.sql(f"CREATE NAMESPACE nessie.{table}").show()
   #          df.writeTo(f"nessie.{table}.{table}_data_raw").createOrReplace()        
   #  except Exception as e:
   #      logging.info(f"Data could not be added: {str(e)}")

## Transformation

In [122]:
from pyspark.sql.functions import col, to_date, year, month, sum as _sum

# Assuming `df` is your original flat dataframe
    # billing_month is between April and September

# Parse Last Payment Date to extract month and year for grouping
df_updated = df_updated.withColumn("LastPaymentDate", col("Last Payment Date").cast("date"))
df_updated = df_updated.withColumn("PaymentYear", year(col("LastPaymentDate")))
df_updated = df_updated.withColumn("PaymentMonth", month(col("LastPaymentDate")))

In [123]:
#add billing year and billing month 
from pyspark.sql import functions as F

# Assuming the 'billing_month' column is in the form YYYYMM as an integer
df_updated = df_updated.withColumn(
    "Year", F.substring(F.col("billingmonth").cast("string"), 1, 4).cast("int")
).withColumn(
    "Month", F.substring(F.col("billingmonth").cast("string"), 5, 2).cast("int")
)

# Show the updated DataFrame
df_updated.limit(1).show()

+--------------------+----------------+---------------+----------------+-------------+-------------+------+---+---------+-----------+----+-----+---------+----+---------------+--------------+------------+--------------+------------+--------------+----+-------------------+-----------------------+-------------+-----------------------+-----------------+-------------------+------------+----------+---------------+------------+--------+----+-----------+------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+------------+---------+---------+-------+--------------+---------------+--------------+------------+-------------------+-----------------+----------------------+--------------------+---------+--------+---------------+-----------+------------+----+-----+
|     AccountContract|Business Partner|Consumer Number|Contract Account|Billing Class|Rate Category|Region|IBC|  IBCName|Postal Code| OIP|Phase|Cycle Day| MRU|Sanctioned Load|Connected Load|Last DC Date|Last DC Reason|Premise Type| Customer Name| PMT|PSC Consumer Region|Strategic/Non-Strategic|Consumer Type|Industry Classification|Last Payment Date|Last Payment Amount|Meter Number|Meter Make|Device Category|BillingMonth|BillType| BCM|NormalUnits|NormalAmount|RegularUnits|RegularAmount|IRBDetectionUnits|IRBDetectionAmount|IRBRevisedUnits|IRBRevisedAmount|CurrentUnits|CurrentAmount|12MonthsAvgUnits|12MonthsAvgAmount|UnitBilledYTD|12MonthsUnits|12MonthsAmount|AmountBilled|LPSBilled|LPSWaived|Payment|ClosingBalance|SecurityDeposit|GrossBilledYTD|NetCreditYTD|12MonthsGrossBilled|12MonthsNetCredit|12MonthsAvgGrossBilled|12MonthsAvgNetCredit|IRBAmount|IRBUnits|LastPaymentDate|PaymentYear|PaymentMonth|Year|Month|
+--------------------+----------------+---------------+----------------+-------------+-------------+------+---+---------+-----------+----+-----+---------+----+---------------+--------------+------------+--------------+------------+--------------+----+-------------------+-----------------------+-------------+-----------------------+-----------------+-------------------+------------+----------+---------------+------------+--------+----+-----------+------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+------------+---------+---------+-------+--------------+---------------+--------------+------------+-------------------+-----------------+----------------------+--------------------+---------+--------+---------------+-----------+------------+----+-----+
|40004322120334078832|      0104327001|       LC446428|    400043221203|         NULL|         NULL|    R1|149|Orangi-II|        159|NULL| NULL|     NULL|NULL|           NULL|          NULL|        NULL|          NULL|       HOUSE|MUHAMMAD IMRAN|NULL|               NULL|                   NULL|         NULL|                   NULL|             NULL|               NULL|        NULL|      NULL|           NULL|      202305|    NULL|NULL|       NULL|        NULL|        NULL|         NULL|             NULL|              NULL|           NULL|            NULL|        NULL|         NULL|            NULL|             NULL|         NULL|         NULL|          NULL|        NULL|     NULL|     NULL|   NULL|          NULL|           NULL|          NULL|        NULL|               NULL|             NULL|                  NULL|                NULL|     NULL|    NULL|           NULL|       NULL|        NULL|2023|    5|
+--------------------+----------------+---------------+----------------+-------------+-------------+------+---+---------+-----------+----+-----+---------+----+---------------+--------------+------------+--------------+------------+--------------+----+-------------------+-----------------------+-------------+-----------------------+-----------------+-------------------+------------+----------+---------------+------------+--------+----+-----------+------------+------------+-------------+-----------------+------------------+---------------+----------------+------------+-------------+----------------+-----------------+-------------+-------------+--------------+------------+---------+---------+-------+--------------+---------------+--------------+------------+-------------------+-----------------+----------------------+--------------------+---------+--------+---------------+-----------+------------+----+-----+

In [42]:
df_updated.select("billingmonth","Year","Month").limit(1).show()

+------------+----+-----+
|billingmonth|Year|Month|
+------------+----+-----+
|  2023-04-01|2023|    4|
+------------+----+-----+

In [160]:
len(df_updated.columns)

72

In [124]:
#keepbillingmonth in date format for laying out charts
from pyspark.sql.functions import to_date, col, lpad, lit, concat

# Overwrite BillingMonth with a proper date (e.g., 2023-04-01)
df_updated = df_updated.withColumn(
    "BillingMonth",
    to_date(concat(lpad(col("BillingMonth").cast("string"), 6, "0"), lit("01")), "yyyyMMdd")
)

In [43]:
spark.sql("DROP TABLE nessie.starschema.ageing_fact")

DataFrame[]

In [44]:
# 1. Ageing_Fact
# save all 65 columns
# spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.starschema")
start = time.time()
df_updated.writeTo("nessie.starschema.ageing_fact").createOrReplace()
print("Time taken to append first batch: ",time.time()-start)

Time taken to append first batch:  46.322553396224976

#### Merge with crm's consumer dim

#### if ageingdata.month>3 and ageingdata.month<10 only valid for months of apr-sep

In [167]:
if 4 <= int(billing_month[4:6]) <= 9:
    print("yes")

yes

##### Consumer Handling

In [125]:
# crm
# Total complaints
# Most Occured Subject 

# Average Complaint Resolution Time (hrs)
# oms
# Average Fault Duration Time (hrs)


from pyspark.sql import functions as F
from pyspark.sql.functions import col
#for actual use it will be the data that we just read and cleaned
ageing_new_data = df_updated
#for testing read from nessie
# ageing_new_data = spark.read.table("nessie.starschema.ageing_fact")
# TEMP
crm_consumer_dim_ = spark.read.table("nessie.starschema.crm_consumer_dim")

In [126]:
# 2. Consumer_Dim
# 2. IBC_Dim: Group by IBCCode and other IBC-related fields
# ageing_new_data = df_updated
# Perform the inner join between ageing_new_data and crm_consumer_dim_ on BillingMonth, Year, and AccountContract
consumer_ageing_crm_dim = ageing_new_data.alias("ageing").join(
    crm_consumer_dim_.alias("crm"), 
    (F.col("ageing.AccountContract") == F.col("crm.AccountContract")) &
    (F.col("ageing.Month") == F.col("crm.Month")) &
    (F.col("ageing.Year") == F.col("crm.Year")),
    how='inner'
).groupBy("ageing.AccountContract","ageing.Month","ageing.Year").agg(
    # First value of relevant Ageing columns (from ageing_new_data)
    F.first("ageing.BillingMonth").alias("Billing Month"),
    F.first("ageing.Business Partner").alias("Business_Partner"),
    F.first("ageing.Consumer Type").alias("ConsumerType"),
    F.first("ageing.Customer Name").alias("ConsumerName"),
    F.first("ageing.Postal Code").alias("PostalCode"),
    F.first("ageing.Billing Class").alias("BillingClass"),
    F.first("ageing.Phase").alias("Phase"),
    F.first("ageing.OIP").alias("OIP"),
    F.first("ageing.Premise Type").alias("Premise_Type"),
    F.first("ageing.IBCName").alias("IBCName"),
    F.first("ageing.IBC").alias("IBC_Code"),
    F.first("ageing.BCM").alias("Billing Charge Mode (BCM)"),
    # First value of relevant crm columns (from crm_consumer_dim)
    # F.first("crm.Month").alias("Month"), not needed cuz already contained in group by
    # F.first("crm.Year").alias("Year"),
    F.first("crm.StarCustomer").alias("StarCustomer"),

    # Not taking aggregates from ageing because each account contract is unique in a month
    F.first("ageing.IRBAmount").alias("IRB Amount"),
    F.first("ageing.IRBUnits").alias("IRB Units"),
    F.first("ageing.Sanctioned Load").alias("Sanctioned Load"),
    F.first("ageing.Connected Load").alias("Connected Load"),
    F.first("ageing.CurrentAmount").alias("Current Amount"),
    F.first("ageing.CurrentUnits").alias("Current Units"),
    
    # Aggregated values from CRM
    F.first("crm.Complaint Counts (Apr-Sep_23-24)").alias("Complaint Counts"),
    F.first("crm.Average Complaint Resolution Time (mins)").alias("Average Complaint Resolution Time (mins)")
)

# Show the result

In [127]:
consumer_ageing_crm_dim.limit(15).show()

+--------------------+-----+----+-------------+----------------+--------------------+--------------------+----------+------------+----------+---+--------------------+-----------+--------+-------------------------+-------------+----------+---------+---------------+--------------+--------------+-------------+----------------+----------------------------------------+
|     AccountContract|Month|Year|Billing Month|Business_Partner|        ConsumerType|        ConsumerName|PostalCode|BillingClass|     Phase|OIP|        Premise_Type|    IBCName|IBC_Code|Billing Charge Mode (BCM)| StarCustomer|IRB Amount|IRB Units|Sanctioned Load|Connected Load|Current Amount|Current Units|Complaint Counts|Average Complaint Resolution Time (mins)|
+--------------------+-----+----+-------------+----------------+--------------------+--------------------+----------+------------+----------+---+--------------------+-----------+--------+-------------------------+-------------+----------+---------+---------------+--------------+--------------+-------------+----------------+----------------------------------------+
|40000000131530000031|    5|2023|   2023-05-01|      0100000041|DOL Connection, 3...|         AQEEL AHMED|       136|           B|   POLY<20|IND|            INDUSTRY|N.Nazimabad|     124|                   Normal|       Others|       0.0|      0.0|           21.0|          56.0|     186690.47|     3751.924|               2|                      245.70000457763672|
|40000000239730000138|    5|2023|   2023-05-01|      0100000149|      DOL Connection|ARAB EMIRATES KAR...|       082|        A1-R|POLY20TO90|ORD|OFFICE - PRIVATE ...|    Defence|     118|                   Normal|       Others|       0.0|      0.0|            2.0|          56.0|     1549548.2|    28912.124|               2|                       51.89999961853027|
|40000000458630000347|    5|2023|   2023-05-01|      0100000368|  Bulk LT Connection|M/S TELENOR PVT L...|       094|           B|POLY20TO90|IND|                SHOP|N.Nazimabad|     124|                   Normal|       Others|     32.64|      0.0|           47.0|          47.0|     131778.44|      2067.23|               1|                      207.60000610351562|
|40000000934030000703|    5|2023|   2023-05-01|      0100000844|DOL Connection, 3...|M/S MONIKA S EMBR...|       136|           B|   POLY<20|IND|            INDUSTRY|N.Nazimabad|     124|                   Normal|       Others|       0.0|      0.0|           11.0|          18.0|      17675.74|        357.0|               1|                       345.6000061035156|
|40000001050030000816|    5|2023|   2023-05-01|      0100000960|DOL Connection, 3...|       MR NASIR KHAN|       136|           B|   POLY<20|IND|               HOTEL|N.Nazimabad|     124|                   Normal|       Others|       0.0|      0.0|           45.0|          45.0|     151719.01|       2352.0|               3|                        89.5999984741211|
|40000001383630001130|    5|2023|   2023-05-01|      0100001293|      DOL Connection|M/S BLUE SQUARE I...|       136|        A2-C|    SINGLE|IND|                SHOP|N.Nazimabad|     124|                   Normal|       Others|       0.0|      0.0|            1.0|           1.0|      15020.18|        256.0|               4|                      60.900001525878906|
|40000001535930166677|    5|2023|   2023-05-01|      0100004345|      DOL Connection|   MR FAISAL AHMED .|       136|        A1-R|   POLY<20|ORD|               HOUSE|N.Nazimabad|     124|                   Normal|Star Customer|       0.0|      0.0|            3.0|           3.0|      14710.06|        392.0|               2|                      101.99999618530273|
|40000001570730170383|    5|2023|   2023-05-01|      0100004439|      DOL Connection|  MR . ABDUL SAMAD .|       136|        A1-R|    SINGLE|ORD|               HOUSE|N.Nazimabad|     124|                   Normal|Star Customer|       0.0|      0.0|            1.0|           1.0|      18892.66|        458.0|               1|                      262.20001220703125|
|40000002345930183879|    5|2023|   2023-05-01|      0100005249|      DOL Connection|MR. MUHAMMAD HUSS...|       181|        A1-R|   POLY<20|ORD|                FLAT|    Defence|     118|                   Normal|       Others|       0.0|      0.0|            4.0|           4.0|       7241.66|        253.0|               3|                       134.0000025431315|
|40000003462030179931|    5|2023|   2023-05-01|      0100134975|      DOL Connection|CAP. AKHTAR JAVAID .|       181|        A1-R|   POLY<20|ORD|               HOUSE|    Defence|     118|                   Normal|Star Customer|       0.0|      0.0|            5.0|           5.0|      50512.76|       1188.0|               1|                      221.39999389648438|
|40000003664730176612|    5|2023|   2023-05-01|      0100087915|      DOL Connection|MR. MEHBOOB SIDRU...|       136|        A1-R|    SINGLE|ORD|                FLAT|N.Nazimabad|     124|                   Normal|       Others|       0.0|      0.0|            2.0|           2.0|      13380.09|        348.0|               1|                       73.80000305175781|
|40000003857730180634|    5|2023|   2023-05-01|      0100135137|      DOL Connection|  MR. BILAL-USMAN. .|       181|        A1-R|   POLY<20|ORD|               HOUSE|    Defence|     118|                   Normal|       Others|       0.0|      0.0|            8.0|           8.0|      78260.84|       1798.0|               2|                      137.39999771118164|
|40000004604130188781|    5|2023|   2023-05-01|      0100132883|      DOL Connection|MRS. FARZANA SHAU...|       181|        A1-R|   POLY<20|ORD|               HOUSE|    Defence|     118|                   Normal|Star Customer|       0.0|      0.0|           15.0|           1.0|     105588.04|       2354.0|               1|                                   423.0|
|40000004778130180095|    5|2023|   2023-05-01|      0100131166|      DOL Connection|  MRS SAEEDA ANJUM .|       136|        A1-R|    SINGLE|ORD|                FLAT|N.Nazimabad|     124|                   Normal|       Others|       0.0|      0.0|            1.0|           1.0|       6920.45|        203.0|               1|                      322.79998779296875|
|40000005008130176993|    5|2023|   2023-05-01|      0100063573|      DOL Connection|MR MUHAMMAD ASHRAF .|       136|        A1-R|    SINGLE|ORD|               HOUSE|N.Nazimabad|     124|                   Normal|Star Customer|       0.0|      0.0|            3.0|           3.0|       7972.75|        260.0|               1|                       34.20000076293945|
+--------------------+-----+----+-------------+----------------+--------------------+--------------------+----------+------------+----------+---+--------------------+-----------+--------+-------------------------+-------------+----------+---------+---------------+--------------+--------------+-------------+----------------+----------------------------------------+

In [70]:
spark.sql("DROP TABLE nessie.starschema.consumer_ageing_crm_dim")

DataFrame[]

In [128]:
consumer_ageing_crm_dim.writeTo("nessie.starschema.consumer_ageing_crm_dim").append()

In [133]:
spark.stop()

In [ ]:
# ###### For other aggregates:
# # 2. Consumer_Dim
# # 2. IBC_Dim: Group by IBCCode and other IBC-related fields
# # ageing_new_data = df_updated
# # Perform the inner join between ageing_new_data and crm_consumer_dim_ on BillingMonth, Year, and AccountContract
# consumer_ageing_crm_dim = ageing_new_data.alias("ageing").join(
#     crm_consumer_dim_.alias("crm"), 
#     (F.col("ageing.AccountContract") == F.col("crm.AccountContract")) &
#     (F.col("ageing.Month") == F.col("crm.Month")) &
#     (F.col("ageing.Year") == F.col("crm.Year")),
#     how='inner'
# ).groupBy("ageing.AccountContract","ageing.Month","ageing.Year").agg(
#     # First value of relevant Ageing columns (from ageing_new_data)
#     F.first("ageing.BillingMonth").alias("Billing Month"),
#     F.first("ageing.Business Partner").alias("Business_Partner"),
#     F.first("ageing.Consumer Type").alias("ConsumerType"),
#     F.first("ageing.Customer Name").alias("ConsumerName"),
#     F.first("ageing.Postal Code").alias("PostalCode"),
#     F.first("ageing.Billing Class").alias("BillingClass"),
#     F.first("ageing.Phase").alias("Phase"),
#     F.first("ageing.OIP").alias("OIP"),
#     F.first("ageing.Premise Type").alias("Premise_Type"),
#     F.first("ageing.IBCName").alias("IBCName"),
#     F.first("ageing.IBC").alias("IBC_Code"),
#     # First value of relevant Ageing columns (from crm_consumer_dim)
#     # F.first("crm.Month").alias("Month"), not needed cuz already contained in group by
#     # F.first("crm.Year").alias("Year"),
#     F.first("crm.StarCustomer").alias("StarCustomer"),

#     # Aggregations from Ageing Data (IRB related columns)
#     F.sum("ageing.IRBAmount").alias("Total IRB Amount"),
#     F.sum("ageing.IRBUnits").alias("Total IRB Units"),
#     F.avg("ageing.IRBAmount").alias("Average IRB Amount"),
#     F.avg("ageing.IRBUnits").alias("Average IRB Units"),
#     # Not taking aggregates from ageing because each account contract is unique in a month
#     F.first("ageing.Sanctioned Load").alias("Total Sanctioned Load"),
#     F.sum("ageing.Connected Load").alias("Total Connected Load"),
#     F.avg("ageing.Sanctioned Load").alias("Average Sanctioned Load"),
#     F.avg("ageing.Connected Load").alias("Average Connected Load"),
    
#     F.sum("ageing.CurrentAmount").alias("Total Current Amount"),
#     F.avg("ageing.CurrentAmount").alias("Average Current Amount"),
#     F.sum("ageing.CurrentUnits").alias("Total Current Units"),
#     F.avg("ageing.CurrentUnits").alias("Average Current Units"),
    
#     # Aggregated values from CRM
#     F.first("crm.Complaint Counts (Apr-Sep_23-24)").alias("Complaint Counts"),
#     F.first("crm.Average Complaint Resolution Time (mins)").alias("Average Complaint Resolution Time (mins)")
# )

# # Show the result

#### IBC Handling

In [49]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col
#for actual use it will be the data that we just read and cleaned
ageing_new_data = df_updated
#TEST ONLY 
# ageing_new_data = spark.read.table("nessie.starschema.ageing_fact")
ibc_crm_dim_ = spark.read.table("nessie.starschema.ibc_crm_dim")

##### With just crm, 33 ibcs

In [50]:
# 2. Consumer_Dim
# 2. IBC_Dim: Group by IBCCode and other IBC-related fields
from pyspark.sql import functions as F
from pyspark.sql.functions import col

# Perform the inner join between ageing_new_data and crm_consumer_dim_ on BillingMonth, Year, and AccountContract
ibc_crm_ageing_dim_33 = ageing_new_data.alias("ageing").join(
    ibc_crm_dim_.alias("ibc_crm"), 
    (F.col("ageing.IBC") == F.col("ibc_crm.IBCCode")) &
    (F.col("ageing.Month") == F.col("ibc_crm.Month")) &
    (F.col("ageing.Year") == F.col("ibc_crm.Year")),
    how='inner'
).groupBy("ageing.IBC", "ageing.Month", "ageing.Year").agg(
    # First value of relevant Ageing columns (from ageing_new_data)
    F.first("ageing.IBCName").alias("IBC Name"),
    F.first("ageing.Region").alias("Region"),
    F.first("ageing.BillingMonth").alias("Billing Month"),
    
    # Aggregations from Ageing Data (IRB related columns)
    F.first("ibc_crm.Complaint Counts").alias("Complaint Counts"),
    F.first("ibc_crm.Average Complaint Resolution Time (mins)").alias("Average Complaint Resolution Time (mins)"),
    
    F.sum("ageing.CurrentAmount").alias("Total Current Amount"),
    F.avg("ageing.CurrentAmount").alias("Average Current Amount"),
    F.sum("ageing.CurrentUnits").alias("Total Current Units"),
    F.avg("ageing.CurrentUnits").alias("Average Current Units"),

    F.sum("ageing.Sanctioned Load").alias("Total Sanctioned Load"),
    F.avg("ageing.Sanctioned Load").alias("Average Sanctioned Load"),
    F.sum("ageing.Connected Load").alias("Total Connected Load"),
    F.avg("ageing.Connected Load").alias("Average Connected Load"),
    
    F.sum("ageing.IRBAmount").alias("Total IRB Amount"),
    F.avg("ageing.IRBAmount").alias("Average IRB Amount"),
    F.sum("ageing.IRBUnits").alias("Total IRB_Units"),
    F.avg("ageing.IRBUnits").alias("Average IRB Units"),
    # Aggregated values from CRM
    # F.first("crm.Month").alias("Month"),
    # F.first("crm.Year").alias("Year"),
)

# Show the result
# ibc_crm_ageing_dim_33.limit(1).show()

In [52]:
# spark.sql("DROP TABLE nessie.starschema.ibc_crm_ageing_dim_33")

In [53]:
ibc_crm_ageing_dim_33.writeTo("nessie.starschema.ibc_crm_ageing_dim_33").createOrReplace()
# ibc_crm_ageing_dim_33.writeTo("nessie.starschema.ibc_crm_ageing_dim_33").append()

##### Now all three (ageing crm oms) joined 4 ibcs

In [54]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col
#for actual use it will be the data that we just read and cleaned
ageing_new_data = df_updated
#TEST ONLY 
# ageing_new_data = spark.read.table("nessie.starschema.ageing_fact")
ibc_oms_crm_dim = spark.read.table("nessie.starschema.ibc_oms_crm_dim")

In [55]:
# 2. Consumer_Dim
# 2. IBC_Dim: Group by IBCCode and other IBC-related fields
from pyspark.sql import functions as F
from pyspark.sql.functions import col

# Perform the inner join between ageing_new_data and crm_consumer_dim_ on BillingMonth, Year, and AccountContract
ibc_all_dim_4 = ageing_new_data.alias("ageing").join(
    ibc_oms_crm_dim.alias("ibc_crm_oms"), 
    (F.col("ageing.IBC") == F.col("ibc_crm_oms.IBCCode")) &
    (F.col("ageing.Month") == F.col("ibc_crm_oms.Month")) &
    (F.col("ageing.Year") == F.col("ibc_crm_oms.Year")),
    how='inner'
).groupBy("ageing.IBC", "ageing.Month", "ageing.Year").agg(
    # First value of relevant Ageing columns (from ageing_new_data)
    F.first("ageing.IBCName").alias("IBC Name"),
    F.first("ageing.Region").alias("Region"),
    F.first("ageing.BillingMonth").alias("Billing Month"),
    # Aggregations are already calculated in oms crm dim
    F.first("ibc_crm_oms.Complaint Counts").alias("Complaint Counts"),
    F.first("ibc_crm_oms.Average Complaint Resolution Time (mins)").alias("Average Complaint Resolution Time (mins)"),
    F.first("ibc_crm_oms.Total Outages/Faults").alias("Total Outages/Faults"),
    F.first("ibc_crm_oms.Most_Occurred_Fault").alias("Most Occurred Fault"),
    F.first("ibc_crm_oms.Most_Occurred_Fault_Frequency").alias("Most Occurred Fault Frequency"),
    F.first("ibc_crm_oms.Average Fault Turn-Around Time (mins)").alias("Average Fault Turn-Around Time (mins)"),
    F.first("ibc_crm_oms.Average Fault Duration (mins)").alias("Average Fault Duration (mins)"),
    F.first("ibc_crm_oms.Rain Frequency").alias("Rain Frequency"),

    # Aggregations from Ageing Data (IRB related columns)
    
    F.sum("ageing.CurrentAmount").alias("Total Current Amount"),
    F.avg("ageing.CurrentAmount").alias("Average Current Amount"),
    F.sum("ageing.CurrentUnits").alias("Total Current Units"),
    F.avg("ageing.CurrentUnits").alias("Average Current Units"),

    F.sum("ageing.Sanctioned Load").alias("Total Sanctioned Load"),
    F.avg("ageing.Sanctioned Load").alias("Average Sanctioned Load"),
    F.sum("ageing.Connected Load").alias("Total Connected Load"),
    F.avg("ageing.Connected Load").alias("Average Connected Load"),
    
    F.sum("ageing.IRBAmount").alias("Total IRB Amount"),
    F.avg("ageing.IRBAmount").alias("Average IRB Amount"),
    F.sum("ageing.IRBUnits").alias("Total IRB_Units"),
    F.avg("ageing.IRBUnits").alias("Average IRB Units"),
    # Aggregated values from CRM
    # F.first("crm.Month").alias("Month"),
    # F.first("crm.Year").alias("Year"),
)

# Show the result
# ibc_all_dim_4.limit(1).show()

In [56]:
spark.sql("DROP TABLE nessie.starschema.ibc_all_dim_4")

DataFrame[]

In [57]:
ibc_all_dim_4.writeTo("nessie.starschema.ibc_all_dim_4").createOrReplace()

#### Now IBC OMS x Ageing

In [91]:
ibc_oms_dim = spark.read.table("nessie.starschema.ibc_oms_dim")

In [59]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col

# Perform the inner join between ageing_new_data and crm_consumer_dim_ on BillingMonth, Year, and AccountContract
ibc_oms_ageing_dim_4 = ageing_new_data.alias("ageing").join(
    ibc_oms_dim.alias("ibc_oms"), 
    (F.col("ageing.IBCName") == F.col("ibc_oms.IBC")) & #oms does not have ibc codes
    (F.col("ageing.Month") == F.col("ibc_oms.Month")) &
    (F.col("ageing.Year") == F.col("ibc_oms.Year")),
    how='inner'
).groupBy("ageing.IBC", "ageing.Month", "ageing.Year").agg(
    # First value of relevant Ageing columns (from ageing_new_data)
    F.first("ageing.IBCName").alias("IBC Name"),
    F.first("ageing.Region").alias("Region"),
    F.first("ageing.BillingMonth").alias("Billing Month"),
    # Aggregations are already calculated in oms ibc dim
    F.first("ibc_oms.Total Outages/Faults").alias("Total Outages/Faults"),
    F.first("ibc_oms.Most_Occurred_Fault").alias("Most Occurred Fault"),
    F.first("ibc_oms.Most_Occurred_Fault_Frequency").alias("Most Occurred Fault Frequency"),
    F.first("ibc_oms.Average Fault Turn-Around Time (mins)").alias("Average Fault Turn-Around Time (mins)"),
    F.first("ibc_oms.Average Fault Duration (mins)").alias("Average Fault Duration (mins)"),
    F.first("ibc_oms.Rain Frequency").alias("Rain Frequency"),

    # Aggregations from Ageing Data (IRB related columns)
    
    F.sum("ageing.CurrentAmount").alias("Total Current Amount"),
    F.avg("ageing.CurrentAmount").alias("Average Current Amount"),
    F.sum("ageing.CurrentUnits").alias("Total Current Units"),
    F.avg("ageing.CurrentUnits").alias("Average Current Units"),

    F.sum("ageing.Sanctioned Load").alias("Total Sanctioned Load"),
    F.avg("ageing.Sanctioned Load").alias("Average Sanctioned Load"),
    F.sum("ageing.Connected Load").alias("Total Connected Load"),
    F.avg("ageing.Connected Load").alias("Average Connected Load"),
    
    F.sum("ageing.IRBAmount").alias("Total IRB Amount"),
    F.avg("ageing.IRBAmount").alias("Average IRB Amount"),
    F.sum("ageing.IRBUnits").alias("Total IRB_Units"),
    F.avg("ageing.IRBUnits").alias("Average IRB Units"),
    # Aggregated values from CRM
    # F.first("crm.Month").alias("Month"),
    # F.first("crm.Year").alias("Year"),
)

# Show the result
# ibc_oms_ageing_dim_4.limit(5).show(truncate=False)

In [61]:
spark.sql("DROP TABLE nessie.starschema.ibc_oms_ageing_dim_4")

DataFrame[]

In [62]:
ibc_oms_ageing_dim_4.writeTo("nessie.starschema.ibc_oms_ageing_dim_4").createOrReplace()

### PMT CRM Ageing

In [263]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col
#for actual use it will be the data that we just read and cleaned
ageing_new_data = df_updated
#TEST ONLY 
# ageing_new_data = spark.read.table("nessie.starschema.ageing_fact")
pmt_crm_dim = spark.read.table("nessie.starschema.pmt_crm_dim")

In [64]:
# 2. Consumer_Dim
# 2. IBC_Dim: Group by IBCCode and other IBC-related fields
from pyspark.sql import functions as F
from pyspark.sql.functions import col

# Perform the inner join between ageing_new_data and crm_consumer_dim_ on BillingMonth, Year, and AccountContract
pmt_crm_ageing_dim = ageing_new_data.alias("ageing").join(
    pmt_crm_dim.alias("pmt_crm"), 
    (F.col("ageing.PMT") == F.col("pmt_crm.PMT")) &
    (F.col("ageing.Month") == F.col("pmt_crm.Month")) &
    (F.col("ageing.Year") == F.col("pmt_crm.Year")),
    how='inner'
).groupBy("ageing.PMT", "ageing.Month", "ageing.Year").agg(
    # First value of relevant Ageing columns (from ageing_new_data)
    F.first("pmt_crm.PMT Name").alias("PMT Name"),    
    F.first("ageing.IBC").alias("IBC Code"),
    F.first("ageing.IBCName").alias("IBC Name"),
    F.first("ageing.Region").alias("Region"),
    F.first("ageing.BillingMonth").alias("Billing Month"),
    # Aggregations are already calculated in oms crm dim
    F.first("pmt_crm.Complaint Counts").alias("Complaint Counts"),
    F.first("pmt_crm.Average Complaint Resolution Time (mins)").alias("Average Complaint Resolution Time (mins)"),

    # Aggregations from Ageing Data (IRB related columns)
    
    F.sum("ageing.CurrentAmount").alias("Total Current Amount"),
    F.avg("ageing.CurrentAmount").alias("Average Current Amount"),
    F.sum("ageing.CurrentUnits").alias("Total Current Units"),
    F.avg("ageing.CurrentUnits").alias("Average Current Units"),

    F.sum("ageing.Sanctioned Load").alias("Total Sanctioned Load"),
    F.avg("ageing.Sanctioned Load").alias("Average Sanctioned Load"),
    F.sum("ageing.Connected Load").alias("Total Connected Load"),
    F.avg("ageing.Connected Load").alias("Average Connected Load"),
    
    F.sum("ageing.IRBAmount").alias("Total IRB Amount"),
    F.avg("ageing.IRBAmount").alias("Average IRB Amount"),
    F.sum("ageing.IRBUnits").alias("Total IRB_Units"),
    F.avg("ageing.IRBUnits").alias("Average IRB Units"),
    # Aggregated values from CRM
    # F.first("crm.Month").alias("Month"),
    # F.first("crm.Year").alias("Year"),
)

# Show the result
# pmt_crm_ageing_dim.limit(1).show()

In [65]:
spark.sql("DROP TABLE nessie.starschema.pmt_crm_ageing_dim")
pmt_crm_ageing_dim.writeTo("nessie.starschema.pmt_crm_ageing_dim").createOrReplace()
# pmt_crm_ageing_dim.writeTo("nessie.starschema.pmt_crm_ageing_dim").append()

In [189]:
spark.stop()

## CRM

In [190]:
# spark = SparkSession.builder.master("local[*]").config(conf=conf).getOrCreate()
# print("Spark Session Started")
spark = SparkSession.builder.config(conf=conf).getOrCreate()
# print("Spark Session Started")
# spark = SparkSession.builder.master("local[*]").config(conf=conf).getOrCreate()
print("Spark Session Started")

Spark Session Started

In [191]:
import re
from pyspark.sql.functions import lit
csv = "/mnt/HabibData/CRM_202301-202501.csv"
# match = re.search(r'_(\d{6})', csv)# Extract month and year from the filename
# billing_month = match.group(1) if match else "Unknown"

# Read the CSV file into a DataFrame
crm_df = spark.read \
    .option("delimiter", "|") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv)

In [7]:
crm_df.limit(1).show()

+--------------------+----------+----------------+--------------------+----------+------------+----------+------------------+------------------+------------+--------------------+--------------------+-------+-----------------+------------------+------------------+---------------------------+------------------+------------------+---------------------+--------------------+-------------------+-------+------------+-----------+----------+------+----------+---------+----+-------------------+-----------+----------+------------+----------------+--------------------+-----------------+--------+--------+---------------+----+-----+---------+---------+-----------+----------+-------------------+----------+-----------+-----------------------+----------------+--------+---+---------+-----------+-------------+---------+-------------+-------------+-------------+--------------------+--------------+---------+------+------+-------------+---------+------------+-------------+---------------+-------------+-------+------------+---------+---------+-------------------+-----------------+---------------+----------+--------------+----------------+----------+
|     AccountContract|Ticket No.|Business_Partner|                GUID|   IBCName|PROCESS_TYPE|CREATED_BY|        CREATED_AT|         UDATETIME|LatestStatus|          Supervisor|             Lineman|  MTLNo|CompletionRemarks| CompletedDateTime|    ClosedDateTime|ClosedOnInteractionDateTime| InProcessDateTime|      OpenDateTime|ForwardedToHTDateTime|HTDispatchedDateTime|Medium Of Complaint|IBCCode|CREATED_DATE|     Source|Created By|Region|Subject_ID|Reason_ID| Key|      Subject Group|     Reason|   Subject|GroundTATHrs|    GroundTATNum|TimeElapsedCompleted|TimeElapsedClosed|  O to I|  I to C|ReOpenCountTemp|Year|Month|GroundTAT|TargetTAT|ReOpenCount|Closed Tag|       %IntervalKey| TATBusted|SDR/Not SDR|TimeElapsedAtLastReload|Contract Account|Contract|OIP|  MNCcode|Postal Code|Billing Class|Cycle Day|Rate Category|Consumer Type|Customer Name|    Customer Address|ConsumerStatus|PMT Count| Phase|   PMT|     PMT Name|Feeder ID| Feeder Name|Mobile Number|LandLine Number|Email Address|Remarks|StarCustomer|  DueDate|IssueDate|Last Payment Amount|Last Payment Date|LastBillingMode|LastDCDate|LastDCRecovery|LastSIRCreatedOn|UnitBilled|
+--------------------+----------+----------------+--------------------+----------+------------+----------+------------------+------------------+------------+--------------------+--------------------+-------+-----------------+------------------+------------------+---------------------------+------------------+------------------+---------------------+--------------------+-------------------+-------+------------+-----------+----------+------+----------+---------+----+-------------------+-----------+----------+------------+----------------+--------------------+-----------------+--------+--------+---------------+----+-----+---------+---------+-----------+----------+-------------------+----------+-----------+-----------------------+----------------+--------+---+---------+-----------+-------------+---------+-------------+-------------+-------------+--------------------+--------------+---------+------+------+-------------+---------+------------+-------------+---------------+-------------+-------+------------+---------+---------+-------------------+-----------------+---------------+----------+--------------+----------------+----------+
|40002933016432866064|6018670040|      0102934244|75BA21661686067EE...|Liaqatabad|        YSVR|     CSR22|18-Apr-24 21:51:36|19-Apr-24 11:05:14|      Closed|MAZHAR BILAL - LI...|MUHAMMAD ADEEL SH...|JU-3184|             Null|19-Apr-24 01:05:10|19-Apr-24 11:05:14|                       NULL|18-Apr-24 23:23:43|18-Apr-24 21:52:30|                 NULL|                NULL|     Telephone call|    127|   18-Apr-24|Call Center|     CSR22|    R4|      YS28|     YR97|NULL|Technical Complaint|Feeder Trip|Supply Off|    03:13:34|0.13442129629402|            03:13:34|         13:13:38|01:31:13|01:41:27|              0|2024|  Apr|     3.23|     4.25|          0|    Closed|Technical Complaint|Within TAT|    Non-SDR|                   3.23|    400029330164|32866064|ORD|Undefined|        144|         A1-R|        8|         A1-R|         NULL|   NASIR KHAN|PLOT NO. 944 , BL...|           ACT|        1|SINGLE|500530|MADINI MASJID|     3107|Sarafa Bazar|   3131032682|           Null|         NULL|   NULL|        NULL|5/30/2019|5/16/2019|              1,500|      29-Mar-2021|         Normal|      NULL|          NULL|            NULL|       280|
+--------------------+----------+----------------+--------------------+----------+------------+----------+------------------+------------------+------------+--------------------+--------------------+-------+-----------------+------------------+------------------+---------------------------+------------------+------------------+---------------------+--------------------+-------------------+-------+------------+-----------+----------+------+----------+---------+----+-------------------+-----------+----------+------------+----------------+--------------------+-----------------+--------+--------+---------------+----+-----+---------+---------+-----------+----------+-------------------+----------+-----------+-----------------------+----------------+--------+---+---------+-----------+-------------+---------+-------------+-------------+-------------+--------------------+--------------+---------+------+------+-------------+---------+------------+-------------+---------------+-------------+-------+------------+---------+---------+-------------------+-----------------+---------------+----------+--------------+----------------+----------+

In [192]:
# NULL values
columns_to_remove = [
      "LastDCDate",
    "LastDCRecovery",
    "HTDispatchedDateTime",
    "ForwardedToHTDateTime",
    "Key",
    "LastSIRCreatedOn",
    "Remarks",
    "ClosedOnInteractionDateTime",
    "CompletionRemarks",
    "%IntervalKey",
    "MNCcode",
    "Subject Group",
    "Contract",
    "Contract Account",
    "GroundTATNum"]# fazool hai
    
crm_df_reduced = crm_df.drop(*columns_to_remove)    # Drop the columns from the DataFrame

In [86]:
num_columns = len(crm_df_reduced.columns)
print(f"Number of columns: {num_columns}")

Number of columns: 67

In [193]:
crm_df_reduced = crm_df_reduced.filter(crm_df_reduced.ConsumerStatus == 'ACT')

In [194]:
crm_df_reduced = crm_df_reduced.drop('CustomerStatus')    # Drop the columns from the DataFrame

In [265]:

ageing_new_data.dtypes

[('AccountContract', 'string'),
 ('Business Partner', 'string'),
 ('Consumer Number', 'string'),
 ('Contract Account', 'bigint'),
 ('Billing Class', 'string'),
 ('Rate Category', 'string'),
 ('Region', 'string'),
 ('IBC', 'string'),
 ('IBCName', 'string'),
 ('Postal Code', 'string'),
 ('OIP', 'string'),
 ('Phase', 'string'),
 ('Cycle Day', 'string'),
 ('MRU', 'string'),
 ('Sanctioned Load', 'double'),
 ('Connected Load', 'double'),
 ('Last DC Date', 'string'),
 ('Last DC Reason', 'int'),
 ('Premise Type', 'string'),
 ('Customer Name', 'string'),
 ('PMT', 'int'),
 ('PSC Consumer Region', 'string'),
 ('Strategic/Non-Strategic', 'string'),
 ('Consumer Type', 'string'),
 ('Industry Classification', 'string'),
 ('Last Payment Date', 'timestamp'),
 ('Last Payment Amount', 'double'),
 ('Meter Number', 'string'),
 ('Meter Make', 'string'),
 ('Device Category', 'string'),
 ('BillingMonth', 'date'),
 ('BillType', 'string'),
 ('BCM', 'string'),
 ('NormalUnits', 'double'),
 ('NormalAmount', 'double'),
 ('RegularUnits', 'double'),
 ('RegularAmount', 'double'),
 ('IRBDetectionUnits', 'double'),
 ('IRBDetectionAmount', 'double'),
 ('IRBRevisedUnits', 'double'),
 ('IRBRevisedAmount', 'double'),
 ('CurrentUnits', 'double'),
 ('CurrentAmount', 'double'),
 ('12MonthsAvgUnits', 'double'),
 ('12MonthsAvgAmount', 'double'),
 ('UnitBilledYTD', 'double'),
 ('12MonthsUnits', 'double'),
 ('12MonthsAmount', 'double'),
 ('AmountBilled', 'double'),
 ('LPSBilled', 'double'),
 ('LPSWaived', 'double'),
 ('Payment', 'double'),
 ('ClosingBalance', 'double'),
 ('SecurityDeposit', 'double'),
 ('GrossBilledYTD', 'double'),
 ('NetCreditYTD', 'double'),
 ('12MonthsGrossBilled', 'double'),
 ('12MonthsNetCredit', 'double'),
 ('12MonthsAvgGrossBilled', 'double'),
 ('12MonthsAvgNetCredit', 'double'),
 ('IRBAmount', 'double'),
 ('IRBUnits', 'double'),
 ('LastPaymentDate', 'date'),
 ('PaymentYear', 'int'),
 ('PaymentMonth', 'int'),
 ('Year', 'int'),
 ('Month', 'int')]

In [90]:
# df_reduced.count()
crm_df.dtypes

[('AccountContract', 'decimal(20,0)'),
 ('Ticket No.', 'bigint'),
 ('Business_Partner', 'string'),
 ('GUID', 'string'),
 ('IBCName', 'string'),
 ('PROCESS_TYPE', 'string'),
 ('CREATED_BY', 'string'),
 ('CREATED_AT', 'string'),
 ('UDATETIME', 'string'),
 ('LatestStatus', 'string'),
 ('Supervisor', 'string'),
 ('Lineman', 'string'),
 ('MTLNo', 'string'),
 ('CompletionRemarks', 'string'),
 ('CompletedDateTime', 'string'),
 ('ClosedDateTime', 'string'),
 ('ClosedOnInteractionDateTime', 'string'),
 ('InProcessDateTime', 'string'),
 ('OpenDateTime', 'string'),
 ('ForwardedToHTDateTime', 'string'),
 ('HTDispatchedDateTime', 'string'),
 ('Medium Of Complaint', 'string'),
 ('IBCCode', 'string'),
 ('CREATED_DATE', 'string'),
 ('Source', 'string'),
 ('Created By', 'string'),
 ('Region', 'string'),
 ('Subject_ID', 'string'),
 ('Reason_ID', 'string'),
 ('Key', 'string'),
 ('Subject Group', 'string'),
 ('Reason', 'string'),
 ('Subject', 'string'),
 ('GroundTATHrs', 'string'),
 ('GroundTATNum', 'double'),
 ('TimeElapsedCompleted', 'string'),
 ('TimeElapsedClosed', 'string'),
 ('O to I', 'string'),
 ('I to C', 'string'),
 ('ReOpenCountTemp', 'int'),
 ('Year', 'int'),
 ('Month', 'string'),
 ('GroundTAT', 'double'),
 ('TargetTAT', 'string'),
 ('ReOpenCount', 'int'),
 ('Closed Tag', 'string'),
 ('%IntervalKey', 'string'),
 ('TATBusted', 'string'),
 ('SDR/Not SDR', 'string'),
 ('TimeElapsedAtLastReload', 'double'),
 ('Contract Account', 'bigint'),
 ('Contract', 'int'),
 ('OIP', 'string'),
 ('MNCcode', 'string'),
 ('Postal Code', 'string'),
 ('Billing Class', 'string'),
 ('Cycle Day', 'int'),
 ('Rate Category', 'string'),
 ('Consumer Type', 'string'),
 ('Customer Name', 'string'),
 ('Customer Address', 'string'),
 ('ConsumerStatus', 'string'),
 ('PMT Count', 'int'),
 ('Phase', 'string'),
 ('PMT', 'string'),
 ('PMT Name', 'string'),
 ('Feeder ID', 'string'),
 ('Feeder Name', 'string'),
 ('Mobile Number', 'string'),
 ('LandLine Number', 'string'),
 ('Email Address', 'string'),
 ('Remarks', 'string'),
 ('StarCustomer', 'string'),
 ('DueDate', 'string'),
 ('IssueDate', 'string'),
 ('Last Payment Amount', 'string'),
 ('Last Payment Date', 'string'),
 ('LastBillingMode', 'string'),
 ('LastDCDate', 'string'),
 ('LastDCRecovery', 'string'),
 ('LastSIRCreatedOn', 'string'),
 ('UnitBilled', 'string')]

In [195]:
crm_df.select('GroundTATNum').limit(5).show()

+-----------------+
|     GroundTATNum|
+-----------------+
| 0.13442129629402|
|0.034247685187438|
| 0.32202546296321|
| 0.76576388889225|
|  1.2027893518534|
+-----------------+

In [196]:
crm_df_reduced = crm_df_reduced.withColumn("AccountContract", F.col("AccountContract").cast("string"))

### dividing date and time

In [197]:
from pyspark.sql.functions import to_date, to_timestamp, col, date_format, lit, concat

In [198]:
for i in [  "UDATETIME",
    
    "CompletedDateTime",
"ClosedDateTime",
 "InProcessDateTime",
"OpenDateTime",
"CREATED_AT"
         ]:
    # Apply the function to split the datetime
    crm_df_reduced = crm_df_reduced.withColumn(i, to_timestamp(col(i), 'dd-MMM-yy HH:mm:ss'))


# Show the updated dataframe
crm_df_reduced.limit(1).show()

+--------------------+----------+----------------+--------------------+----------+------------+----------+-------------------+-------------------+------------+--------------------+--------------------+-------+-------------------+-------------------+-------------------+-------------------+-------------------+-------+------------+-----------+----------+------+----------+---------+-----------+----------+------------+--------------------+-----------------+--------+--------+---------------+----+-----+---------+---------+-----------+----------+----------+-----------+-----------------------+---+-----------+-------------+---------+-------------+-------------+-------------+--------------------+--------------+---------+------+------+-------------+---------+------------+-------------+---------------+-------------+------------+---------+---------+-------------------+-----------------+---------------+----------+
|     AccountContract|Ticket No.|Business_Partner|                GUID|   IBCName|PROCESS_TYPE|CREATED_BY|         CREATED_AT|          UDATETIME|LatestStatus|          Supervisor|             Lineman|  MTLNo|  CompletedDateTime|     ClosedDateTime|  InProcessDateTime|       OpenDateTime|Medium Of Complaint|IBCCode|CREATED_DATE|     Source|Created By|Region|Subject_ID|Reason_ID|     Reason|   Subject|GroundTATHrs|TimeElapsedCompleted|TimeElapsedClosed|  O to I|  I to C|ReOpenCountTemp|Year|Month|GroundTAT|TargetTAT|ReOpenCount|Closed Tag| TATBusted|SDR/Not SDR|TimeElapsedAtLastReload|OIP|Postal Code|Billing Class|Cycle Day|Rate Category|Consumer Type|Customer Name|    Customer Address|ConsumerStatus|PMT Count| Phase|   PMT|     PMT Name|Feeder ID| Feeder Name|Mobile Number|LandLine Number|Email Address|StarCustomer|  DueDate|IssueDate|Last Payment Amount|Last Payment Date|LastBillingMode|UnitBilled|
+--------------------+----------+----------------+--------------------+----------+------------+----------+-------------------+-------------------+------------+--------------------+--------------------+-------+-------------------+-------------------+-------------------+-------------------+-------------------+-------+------------+-----------+----------+------+----------+---------+-----------+----------+------------+--------------------+-----------------+--------+--------+---------------+----+-----+---------+---------+-----------+----------+----------+-----------+-----------------------+---+-----------+-------------+---------+-------------+-------------+-------------+--------------------+--------------+---------+------+------+-------------+---------+------------+-------------+---------------+-------------+------------+---------+---------+-------------------+-----------------+---------------+----------+
|40002933016432866064|6018670040|      0102934244|75BA21661686067EE...|Liaqatabad|        YSVR|     CSR22|2024-04-18 21:51:36|2024-04-19 11:05:14|      Closed|MAZHAR BILAL - LI...|MUHAMMAD ADEEL SH...|JU-3184|2024-04-19 01:05:10|2024-04-19 11:05:14|2024-04-18 23:23:43|2024-04-18 21:52:30|     Telephone call|    127|   18-Apr-24|Call Center|     CSR22|    R4|      YS28|     YR97|Feeder Trip|Supply Off|    03:13:34|            03:13:34|         13:13:38|01:31:13|01:41:27|              0|2024|  Apr|     3.23|     4.25|          0|    Closed|Within TAT|    Non-SDR|                   3.23|ORD|        144|         A1-R|        8|         A1-R|         NULL|   NASIR KHAN|PLOT NO. 944 , BL...|           ACT|        1|SINGLE|500530|MADINI MASJID|     3107|Sarafa Bazar|   3131032682|           Null|         NULL|        NULL|5/30/2019|5/16/2019|              1,500|      29-Mar-2021|         Normal|       280|
+--------------------+----------+----------------+--------------------+----------+------------+----------+-------------------+-------------------+------------+--------------------+--------------------+-------+-------------------+-------------------+-------------------+-------------------+-------------------+-------+------------+-----------+----------+------+----------+---------+-----------+----------+------------+--------------------+-----------------+--------+--------+---------------+----+-----+---------+---------+-----------+----------+----------+-----------+-----------------------+---+-----------+-------------+---------+-------------+-------------+-------------+--------------------+--------------+---------+------+------+-------------+---------+------------+-------------+---------------+-------------+------------+---------+---------+-------------------+-----------------+---------------+----------+

In [199]:
datesinMonthformat = ["CREATED_DATE"]
for date in datesinMonthformat:
    crm_df_reduced = crm_df_reduced.withColumn(date, to_timestamp(col(date), 'dd-MMM-yy'))
    print(crm_df_reduced.schema[date].dataType)

TimestampType()

In [200]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")
#CA Creation Date (MM/DD/YYYY), Contract Creation Date(DD/MM/YYYY), Last DC Date (DD-mon-YYYY) (same as last payment)
crm_df_reduced.filter(crm_df_reduced["CREATED_DATE"].isNotNull()).select("CREATED_DATE").limit(10).show()

+-------------------+
|       CREATED_DATE|
+-------------------+
|2024-04-18 00:00:00|
|2024-07-17 00:00:00|
|2024-08-21 00:00:00|
|2023-08-21 00:00:00|
|2023-06-22 00:00:00|
|2023-06-22 00:00:00|
|2024-05-02 00:00:00|
|2023-08-21 00:00:00|
|2024-05-16 00:00:00|
|2023-04-06 00:00:00|
+-------------------+

In [201]:
# getting rid of invalid entries before updating casting dates and duration hours

In [202]:
#strings that contain both date and time

In [203]:
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

In [204]:
# Define the function to convert hh:mm:ss to minutes
def hhmmss_to_minutes(time_str):
    try:
        if type(time_str)!=str:
            return time_str
        h, m, s = map(int, time_str.split(":"))
        return h * 60 + m + s / 60
    except Exception as e:
        return None  # In case of an error (e.g., non-time values)
# Register the function as a UDF (User Defined Function)
hhmmss_to_minutes_udf = udf(hhmmss_to_minutes, FloatType())

In [205]:
hrstomins = ["GroundTATHrs", "TimeElapsedCompleted", "TimeElapsedClosed","O to I","I to C"]
for j in hrstomins:
    crm_df_reduced = crm_df_reduced.withColumn(j + "(minutes)", hhmmss_to_minutes_udf(col(j)))
    # df_reduced = df_reduced.withColumn(i, to_timestamp(col(i), 'dd-MMM-yy HH:mm:ss'))
columns_to_show = [col + "(minutes)" for col in hrstomins]
crm_df_reduced.select(columns_to_show).limit(5).show()

+---------------------+-----------------------------+--------------------------+---------------+---------------+
|GroundTATHrs(minutes)|TimeElapsedCompleted(minutes)|TimeElapsedClosed(minutes)|O to I(minutes)|I to C(minutes)|
+---------------------+-----------------------------+--------------------------+---------------+---------------+
|            193.56667|                    193.56667|                 793.63336|       91.21667|         101.45|
|            49.316666|                    49.316666|                  529.4167|      11.916667|           37.4|
|                 89.7|                         89.7|                 689.76666|      13.566667|       74.78333|
|            116.86667|                    116.86667|                    766.45|      14.366667|     100.916664|
|                 91.7|                         91.7|                    2025.5|       4.116667|      85.583336|
+---------------------+-----------------------------+--------------------------+---------------+---------------+

In [206]:
crm_df_reduced = crm_df_reduced.drop(*hrstomins)    # Drop the columns from the DataFrame

## cleaning before handling target TAT because its string

In [103]:
crm_df_reduced = replace_invalid_strings_with_null(crm_df_reduced)

In [104]:
def convert_column_to_double(df, column_name):
    # Convert the specified column to double (float)
    df_updated = df.withColumn(column_name, col(column_name).cast("double"))
    return df_updated

In [215]:
crm_df_reduced = convert_column_to_double(crm_df_reduced, "TargetTAT")

In [216]:
print(crm_df_reduced.schema["TargetTAT"].dataType)

DoubleType()

In [217]:
doubletohours = [
"GroundTAT",
"TargetTAT"]
# removed "GroundTATNum",

In [218]:

# Function to convert a double (hours) to minutes
def hours_to_minutes(hours):
    try:
        return hours * 60
    except Exception as e:
        return None  # In case of any invalid value

# Register the function as a UDF (User Defined Function)
hours_to_minutes_udf = udf(hours_to_minutes, FloatType())

In [220]:
for k in doubletohours:
    crm_df_reduced = crm_df_reduced.withColumn(k + "(minutes)", hours_to_minutes_udf(col(k)))

# Show the updated dataframe with the new converted column
columns_to_show = [col + "(minutes)" for col in doubletohours]
crm_df_reduced.select(columns_to_show).limit(5).show()

+------------------+------------------+
|GroundTAT(minutes)|TargetTAT(minutes)|
+------------------+------------------+
|             193.8|             255.0|
|              49.2|             300.0|
|              89.4|              NULL|
|             117.0|              NULL|
|              91.8|              NULL|
+------------------+------------------+

In [221]:
crm_df_reduced.filter(crm_df_reduced["TargetTAT"].isNotNull()).select("TargetTAT").limit(5).show()

+---------+
|TargetTAT|
+---------+
|     4.25|
|      5.0|
|     2.75|
|      3.5|
|      5.0|
+---------+

In [111]:
crm_df_reduced = crm_df_reduced.drop(*doubletohours)    # Drop the columns from the DataFrame

In [112]:
# "Month" #alpha to num

In [113]:
month_mapping = {
    'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
    'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12
}
def month_name_to_number(month_name):
    try:
        return month_mapping.get(month_name, None)  # Return None if the month is invalid
    except Exception as e:
        return None
month_name_to_number_udf = udf(month_name_to_number, IntegerType())

In [114]:
crm_df_reduced = crm_df_reduced.withColumn('Month', month_name_to_number_udf(col('Month')))

In [115]:
crm_df_reduced.select('Month').limit(5).show()

+-----+
|Month|
+-----+
|    4|
|    7|
|    8|
|    8|
|    6|
+-----+

In [116]:
# "DueDate", "IssueDate" "DD/MM/YYYY"

In [117]:
datesindiffMonthformat = ["DueDate","IssueDate"]
for date in datesindiffMonthformat:
    crm_df_reduced = crm_df_reduced.withColumn(date, to_timestamp(col(date), 'dd/MM/yy'))
    print(crm_df_reduced.schema[date].dataType)

TimestampType()
TimestampType()

In [118]:
columns_to_show = [col for col in datesindiffMonthformat]
crm_df_reduced.filter(crm_df_reduced["IssueDate"].isNotNull()).select("IssueDate").limit(5).show()

+-------------------+
|          IssueDate|
+-------------------+
|2019-08-05 00:00:00|
|2019-07-05 00:00:00|
|2019-09-05 00:00:00|
|2019-08-05 00:00:00|
|2019-08-05 00:00:00|
+-------------------+

In [119]:

from pyspark.sql.functions import regexp_replace, col

def remove_commas_and_convert_to_numerical(df, column_name):
    # Remove commas from the specified column and convert the result to float
    df_updated = df.withColumn(column_name, regexp_replace(col(column_name), ",", "").cast("double"))
    return df_updated

In [120]:
crm_df_reduced.filter(crm_df_reduced["UnitBilled"].isNotNull()).select("UnitBilled").limit(5).show()

+----------+
|UnitBilled|
+----------+
|       280|
|       422|
|       154|
|       250|
|       495|
+----------+

In [121]:
from pyspark.sql.functions import col, regexp_replace

numericalcolumnstofix = ["UnitBilled", "Last Payment Amount"]
for r in numericalcolumnstofix:
    crm_df_reduced = remove_commas_and_convert_to_numerical(crm_df_reduced, r)
    print(crm_df_reduced.schema[r].dataType)

DoubleType()
DoubleType()

In [122]:
crm_df_reduced.filter(crm_df_reduced["Last Payment Amount"].isNotNull()).select("Last Payment Amount", "AccountContract").limit(5).show()

+-------------------+--------------------+
|Last Payment Amount|     AccountContract|
+-------------------+--------------------+
|             1500.0|40002933016432866064|
|             6878.0|40002709964332629117|
|             4149.0|40003394143733313978|
|             1802.0|40002814258532732331|
|             1413.0|40002905226132829687|
+-------------------+--------------------+

## Transformation

In [207]:
from pyspark.sql import functions as F

In [79]:
spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.starschema").show()

++
||
++
++

In [463]:
crm_df_reduced = crm_df_reduced.repartition(200)

In [48]:
crm_df_reduced.writeTo("nessie.starschema.crm_fact").createOrReplace()

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".  (11 + 1) / 12]
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

In [ ]:
# drop Customer Status from crm.fact

In [ ]:
# crm
# Total complaints
# Most Occured Subject 

# Average Complaint Resolution Time (hrs)
# oms
# Average Fault Duration Time (hrs)

In [9]:
#TEST ONLY 
crm_df_reduced = spark.read.table("nessie.starschema.crm_fact")

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

In [10]:
# df_reduced.count()
crm_df_reduced.dtypes

[('AccountContract', 'decimal(20,0)'),
 ('Ticket No.', 'bigint'),
 ('Business_Partner', 'string'),
 ('GUID', 'string'),
 ('IBCName', 'string'),
 ('PROCESS_TYPE', 'string'),
 ('CREATED_BY', 'string'),
 ('CREATED_AT', 'timestamp'),
 ('UDATETIME', 'timestamp'),
 ('LatestStatus', 'string'),
 ('Supervisor', 'string'),
 ('Lineman', 'string'),
 ('MTLNo', 'string'),
 ('CompletedDateTime', 'timestamp'),
 ('ClosedDateTime', 'timestamp'),
 ('InProcessDateTime', 'timestamp'),
 ('OpenDateTime', 'timestamp'),
 ('Medium Of Complaint', 'string'),
 ('IBCCode', 'string'),
 ('CREATED_DATE', 'timestamp'),
 ('Source', 'string'),
 ('Created By', 'string'),
 ('Region', 'string'),
 ('Subject_ID', 'string'),
 ('Reason_ID', 'string'),
 ('Reason', 'string'),
 ('Subject', 'string'),
 ('ReOpenCountTemp', 'int'),
 ('Year', 'int'),
 ('Month', 'int'),
 ('ReOpenCount', 'int'),
 ('Closed Tag', 'string'),
 ('TATBusted', 'string'),
 ('SDR/Not SDR', 'string'),
 ('TimeElapsedAtLastReload', 'double'),
 ('OIP', 'string'),
 ('Postal Code', 'string'),
 ('Billing Class', 'string'),
 ('Cycle Day', 'int'),
 ('Rate Category', 'string'),
 ('Consumer Type', 'string'),
 ('Customer Name', 'string'),
 ('Customer Address', 'string'),
 ('ConsumerStatus', 'string'),
 ('PMT Count', 'int'),
 ('Phase', 'string'),
 ('PMT', 'string'),
 ('PMT Name', 'string'),
 ('Feeder ID', 'string'),
 ('Feeder Name', 'string'),
 ('Mobile Number', 'string'),
 ('LandLine Number', 'string'),
 ('Email Address', 'string'),
 ('StarCustomer', 'string'),
 ('DueDate', 'timestamp'),
 ('IssueDate', 'timestamp'),
 ('Last Payment Amount', 'double'),
 ('Last Payment Date', 'string'),
 ('LastBillingMode', 'string'),
 ('UnitBilled', 'double'),
 ('GroundTATHrs(minutes)', 'float'),
 ('TimeElapsedCompleted(minutes)', 'float'),
 ('TimeElapsedClosed(minutes)', 'float'),
 ('O to I(minutes)', 'float'),
 ('I to C(minutes)', 'float'),
 ('GroundTATNum(minutes)', 'float'),
 ('GroundTAT(minutes)', 'float'),
 ('TargetTAT(minutes)', 'float')]

In [14]:
# 2. Consumer_Dim
crm_consumer_dim_ = crm_df_reduced.groupBy("AccountContract", "Month", "Year").agg(
    F.count("AccountContract").alias("Complaint Counts (Apr-Sep_23-24)"),  # Count number of records per AccountContract
    F.avg("GroundTAT(minutes)").alias("Average Complaint Resolution Time (mins)"), F.first("StarCustomer").alias("StarCustomer")
)
crm_consumer_dim_.limit(5).show()

+---------------+-----+----+--------------------------------+----------------------------------------+------------+
|AccountContract|Month|Year|Complaint Counts (Apr-Sep_23-24)|Average Complaint Resolution Time (mins)|StarCustomer|
+---------------+-----+----+--------------------------------+----------------------------------------+------------+
|           NULL|    5|2023|                               0|                      197.22461641751804|        NULL|
|           NULL|    8|2023|                               0|                      147.53877491853675|        NULL|
|           NULL|    8|2024|                               0|                      367.84687323868275|        NULL|
|           NULL|    9|2023|                               0|                       193.8000005086263|        NULL|
|   400000646456|    8|2023|                               1|                                   342.0|      Others|
+---------------+-----+----+--------------------------------+----------------------------------------+------------+

In [15]:
# spark.sql("DROP TABLE nessie.starschema.crm_consumer_dim").show()

++
||
++
++

In [16]:
crm_consumer_dim_.writeTo("nessie.starschema.crm_consumer_dim").createOrReplace()

In [208]:
#TEST ONLY 
ageing_new_data = spark.read.table("nessie.starschema.ageing_fact")

In [ ]:
ageing_new_data.dtypes

In [32]:
consumer_ageing_crm_dim.writeTo("nessie.starschema.consumer_ageing_crm_dim").createOrReplace()
# would be
# consumer_ageing_crm_dim.writeTo("nessie.starschema.consumer_ageing_crm_dim").append()

### IBC

In [224]:
#TEST ONLY 
crm_df_reduced = spark.read.table("nessie.starschema.crm_fact")

In [223]:
from pyspark.sql import functions as F

# Grouping and aggregating the IBC data
crm_ibc_dim = crm_df_reduced.groupBy("IBCName", "IBCCode","Year", "Month").agg(
    F.count("IBCName").alias("Complaint Counts"),  # Count the occurrences of IBCName
    F.avg("GroundTAT(minutes)").alias("Average Complaint Resolution Time (mins)")
)

In [107]:
crm_ibc_dim = crm_ibc_dim.repartition(100)

In [108]:
# 1. OMS fact
crm_ibc_dim = crm_ibc_dim.filter(
    (col("Month").isNotNull()) & (col("Year").isNotNull() & (col("IBCName").isNotNull()))
)

In [109]:
spark.sql("DROP TABLE IF EXISTS nessie.starschema.ibc_crm_dim")

DataFrame[]

In [110]:
crm_ibc_dim.writeTo("nessie.starschema.ibc_crm_dim").createOrReplace()

#### CRM PMT dim

In [123]:

pmt_crm_dim = crm_df_reduced.groupBy("PMT", "PMT Name","Year", "Month").agg(
    F.count("IBCName").alias("Complaint Counts"),  # Count the occurrences of IBCName
    F.avg("GroundTAT(minutes)").alias("Average Complaint Resolution Time (mins)")
)

In [124]:
spark.sql("DROP TABLE IF EXISTS nessie.starschema.pmt_dim")

DataFrame[]

In [126]:
crm_pmt_dim.writeTo("nessie.starschema.pmt_crm_dim").createOrReplace()

###

#### Date

In [248]:
from pyspark.sql import functions as F

# Group by the date part of CREATED_DATE
crm_date_dim = crm_df_reduced.groupBy(F.to_date("CREATED_DATE").alias("Date"),"IBCCode","IBCName").agg(
    F.count("CREATED_DATE").alias("Complaint Counts"),
    F.avg("GroundTAT(minutes)").alias("Average Complaint Resolution Time (mins)")
)

In [249]:
crm_date_dim.limit(1).show()

+----------+-------+-------+----------------+----------------------------------------+
|      Date|IBCCode|IBCName|Complaint Counts|Average Complaint Resolution Time (mins)|
+----------+-------+-------+----------------+----------------------------------------+
|2023-08-14|    138| Garden|             312|                      177.06153851289017|
+----------+-------+-------+----------------+----------------------------------------+

In [250]:
spark.sql("DROP TABLE IF EXISTS nessie.starschema.crm_date_dim")
crm_date_dim.writeTo("nessie.starschema.crm_date_dim").createOrReplace()

#### Feeder

In [271]:
from pyspark.sql import functions as F

# Group by the date part of CREATED_DATE
crm_feeder_dim = crm_df_reduced.groupBy(F.to_date("CREATED_DATE").alias("Date"), "Feeder ID", "Feeder Name").agg(
    F.count("Feeder ID").alias("Complaint Counts"),
    F.avg("GroundTAT(minutes)").alias("Average Complaint Resolution Time (mins)")
)
crm_feeder_dim.writeTo("nessie.starschema.crm_feeder_dim").createOrReplace()

In [60]:
spark.stop()

## OMS

### Cleaning

In [35]:
spark = SparkSession.builder.master("local[*]").config(conf=conf).getOrCreate()
print("Spark Session Started")

Spark Session Started

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 56816)
Traceback (most recent call last):
  File "/usr/lib/python3.10/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.10/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.10/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.10/socketserver.py", line 747, in __init__
    self.handle()
  File "/usr/local/lib/python3.10/dist-packages/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
  File "/usr/local/lib/python3.10/dist-packages/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
  File "/usr/local/lib/python3.10/dist-packages/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------

In [5]:
# spark.stop()

In [6]:
from pyspark.sql.functions import when, col

In [7]:
import re
from pyspark.sql.functions import lit
from pyspark.sql.functions import when, col
csv = "/mnt/HabibData/OMSRequestedData.csv"
# match = re.search(r'_(\d{6})', csv)# Extract month and year from the filename
# billing_month = match.group(1) if match else "Unknown"

# Read the CSV file into a DataFrame
oms_df = spark.read \
    .option("delimiter", ",") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv)

In [8]:
oms_df.select("Createdon").limit(10).show()

+-------------+
|    Createdon|
+-------------+
|1/1/2023 0:09|
|1/1/2023 1:21|
|1/1/2023 1:21|
|1/1/2023 1:46|
|1/1/2023 2:34|
|         NULL|
|           LL|
|1/1/2023 5:34|
|1/1/2023 5:35|
|1/1/2023 7:14|
+-------------+

In [9]:
# NULL values
columns_to_remove = ["pt_name","load", "Relay", "planned_sd_Id","faultstr", 
"consumer_count_fdr", "saifi", "saidi", "_c36","_c37", "_c38", "_c39","_c40", "_c41", "_c42", "_c43", "_c44"]

In [10]:
# # Filter the DataFrame for outage_Id == 786900
# punching_delay = oms_df.filter(oms_df.outage_Id == '786900').select("PunchingDelay")

# # Show the result
# punching_delay.show(truncate=False)

In [11]:
oms_df_reduced = oms_df.drop(*columns_to_remove)    # Drop the columns from the DataFrame
num_columns = len(oms_df_reduced.columns)
print(f"Number of columns: {num_columns}")

Number of columns: 28

In [12]:
oms_df_reduced.count()

88487

In [13]:
from pyspark.sql import functions as F

# Filter for rows where "TAT" is either a number (matching the regex) or null
oms_df_reduced = oms_df_reduced.filter(
    (F.col("TAT").rlike("^[0-9]+$")) | (F.col("TAT").isNull())
)


oms_df_reduced = oms_df_reduced.withColumn(
    "TAT",(col("TAT").cast("double"))
)

In [14]:
oms_df_reduced.count()

82956

In [15]:
oms_df_reduced.dtypes

[('outage_Id', 'string'),
 ('NetworkLevel', 'string'),
 ('OutageType', 'string'),
 ('outageSubType', 'string'),
 ('htclosingtype', 'string'),
 ('htclosingsubtype', 'string'),
 ('htclosingreason', 'string'),
 ('initialoffreason', 'string'),
 ('grid_name', 'string'),
 ('fdr_Id', 'string'),
 ('fdr_name', 'string'),
 ('dts_Id', 'string'),
 ('dts_name', 'string'),
 ('cluster', 'string'),
 ('IBC', 'string'),
 ('TAT', 'double'),
 ('PunchingDelay', 'string'),
 ('OutageStatus', 'string'),
 ('Createdon', 'string'),
 ('punchCreateAt', 'string'),
 ('punchCloseAt', 'string'),
 ('duration', 'string'),
 ('isemergency', 'string'),
 ('israintripping', 'string'),
 ('cluster_Id', 'string'),
 ('closing_remarks', 'string'),
 ('loss_category', 'string'),
 ('lastupdatedon', 'string')]

In [16]:
oms_df_reduced = oms_df_reduced.repartition(100)  # or less/more based on your cluster size

In [25]:
oms_df_reduced = replace_invalid_strings_with_null(oms_df_reduced)

In [26]:
oms_df_reduced.count()

82956

In [27]:
oms_df_reduced.select("PunchingDelay").limit(150).show()
# oms_df_reduced.filter(oms_df_reduced["lastupdatedon"].isNotNull()).select("lastupdatedon").limit(5).show()

+-------------+
|PunchingDelay|
+-------------+
|            9|
|           12|
|            4|
|           40|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|         NULL|
|           11|
|            6|
|            8|
|            3|
|            3|
+-------------+
only showing top 20 rows

In [28]:
from pyspark.sql.functions import when, col, to_timestamp
from pyspark.sql import functions as F
from pyspark.sql.functions import to_timestamp, col, when


# # Clean non-datetime rows, e.g., "LL" or empty
# oms_df_reduced = oms_df_reduced.withColumn(
#     "lastupdatedon",
#     when(col("lastupdatedon").rlike("^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}$"), 
#          to_timestamp(col("lastupdatedon"), "M/d/yy h:mm"))
#     .otherwise(None)  # Will set to null for invalid formats
# )

# Repeat for other columns if needed
datetime_cols = ["punchCreateAt", "punchCloseAt", "Createdon","lastupdatedon","lastupdatedon"]

# Loop through datetime columns
for col_name in datetime_cols:
    oms_df_reduced = oms_df_reduced.withColumn(
        col_name,
    when(
        col(col_name).rlike(r"^\d{1,2}/\d{1,2}/\d{4} \d{1,2}:\d{2}$"),  # M/d/yyyy h:mm or MM/dd/yyyy HH:mm
        to_timestamp(col(col_name), "M/d/yyyy H:mm")
    )
    .when(
        col(col_name).rlike(r"^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$"),  # yyyy-MM-dd HH:mm:ss
        to_timestamp(col(col_name), "yyyy-MM-dd HH:mm:ss")
    )
        # when(
        #     col(col_name).rlike("^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}$"),  # M/d/yyyy h:mm format
        #     to_timestamp(col(col_name), "M/d/yyyy h:mm")
        # )
        # .when(
        #     col(col_name).rlike("^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$"),  # MM/d/yyyy h:mm format
        #     to_timestamp(col(col_name), "yyyy-MM-dd HH:mm:ss")
        # )
        # .when(
        #     col(col_name).rlike("^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$"),  # M/dd/yyyy h:mm format
        #     to_timestamp(col(col_name), "yyyy-MM-dd HH:mm:ss")
        # )
        # .when(
        #     col(col_name).rlike("^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}$"),  # MM/dd/yyyy h:mm format
        #     to_timestamp(col(col_name), "M/d/yyyy h:mm")
        # )
        # .when(
        #     col(col_name).rlike("^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}$"),  # M/d/yyyy HH:mm format
        #     to_timestamp(col(col_name), "M/d/yyyy h:mm")
        # )
        # .when(
        #     col(col_name).rlike("^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$"),  # MM/d/yyyy HH:mm format
        #     to_timestamp(col(col_name), "yyyy-MM-dd HH:mm:ss")
        # )
        # .when(
        #     col(col_name).rlike("^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$"),  # M/dd/yyyy HH:mm format
        #     to_timestamp(col(col_name), "yyyy-MM-dd HH:mm:ss")
        # )
        # .when(
        #     col(col_name).rlike("^[0-9]{1,2}/[0-9]{1,2}/[0-9]{4} [0-9]{1,2}:[0-9]{2}$"),  # MM/dd/yyyy HH:mm format
        #     to_timestamp(col(col_name), "M/d/yyyy h:mm")
        # )
        .otherwise(None)
    )

# Show the updated DataFrame
oms_df_reduced.show(truncate=False)

+---------+------------+----------+-------------+-------------------+--------------------------------------------+---------------------------------+-----------------+----------+------+-----------------------------+------+----------------------------------------+-------+-----------+------+-------------+------------+-------------------+-------------------+-------------------+--------+-----------+--------------+----------+-------------------------------------------------------------------------------------------------+-------------+-------------+
|outage_Id|NetworkLevel|OutageType|outageSubType|htclosingtype      |htclosingsubtype                            |htclosingreason                  |initialoffreason |grid_name |fdr_Id|fdr_name                     |dts_Id|dts_name                                |cluster|IBC        |TAT   |PunchingDelay|OutageStatus|Createdon          |punchCreateAt      |punchCloseAt       |duration|isemergency|israintripping|cluster_Id|closing_remarks                                                                                  |loss_category|lastupdatedon|
+---------+------------+----------+-------------+-------------------+--------------------------------------------+---------------------------------+-----------------+----------+------+-----------------------------+------+----------------------------------------+-------+-----------+------+-------------+------------+-------------------+-------------------+-------------------+--------+-----------+--------------+----------+-------------------------------------------------------------------------------------------------+-------------+-------------+
|1068252  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Shutdown         |NULL      |220   |EASTERN SERVICES             |500276|P-2/8 SANAULLAH AVENUE                  |Gulshan|FB Area    |20.0  |1            |Completed   |2023-04-05 12:36:00|2023-04-05 12:35:00|2023-04-05 12:56:00|0:21:19 |NULL       |NO            |7         |NULL                                                                                             |LL           |NULL         |
|1302402  |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |186   |BASRA SOAP                   |4319  |P-20, TAYABA SCHOOL                     |Gulshan|FB Area    |701.0 |1            |Completed   |2023-05-27 05:24:00|2023-05-27 05:23:00|2023-05-27 17:05:00|11:42:41|NULL       |NO            |7         |NULL                                                                                             |VHL          |NULL         |
|812453   |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |DC - Disconnected|NULL      |543   |TIMBER MARKET                |172350|JANU T/PMT MIDDLE (FOOT BALL GROUND-II) |Gulshan|Liaquatabad|691.0 |1            |Completed   |2023-02-09 23:59:00|2023-02-09 23:58:00|2023-02-10 11:30:00|11:31:42|NULL       |NO            |7         |DC - Disconnected                                                                                |HL           |NULL         |
|878061   |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |557   |APWA COLLEGE(OLD GOVT SCHOOL)|525412|CHILDREN IDEAL SCHOOL D/PMT (RHS)       |Gulshan|Liaquatabad|817.0 |0            |Completed   |2023-02-25 05:44:00|2023-02-25 05:44:00|2023-02-25 19:21:00|13:36:43|NULL       |NO            |7         |NULL                                                                                             |VHL          |NULL         |
|1099949  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Job of Operation |NULL      |1215  |ERUM DEVELOPER               |10374 |BL.18 PMT B-187                         |Gulshan|Gulshan    |61.0  |1            |Completed   |2023-04-13 00:43:00|2023-04-13 00:42:00|2023-04-13 01:44:00|1:02:12 |NULL       |NO            |7         |PMT Earthing .                                                                                   |LL           |NULL         |
|756529   |HT          |Loop      |Loop Off     |Load Management    |Operations                                  |NULL                             |Forced Outage    |AZIZABAD  |3904  |MANZAR-E-JILANI              |NULL  |NULL                                    |Gulshan|FB Area    |19.0  |0            |Completed   |2023-01-22 21:18:00|2023-01-22 21:18:00|2023-01-22 21:37:00|0:19:25 |0          |NO            |7         |.HTLCF TO BE N/D                                                                                 |LL           |NULL         |
|1018315  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Lead Burnt Out   |NULL      |351   |ASIF & ZAFAR                 |10437 |LATEEF PLAZA SS                         |Gulshan|Gulshan    |68.0  |0            |Completed   |2023-03-26 16:48:00|2023-03-26 16:48:00|2023-03-26 17:56:00|1:07:48 |NULL       |NO            |7         |NULL                                                                                             |LL           |NULL         |
|1283032  |HT          |Feeder    |OTFS         |Shutdown           |Fault / Shutdown Normalization              |NULL                             |Forced Outage    |AZIZABAD  |2113  |ALI SQUARE                   |NULL  |NULL                                    |Gulshan|FB Area    |10.0  |1            |Completed   |2023-05-23 19:41:00|2023-05-23 19:40:00|2023-05-23 19:47:00|0:06:58 |0          |NO            |7         |SSM forced shutdown to be normalized on Prince Corner PMT. Feeder put Off against safety measures|LL           |NULL         |
|1223175  |HT          |Loop      |Loop Off     |Fault              |NULL                                        |HT Jumper                        |Forced Outage    |GULSHAN   |334   |SHANTI NAGAR                 |NULL  |NULL                                    |Gulshan|Gulshan    |70.0  |0            |Completed   |2023-05-11 17:30:00|2023-05-11 17:30:00|2023-05-11 18:18:00|0:48:21 |0          |NO            |7         |.JUMPER REPAIR AT 535777 - JAMALI SHOPPING CENTRE PMT                                            |CLL          |NULL         |
|1276960  |HT          |Loop      |Loop Off     |Grid Planned Outage|NULL                                        |NULL                             |Grid Level Outage|AZIZABAD  |2034  |GULNOOR ICE                  |NULL  |NULL                                    |Gulshan|FB Area    |39.0  |1            |Completed   |2023-05-22 18:36:00|2023-05-22 18:35:00|2023-05-22 19:15:00|0:40:38 |0          |NO            |7         |.GRID PSD B/F TO BE N/D OPERATION                                                                |LL           |NULL         |
|1239274  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Job of Operation |NULL      |3439  |SADIQ NAGAR                  |1435  |ISLAM SB, BL-5 D/PMT-I, (COSMOS SCHOOL) |Gulshan|FB Area    |172.0 |0            |Completed   |2023-05-15 08:40:00|2023-05-15 08:40:00|2023-05-15 11:32:00|2:51:54 |NULL       |NO            |7         |NULL                                                                                             |CLL          |NULL         |
|1248748  |HT          |Feeder    |Feeder Trip  |Non-Transient      |Minor Fault                                 |VIR / Wire / Cloth etc. grounding|NULL             |LIAQUTABAD|560   |FATIMA BAROCHA               |NULL  |NULL                                    |Gulshan|Nazimabad  |120.0 |0            |Completed   |2023-05-17 07:14:00|2023-05-17 07:14:00|2023-05-17 09:10:00|1:56:20 |0          |NO            |7         |.VIR  REMMOVED @ 7978 - BABOO JEE CENTER , Supervisor Name:HAMMAD                                |LL           |NULL         |
|846511   |LT          |DTS       |DTS Trip     |NULL               |NULL                                        |NULL                             |Lead Burnt Out   |NULL      |556   |ABC COMPUTER                 |11    |SHARIF & PARTNER BL- 4 FBA              |Gulshan|FB Area    |76.0  |1            |Completed   |2023-02-19 00:38:00|2023-02-19 00:37:00|2023-02-19 01:54:00|1:17:30 |NULL       |NO            |7         |NULL                                                                                             |LL           |NULL         |
|851971   |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |3502  |TOOBA MASJID                 |10666 |IBRAHIM PCO (QUSIA MASJID PMT)          |Gulshan|Nazimabad  |1309.0|1            |Completed   |2023-02-20 06:29:00|2023-02-20 06:28:00|2023-02-21 04:15:00|21:47:18|NULL       |NO            |7         |N.D                                                                                              |VHL          |NULL         |
|1331331  |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |2047  |NAGWAN VILLAGE (ANGARA GOTH) |7961  |KASOO RASHAN SHOP                       |Gulshan|Liaquatabad|296.0 |0            |Completed   |2023-06-01 05:59:00|2023-06-01 05:59:00|2023-06-01 10:30:00|4:31:07 |NULL       |NO            |7         |NULL                                                                                             |HL           |NULL         |
|956137   |HT          |Loop      |Loop Off     |Fault              |NULL                                        |HT Jumper                        |Forced Outage    |GULSHAN   |330   |SHAMOONABAD                  |NULL  |NULL                                    |Gulshan|Gulshan    |102.0 |0            |Completed   |2023-03-12 18:43:00|2023-03-12 18:43:00|2023-03-12 20:25:00|1:42:15 |0          |NO            |7         |.HT JUMPER REPAIR AT 9477 - TAXAS SCHOOL                                                         |LL           |NULL         |
|843525   |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |2156  |MEMON MASJID                 |500390|NOORI MASJID- D/B PMT-2     , R-1548 (RH|Gulshan|FB Area    |491.0 |0            |Completed   |2023-02-18 05:40:00|2023-02-18 05:40:00|2023-02-18 13:51:00|8:10:57 |NULL       |NO            |7         |NULL                                                                                             |LL           |NULL         |
|725893   |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Lead Burnt Out   |NULL      |197   |KMC WATER PUMP               |500399|P-10/1 SA CNG                           |Gulshan|FB Area    |579.0 |1            |Completed   |2023-01-03 10:16:00|2023-01-03 10:15:00|2023-01-03 19:55:00|9:40:21 |NULL       |NO            |7         |LT Leads Stolen                                                                                  |LL           |NULL         |
|1092314  |HT          |Feeder    |OTFS         |Operation          |NULL                                        |NULL                             |Planned Outage   |JAIL      |2021  |HAJI MUREED GOTH             |NULL  |NULL                                    |Gulshan|Nazimabad  |12.0  |7            |Completed   |2023-04-10 16:58:00|2023-04-10 16:51:00|2023-04-10 17:06:00|0:14:34 |0          |NO            |7         |ID # 116419, Planned Shutdown to CCR has been Normalized.                                        |VHL          |NULL         |
|989025   |HT          |Loop      |Loop Off     |Shutdown           |Shutdown against Fault / Job / Safety Hazard|NULL                             |Forced Outage    |LIAQUTABAD|NULL  |NULL                         |NULL  |NULL                                    |NULL   |NULL       |NULL  |NULL         |NULL        |NULL               |NULL               |NULL               |NULL    |NULL       |NULL          |NULL      |NULL                                                                                             |NULL         |NULL         |
+---------+------------+----------+-------------+-------------------+--------------------------------------------+---------------------------------+-----------------+----------+------+-----------------------------+------+----------------------------------------+-------+-----------+------+-------------+------------+-------------------+-------------------+-------------------+--------+-----------+--------------+----------+-------------------------------------------------------------------------------------------------+-------------+-------------+
only showing top 20 rows

In [29]:
oms_df_reduced.count()

82956

In [30]:
from pyspark.sql.functions import col,when


# Keep only rows where PunchingDelay is NULL or fully numeric
oms_df_reduced = oms_df_reduced.filter(
    col("PunchingDelay").rlike("^[0-9]+$") | col("PunchingDelay").isNull()
)

oms_df_reduced = oms_df_reduced.withColumn(
    "PunchingDelay",(col("PunchingDelay").cast("double"))
)

In [79]:
#homogenizing name because oms does not have ibc code for join
from pyspark.sql import functions as F

# Update the 'IBC' column to replace the specific strings
oms_df_reduced = oms_df_reduced.withColumn(
    "IBC", 
    F.when(F.col("IBC") == "Liaquatabad", "Liaqatabad")
     .when(F.col("IBC") == "FB Area", "F.B. Area")
     .otherwise(F.col("IBC"))  # Keep other values unchanged
)

# Show the updated DataFrame
oms_df_reduced.show(truncate=False)

+---------+------------+----------+-------------+-------------------+--------------------------------------------+---------------------------------+-----------------+----------+------+-----------------------------+------+----------------------------------------+-------+----------+------+-------------+------------+-------------------+-------------------+-------------------+------------------+-----------+--------------+----------+-------------------------------------------------------------------------------------------------+-------------+-------------+----+-----+
|outage_Id|NetworkLevel|OutageType|outageSubType|htclosingtype      |htclosingsubtype                            |htclosingreason                  |initialoffreason |grid_name |fdr_Id|fdr_name                     |dts_Id|dts_name                                |cluster|IBC       |TAT   |PunchingDelay|OutageStatus|Createdon          |punchCreateAt      |punchCloseAt       |duration          |isemergency|israintripping|cluster_Id|closing_remarks                                                                                  |loss_category|lastupdatedon|Year|Month|
+---------+------------+----------+-------------+-------------------+--------------------------------------------+---------------------------------+-----------------+----------+------+-----------------------------+------+----------------------------------------+-------+----------+------+-------------+------------+-------------------+-------------------+-------------------+------------------+-----------+--------------+----------+-------------------------------------------------------------------------------------------------+-------------+-------------+----+-----+
|1068252  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Shutdown         |NULL      |220   |EASTERN SERVICES             |500276|P-2/8 SANAULLAH AVENUE                  |Gulshan|F.B. Area |20.0  |1.0          |Completed   |2023-04-05 12:36:00|2023-04-05 12:35:00|2023-04-05 12:56:00|21.316667556762695|NULL       |0             |7         |NULL                                                                                             |LL           |NULL         |2023|4    |
|1302402  |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |186   |BASRA SOAP                   |4319  |P-20, TAYABA SCHOOL                     |Gulshan|F.B. Area |701.0 |1.0          |Completed   |2023-05-27 05:24:00|2023-05-27 05:23:00|2023-05-27 17:05:00|702.683349609375  |NULL       |0             |7         |NULL                                                                                             |VHL          |NULL         |2023|5    |
|812453   |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |DC - Disconnected|NULL      |543   |TIMBER MARKET                |172350|JANU T/PMT MIDDLE (FOOT BALL GROUND-II) |Gulshan|Liaqatabad|691.0 |1.0          |Completed   |2023-02-09 23:59:00|2023-02-09 23:58:00|2023-02-10 11:30:00|691.7000122070312 |NULL       |0             |7         |DC - Disconnected                                                                                |HL           |NULL         |2023|2    |
|878061   |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |557   |APWA COLLEGE(OLD GOVT SCHOOL)|525412|CHILDREN IDEAL SCHOOL D/PMT (RHS)       |Gulshan|Liaqatabad|817.0 |0.0          |Completed   |2023-02-25 05:44:00|2023-02-25 05:44:00|2023-02-25 19:21:00|816.7166748046875 |NULL       |0             |7         |NULL                                                                                             |VHL          |NULL         |2023|2    |
|1099949  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Job of Operation |NULL      |1215  |ERUM DEVELOPER               |10374 |BL.18 PMT B-187                         |Gulshan|Gulshan   |61.0  |1.0          |Completed   |2023-04-13 00:43:00|2023-04-13 00:42:00|2023-04-13 01:44:00|62.20000076293945 |NULL       |0             |7         |PMT Earthing .                                                                                   |LL           |NULL         |2023|4    |
|756529   |HT          |Loop      |Loop Off     |Load Management    |Operations                                  |NULL                             |Forced Outage    |AZIZABAD  |3904  |MANZAR-E-JILANI              |NULL  |NULL                                    |Gulshan|F.B. Area |19.0  |0.0          |Completed   |2023-01-22 21:18:00|2023-01-22 21:18:00|2023-01-22 21:37:00|19.41666603088379 |0          |0             |7         |.HTLCF TO BE N/D                                                                                 |LL           |NULL         |2023|1    |
|1018315  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Lead Burnt Out   |NULL      |351   |ASIF & ZAFAR                 |10437 |LATEEF PLAZA SS                         |Gulshan|Gulshan   |68.0  |0.0          |Completed   |2023-03-26 16:48:00|2023-03-26 16:48:00|2023-03-26 17:56:00|67.80000305175781 |NULL       |0             |7         |NULL                                                                                             |LL           |NULL         |2023|3    |
|1283032  |HT          |Feeder    |OTFS         |Shutdown           |Fault / Shutdown Normalization              |NULL                             |Forced Outage    |AZIZABAD  |2113  |ALI SQUARE                   |NULL  |NULL                                    |Gulshan|F.B. Area |10.0  |1.0          |Completed   |2023-05-23 19:41:00|2023-05-23 19:40:00|2023-05-23 19:47:00|6.9666666984558105|0          |0             |7         |SSM forced shutdown to be normalized on Prince Corner PMT. Feeder put Off against safety measures|LL           |NULL         |2023|5    |
|1223175  |HT          |Loop      |Loop Off     |Fault              |NULL                                        |HT Jumper                        |Forced Outage    |GULSHAN   |334   |SHANTI NAGAR                 |NULL  |NULL                                    |Gulshan|Gulshan   |70.0  |0.0          |Completed   |2023-05-11 17:30:00|2023-05-11 17:30:00|2023-05-11 18:18:00|48.349998474121094|0          |0             |7         |.JUMPER REPAIR AT 535777 - JAMALI SHOPPING CENTRE PMT                                            |CLL          |NULL         |2023|5    |
|1276960  |HT          |Loop      |Loop Off     |Grid Planned Outage|NULL                                        |NULL                             |Grid Level Outage|AZIZABAD  |2034  |GULNOOR ICE                  |NULL  |NULL                                    |Gulshan|F.B. Area |39.0  |1.0          |Completed   |2023-05-22 18:36:00|2023-05-22 18:35:00|2023-05-22 19:15:00|40.63333511352539 |0          |0             |7         |.GRID PSD B/F TO BE N/D OPERATION                                                                |LL           |NULL         |2023|5    |
|1239274  |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Job of Operation |NULL      |3439  |SADIQ NAGAR                  |1435  |ISLAM SB, BL-5 D/PMT-I, (COSMOS SCHOOL) |Gulshan|F.B. Area |172.0 |0.0          |Completed   |2023-05-15 08:40:00|2023-05-15 08:40:00|2023-05-15 11:32:00|171.89999389648438|NULL       |0             |7         |NULL                                                                                             |CLL          |NULL         |2023|5    |
|1248748  |HT          |Feeder    |Feeder Trip  |Non-Transient      |Minor Fault                                 |VIR / Wire / Cloth etc. grounding|NULL             |LIAQUTABAD|560   |FATIMA BAROCHA               |NULL  |NULL                                    |Gulshan|Nazimabad |120.0 |0.0          |Completed   |2023-05-17 07:14:00|2023-05-17 07:14:00|2023-05-17 09:10:00|116.33333587646484|0          |0             |7         |.VIR  REMMOVED @ 7978 - BABOO JEE CENTER , Supervisor Name:HAMMAD                                |LL           |NULL         |2023|5    |
|846511   |LT          |DTS       |DTS Trip     |NULL               |NULL                                        |NULL                             |Lead Burnt Out   |NULL      |556   |ABC COMPUTER                 |11    |SHARIF & PARTNER BL- 4 FBA              |Gulshan|F.B. Area |76.0  |1.0          |Completed   |2023-02-19 00:38:00|2023-02-19 00:37:00|2023-02-19 01:54:00|77.5              |NULL       |0             |7         |NULL                                                                                             |LL           |NULL         |2023|2    |
|851971   |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |3502  |TOOBA MASJID                 |10666 |IBRAHIM PCO (QUSIA MASJID PMT)          |Gulshan|Nazimabad |1309.0|1.0          |Completed   |2023-02-20 06:29:00|2023-02-20 06:28:00|2023-02-21 04:15:00|1307.300048828125 |NULL       |0             |7         |N.D                                                                                              |VHL          |NULL         |2023|2    |
|1331331  |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |2047  |NAGWAN VILLAGE (ANGARA GOTH) |7961  |KASOO RASHAN SHOP                       |Gulshan|Liaqatabad|296.0 |0.0          |Completed   |2023-06-01 05:59:00|2023-06-01 05:59:00|2023-06-01 10:30:00|271.1166687011719 |NULL       |0             |7         |NULL                                                                                             |HL           |NULL         |2023|6    |
|956137   |HT          |Loop      |Loop Off     |Fault              |NULL                                        |HT Jumper                        |Forced Outage    |GULSHAN   |330   |SHAMOONABAD                  |NULL  |NULL                                    |Gulshan|Gulshan   |102.0 |0.0          |Completed   |2023-03-12 18:43:00|2023-03-12 18:43:00|2023-03-12 20:25:00|102.25            |0          |0             |7         |.HT JUMPER REPAIR AT 9477 - TAXAS SCHOOL                                                         |LL           |NULL         |2023|3    |
|843525   |RCDC        |DTS       |DTS DC       |NULL               |NULL                                        |NULL                             |Commercial       |NULL      |2156  |MEMON MASJID                 |500390|NOORI MASJID- D/B PMT-2     , R-1548 (RH|Gulshan|F.B. Area |491.0 |0.0          |Completed   |2023-02-18 05:40:00|2023-02-18 05:40:00|2023-02-18 13:51:00|490.95001220703125|NULL       |0             |7         |NULL                                                                                             |LL           |NULL         |2023|2    |
|725893   |LT          |DTS       |DTS Off      |NULL               |NULL                                        |NULL                             |Lead Burnt Out   |NULL      |197   |KMC WATER PUMP               |500399|P-10/1 SA CNG                           |Gulshan|F.B. Area |579.0 |1.0          |Completed   |2023-01-03 10:16:00|2023-01-03 10:15:00|2023-01-03 19:55:00|580.3499755859375 |NULL       |0             |7         |LT Leads Stolen                                                                                  |LL           |NULL         |2023|1    |
|1092314  |HT          |Feeder    |OTFS         |Operation          |NULL                                        |NULL                             |Planned Outage   |JAIL      |2021  |HAJI MUREED GOTH             |NULL  |NULL                                    |Gulshan|Nazimabad |12.0  |7.0          |Completed   |2023-04-10 16:58:00|2023-04-10 16:51:00|2023-04-10 17:06:00|14.566666603088379|0          |0             |7         |ID # 116419, Planned Shutdown to CCR has been Normalized.                                        |VHL          |NULL         |2023|4    |
|989025   |HT          |Loop      |Loop Off     |Shutdown           |Shutdown against Fault / Job / Safety Hazard|NULL                             |Forced Outage    |LIAQUTABAD|NULL  |NULL                         |NULL  |NULL                                    |NULL   |NULL      |NULL  |NULL         |NULL        |NULL               |NULL               |NULL               |NULL              |0          |0             |NULL      |NULL                                                                                             |NULL         |NULL         |NULL|NULL |
+---------+------------+----------+-------------+-------------------+--------------------------------------------+---------------------------------+-----------------+----------+------+-----------------------------+------+----------------------------------------+-------+----------+------+-------------+------------+-------------------+-------------------+-------------------+------------------+-----------+--------------+----------+-------------------------------------------------------------------------------------------------+-------------+-------------+----+-----+
only showing top 20 rows

In [80]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")
#CA Creation Date (MM/DD/YYYY), Contract Creation Date(DD/MM/YYYY), Last DC Date (DD-mon-YYYY) (same as last payment)
oms_df_reduced.filter(oms_df_reduced["Createdon"].isNotNull()).select("Createdon").count()

77385

In [81]:
#convert duration to minutes hh:mm:ss
oms_df_reduced = oms_df_reduced.withColumn("duration", hhmmss_to_minutes_udf(col("duration"))) 
oms_df_reduced.select("duration").limit(5).show()
oms_df_reduced = convert_column_to_double(oms_df_reduced,"duration")

+----------+
|  duration|
+----------+
| 55.366665|
| 38.516666|
|  837.9667|
| 65.433334|
|107.166664|
+----------+

In [82]:

oms_df_reduced.select("duration").limit(5).show()

+------------------+
|          duration|
+------------------+
| 55.36666488647461|
|38.516666412353516|
| 837.9666748046875|
| 65.43333435058594|
|107.16666412353516|
+------------------+

In [83]:
from pyspark.sql.functions import col, when

# # Filter out rows where 'isemergency' is numeric, null, or contains only whitespace
# check = df_reduced.filter(
#     (col("isemergency").rlike("^[0-9]+$")) | 
#     (col("isemergency").isNull()) | 
#     (col("isemergency").rlike("^\\s*$"))  # matches whitespace-only strings
# )

# Replace invalid values (including whitespace) with 0, then cast to int
oms_df_reduced = oms_df_reduced.withColumn(
    "isemergency",
    when(col("isemergency").isNull(), 0)
    .when(col("isemergency").rlike("^\\s*$"), 0)  # Replace whitespace with 0
    .otherwise(col("isemergency").cast("int"))
)

In [84]:
oms_df_reduced.count()

82951

In [85]:
oms_df_reduced = oms_df_reduced.withColumn("israintripping", when(col("israintripping") == "YES", 1).otherwise(0))

In [86]:
# df_reduced.limit(10).show()
# df_reduced.show()  # First 20 rows by default
# df.show(50)  # Show 50 rows
oms_df_reduced.show(truncate=False)  # Don't cut off long strings

+---------+------------+----------+-------------+-------------------+------------------------------+---------------+-------------------+------------+------+-------------------------------------+------+----------------------------------------+-------+----------+--------+-------------+------------+-------------------+-------------------+-------------------+------------------+-----------+--------------+----------+----------------------------------------------------------------------+-------------+-------------+----+-----+
|outage_Id|NetworkLevel|OutageType|outageSubType|htclosingtype      |htclosingsubtype              |htclosingreason|initialoffreason   |grid_name   |fdr_Id|fdr_name                             |dts_Id|dts_name                                |cluster|IBC       |TAT     |PunchingDelay|OutageStatus|Createdon          |punchCreateAt      |punchCloseAt       |duration          |isemergency|israintripping|cluster_Id|closing_remarks                                                       |loss_category|lastupdatedon|Year|Month|
+---------+------------+----------+-------------+-------------------+------------------------------+---------------+-------------------+------------+------+-------------------------------------+------+----------------------------------------+-------+----------+--------+-------------+------------+-------------------+-------------------+-------------------+------------------+-----------+--------------+----------+----------------------------------------------------------------------+-------------+-------------+----+-----+
|861624   |RCDC        |DTS       |DTS DC       |NULL               |NULL                          |NULL           |Commercial         |NULL        |2021  |HAJI MUREED GOTH                     |500571|ASHRAFIA MAZAR PMT ( HAJI MUREED GOTH)  |Gulshan|Nazimabad |852.0   |1.0          |Completed   |2023-02-22 04:56:00|2023-02-22 04:55:00|2023-02-22 19:08:00|853.3333129882812 |0          |0             |7         |NULL                                                                  |VHL          |NULL         |2023|2    |
|794002   |LT          |DTS       |DTS Trip     |NULL               |NULL                          |NULL           |DC - Disconnected  |NULL        |2101  |USMAN HOSPITAL                       |527163|CUE SNOOKER CLUB, BLOCK-2 F.B AREA      |Gulshan|F.B. Area |716.0   |0.0          |Completed   |2023-02-04 05:53:00|2023-02-04 05:53:00|2023-02-04 17:49:00|715.7333374023438 |0          |0             |7         |NULL                                                                  |LL           |NULL         |2023|2    |
|839610   |HT          |Feeder    |OTFS         |Load Management    |Operations                    |NULL           |Forced Outage      |LIAQUTABAD  |551   |SHAKEEL CORPORATION(OLD MOOSA COLONY)|NULL  |NULL                                    |Gulshan|F.B. Area |18.0    |1.0          |Completed   |2023-02-17 02:53:00|2023-02-17 02:52:00|2023-02-17 03:05:00|13.600000381469727|0          |0             |7         |.htlcf to be n/d                                                      |LL           |NULL         |2023|2    |
|1307687  |HT          |Loop      |Loop Off     |Load Management    |Operations                    |NULL           |Forced Outage      |LIAQUTABAD  |NULL  |NULL                                 |NULL  |NULL                                    |NULL   |NULL      |NULL    |NULL         |NULL        |NULL               |NULL               |NULL               |NULL              |0          |0             |NULL      |NULL                                                                  |NULL         |NULL         |NULL|NULL |
|820860   |RCDC        |DTS       |DTS DC       |NULL               |NULL                          |NULL           |Commercial         |NULL        |3502  |TOOBA MASJID                         |170626|MUSARAT COLONY (CINEMA) PMT-1           |Gulshan|Nazimabad |93.0    |0.0          |Completed   |2023-02-12 08:00:00|2023-02-12 08:00:00|2023-02-12 09:33:00|93.0999984741211  |0          |0             |7         |NULL                                                                  |VHL          |NULL         |2023|2    |
|958418   |HT          |Feeder    |Feeder Trip  |Non-Transient      |Major Fault With Carry Forward|NULL           |NULL               |AZIZABAD    |3341  |BAKHSHI SQUARE                       |NULL  |NULL                                    |Gulshan|F.B. Area |145.0   |3.0          |Completed   |2023-03-13 07:34:00|2023-03-13 07:31:00|2023-03-13 09:25:00|114.01667022705078|0          |0             |7         |.C/F TO MCF                                                           |LL           |NULL         |2023|3    |
|1184747  |HT          |Loop      |Loop Off     |NULL               |NULL                          |NULL           |Forced Outage      |LIAQUTABAD  |551   |SHAKEEL CORPORATION(OLD MOOSA COLONY)|NULL  |NULL                                    |Gulshan|F.B. Area |930415.0|0.0          |Cancelled   |2023-05-03 13:29:00|2023-05-03 13:29:00|NULL               |NULL              |0          |0             |7         |NULL                                                                  |LL           |NULL         |2023|5    |
|1293072  |LT          |DTS       |DTS Trip     |NULL               |NULL                          |NULL           |Job of Operation   |NULL        |552   |CAF MILAT (NAIRANG CINEMA)          |971   |LIAQUATABAD # 4 SS                      |Gulshan|Liaqatabad|493.0   |60.0         |Completed   |2023-05-25 13:44:00|2023-05-25 12:44:00|2023-05-25 21:57:00|553.0833129882812 |0          |0             |7         |NULL                                                                  |ML           |NULL         |2023|5    |
|1103155  |LT          |DTS       |DTS Off      |NULL               |NULL                          |NULL           |Supply off from s/s|NULL        |558   |TAYYA HOTEL (OLD LIAQATABAD-1)       |526240|OPP. LIAQUATABAD-1 SS PMT-2             |Gulshan|Liaqatabad|249.0   |1.0          |Completed   |2023-04-13 18:46:00|2023-04-13 18:45:00|2023-04-13 22:55:00|250.36666870117188|0          |0             |7         |NULL                                                                  |ML           |NULL         |2023|4    |
|762231   |LT          |DTS       |DTS Off      |NULL               |NULL                          |NULL           |DC - Disconnected  |NULL        |195   |ABBAS SQUARE                         |1371  |AZIZABAD TEL NO. 1 BL-14 F.B.A S/S      |Gulshan|F.B. Area |36.0    |1.0          |Completed   |2023-01-25 17:18:00|2023-01-25 17:17:00|2023-01-25 17:54:00|37.349998474121094|0          |0             |7         |NULL                                                                  |LL           |NULL         |2023|1    |
|1323526  |HT          |Loop      |Loop Off     |Load Management    |Operations                    |NULL           |Forced Outage      |GULSHAN     |343   |LUCKY CENTER                         |NULL  |NULL                                    |Gulshan|Gulshan   |16.0    |1.0          |Completed   |2023-05-30 20:13:00|2023-05-30 20:12:00|2023-05-30 20:29:00|17.316667556762695|0          |0             |7         |.MCF TO BE N/D                                                        |LL           |NULL         |2023|5    |
|740626   |HT          |Loop      |Loop Off     |Grid Planned Outage|NULL                          |NULL           |Grid Level Outage  |LIAQUTABAD  |1269  |PAKISTAN COLLEGE (OLD NAZIMABAD-1)   |NULL  |NULL                                    |Gulshan|Nazimabad |8.0     |1.0          |Completed   |2023-01-13 19:44:00|2023-01-13 19:43:00|2023-01-13 19:52:00|9.133333206176758 |0          |0             |7         |.Grid Level Outage BF Operation.N/D                                   |LL           |NULL         |2023|1    |
|1226865  |RCDC        |DTS       |DTS DC       |NULL               |NULL                          |NULL           |Commercial         |NULL        |559   |C-1 AREA                             |552   |DAK KHANA CHOWK PMT-1                   |Gulshan|Liaqatabad|151.0   |0.0          |Completed   |2023-05-12 10:54:00|2023-05-12 10:54:00|2023-05-12 13:25:00|150.61666870117188|0          |0             |7         |NULL                                                                  |ML           |NULL         |2023|5    |
|1319177  |LT          |DTS       |DTS Off      |NULL               |NULL                          |NULL           |Lead Burnt Out     |NULL        |2156  |MEMON MASJID                         |9712  |AZIZABAD POLICE STATION PMT-I           |Gulshan|F.B. Area |90.0    |0.0          |Completed   |2023-05-30 01:59:00|2023-05-30 01:59:00|2023-05-30 03:29:00|89.93333435058594 |0          |0             |7         |NULL                                                                  |LL           |NULL         |2023|5    |
|880020   |HT          |Feeder    |Incoming Trip|Non-Transient      |Minor Fault                   |Misc.          |NULL               |LIAQUTABAD  |1269  |PAKISTAN COLLEGE (OLD NAZIMABAD-1)   |NULL  |NULL                                    |Gulshan|Nazimabad |63.0    |0.0          |Completed   |2023-02-25 18:27:00|2023-02-25 18:27:00|2023-02-25 19:30:00|63.03333282470703 |0          |0             |7         |.protection issue.E/W REPAIR AT 511172 - MUHAMMAD HANIF (HABIB GARDEN)|LL           |NULL         |2023|2    |
|1242013  |LT          |DTS       |DTS Off      |NULL               |NULL                          |NULL           |Lead Burnt Out     |NULL        |3053  |HUSSAIN HAZARA                       |200024|POLE-8, HUSSAIN HAZARA GOTH (HYDRI DRY C|Gulshan|Gulshan   |195.0   |0.0          |Completed   |2023-05-15 19:56:00|2023-05-15 19:56:00|2023-05-15 23:11:00|194.78334045410156|0          |0             |7         |LEad Repaired .                                                       |HL           |NULL         |2023|5    |
|826311   |HT          |Feeder    |OTFS         |Shutdown           |Fault / Shutdown Normalization|NULL           |Forced Outage      |LIAQUTABAD  |1269  |PAKISTAN COLLEGE (OLD NAZIMABAD-1)   |NULL  |NULL                                    |Gulshan|Nazimabad |25.0    |0.0          |Completed   |2023-02-13 17:33:00|2023-02-13 17:33:00|2023-02-13 17:45:00|11.866666793823242|1          |0             |7         |.EMERGENCY COMPLAINT                                                  |LL           |NULL         |2023|2    |
|998380   |LT          |DTS       |DTS Off      |NULL               |NULL                          |NULL           |Voltage Fluctuation|NULL        |3549  |TALIB COLONY                         |172100|FAIZAN (NADDI WALI D/PMT) RHS           |Gulshan|Liaqatabad|409.0   |0.0          |Completed   |2023-03-21 21:14:00|2023-03-21 21:14:00|2023-03-22 04:03:00|409.26666259765625|0          |0             |7         |Voltage Fluctuation                                                   |HL           |NULL         |2023|3    |
|1275968  |HT          |Feeder    |OTFS         |Grid Planned Outage|NULL                          |NULL           |Grid Level Outage  |CIVIC CENTRE|99    |BARADARI                             |NULL  |NULL                                    |Gulshan|Gulshan   |112.0   |1.0          |Completed   |2023-05-22 15:02:00|2023-05-22 15:01:00|2023-05-22 16:39:00|98.4000015258789  |0          |0             |7         |GRID LEVE FORCE S/D                                                   |LL           |NULL         |2023|5    |
|1304503  |LT          |DTS       |DTS Off      |NULL               |NULL                          |NULL           |Job of Operation   |NULL        |1199  |GULBERG                              |500419|P-23 SAMANABD  MARKET WALI PMT (LHS)    |Gulshan|F.B. Area |337.0   |0.0          |Completed   |2023-05-27 12:34:00|2023-05-27 12:34:00|2023-05-27 18:11:00|336.8666687011719 |0          |0             |7         |NULL                                                                  |LL           |NULL         |2023|5    |
+---------+------------+----------+-------------+-------------------+------------------------------+---------------+-------------------+------------+------+-------------------------------------+------+----------------------------------------+-------+----------+--------+-------------+------------+-------------------+-------------------+-------------------+------------------+-----------+--------------+----------+----------------------------------------------------------------------+-------------+-------------+----+-----+
only showing top 20 rows

### Transformation

In [237]:
from pyspark.sql.functions import col, to_date, year, month, sum as _sum
from pyspark.sql import functions as F
from pyspark.sql.functions import col

In [88]:
oms_df_reduced.count()

82951

In [89]:
spark.sql("DROP table nessie.starschema.oms_fact").show()

++
||
++
++

In [90]:
# 1. OMS fact
spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.starschema")
oms_df_reduced.writeTo("nessie.starschema.oms_fact").createOrReplace()

In [273]:
#TEST ONLY 
oms_df_reduced = spark.read.table("nessie.starschema.oms_fact")

### IBC

In [91]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Extract Year and Month from the CreatedOn column
oms_df_reduced = oms_df_reduced.withColumn("Year", F.year("CreatedOn")) \
    .withColumn("Month", F.month("CreatedOn"))

# Group by IBC, Year, Month and calculate frequency of each fault (initialoffreason)
most_frequent_fault = oms_df_reduced.groupBy("IBC", "Year", "Month", "initialoffreason").agg(
    F.count("initialoffreason").alias("Most_Occurred_Fault_Frequency")
)

# Now, for each IBC, Year, and Month, we want the fault with the highest count
most_frequent_fault = most_frequent_fault.withColumn(
    "rank", F.row_number().over(
        Window.partitionBy("IBC", "Year", "Month").orderBy(F.desc("Most_Occurred_Fault_Frequency"))
    )
)

# Filter to get only the most frequent fault for each IBC, Year, and Month
most_frequent_fault = most_frequent_fault.filter(F.col("rank") == 1).drop("rank")

# # Rename IBC to IBC_Fault for clarity
# most_frequent_fault = most_frequent_fault.withColumnRenamed("IBC", "IBC_Fault")
# most_frequent_fault = most_frequent_fault.withColumnRenamed("Month", "Month_Fault")
# most_frequent_fault = most_frequent_fault.withColumnRenamed("Year", "Year_Fault")

# Now, we will aggregate the other fields for the IBC and join with the most frequent fault
oms_ibc_dim = oms_df_reduced.groupBy("IBC", "Year", "Month").agg(
    F.avg("TAT").alias("Average Fault Turn-Around Time (mins)"),
    F.avg("duration").alias("Average Fault Duration (mins)"),
    F.count("outage_Id").alias("Total Outages/Faults"),
    F.sum("israintripping").alias("Rain Frequency")
)

# Join the most frequent fault with the rest of the aggregation
oms_ibc_dim_j = oms_ibc_dim.join(most_frequent_fault, 
                       on=["IBC","Year","Month"],
                       how="left")

# # Rename columns to avoid ambiguity before the final select
# oms_ibc_dim = oms_ibc_dim.withColumnRenamed("Year", "oms_Year") \
#                          .withColumnRenamed("Month", "oms_Month")

# most_frequent_fault = most_frequent_fault.withColumnRenamed("Year", "fault_Year") \
#                                            .withColumnRenamed("Month", "fault_Month")

# Final selection of columns, including the most frequent fault
oms_ibc_dim_j = oms_ibc_dim_j.select(
    # Rename columns for clarity
    F.col("Month").alias("Month"),
    F.col("Year").alias("Year"),
    "IBC", 
    "Average Fault Turn-Around Time (mins)", 
    "Average Fault Duration (mins)", 
    "Total Outages/Faults", 
    "Rain Frequency", 
    F.col("initialoffreason").alias("Most_Occurred_Fault"), 
    "Most_Occurred_Fault_Frequency"
)

# Show the result
oms_ibc_dim_j.show(truncate=False)

+-----+----+----------+-------------------------------------+-----------------------------+--------------------+--------------+-------------------+-----------------------------+
|Month|Year|IBC       |Average Fault Turn-Around Time (mins)|Average Fault Duration (mins)|Total Outages/Faults|Rain Frequency|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|
+-----+----+----------+-------------------------------------+-----------------------------+--------------------+--------------+-------------------+-----------------------------+
|3    |2024|F.B. Area |12548.455188679245                   |192.87223607655298           |424                 |0             |Job of Operation   |182                          |
|2    |2023|Gulshan   |17831.50980392157                    |147.82355213657743           |357                 |0             |Shutdown           |88                           |
|6    |2023|Gulshan   |17547.137339055793                   |130.56513362291955           |699                 |0             |Lead Burnt Out     |257                          |
|4    |2024|Liaqatabad|565.8563428293158                    |267.3639089741234            |4107                |0             |Commercial         |3302                         |
|7    |2023|Gulshan   |10498.176223776223                   |119.944239577727             |715                 |0             |Lead Burnt Out     |234                          |
|3    |2024|Liaqatabad|909.8636833046471                    |305.8743477947997            |2905                |0             |Commercial         |2258                         |
|12   |2024|F.B. Area |1631.6443418013857                   |309.5681220350857            |433                 |0             |NULL               |86                           |
|10   |2024|F.B. Area |3687.4675572519086                   |188.31062358638115           |524                 |0             |Job of Operation   |231                          |
|5    |2023|Nazimabad |6956.117206982543                    |81.41825798707991            |401                 |0             |NULL               |94                           |
|10   |2024|Liaqatabad|1298.2018348623853                   |740.6502466491572            |545                 |0             |Voltage Fluctuation|165                          |
|2    |2024|F.B. Area |13180.735459662288                   |495.621311710603             |533                 |0             |Job of Operation   |212                          |
|9    |2023|Gulshan   |14497.959223300972                   |208.55132131960133           |515                 |0             |Lead Burnt Out     |116                          |
|2    |2025|Gulshan   |236.75757575757575                   |128.78102847363087           |99                  |0             |Shutdown           |28                           |
|9    |2024|Liaqatabad|1317.5057034220533                   |571.8835244680027            |789                 |0             |Commercial         |237                          |
|1    |2025|Liaqatabad|725.9142156862745                    |768.2303079999252            |816                 |0             |Job of Operation   |256                          |
|8    |2023|F.B. Area |15407.771739130434                   |126.29020756342656           |460                 |0             |NULL               |129                          |
|1    |2025|F.B. Area |1077.921717171717                    |147.41332440801975           |396                 |0             |Job of Operation   |83                           |
|11   |2024|Nazimabad |4548.313199105145                    |688.6068998248558            |447                 |0             |Forced Outage      |106                          |
|7    |2024|Gulshan   |3995.960824742268                    |258.312526101717             |970                 |0             |Lead Burnt Out     |334                          |
|6    |2023|F.B. Area |12717.103280680438                   |125.43956042824338           |823                 |0             |Job of Operation   |250                          |
+-----+----+----------+-------------------------------------+-----------------------------+--------------------+--------------+-------------------+-----------------------------+
only showing top 20 rows

In [64]:
oms_ibc_dim_j.select("Year","Month").limit(5).show()

+----+-----+
|Year|Month|
+----+-----+
|2024|    3|
|2023|    2|
|2023|    2|
|2023|    6|
|2024|    1|
+----+-----+

In [92]:
oms_ibc_dim_j.count()

105

In [93]:
# 1. OMS fact
oms_ibc_dim_j = oms_ibc_dim_j.filter(
    (col("Month").isNotNull()) & (col("Year").isNotNull())
)

In [94]:
spark.sql("DROP TABLE nessie.starschema.ibc_oms_dim")

DataFrame[]

In [95]:

spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.starschema")
oms_ibc_dim_j.writeTo("nessie.starschema.ibc_oms_dim").createOrReplace()

#### With CRM

#### Date

In [261]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Convert timestamp to date only
oms_df_reduced = oms_df_reduced.withColumn("Date", F.to_date("CreatedOn"))

# Group by IBC and Date to calculate frequency of each fault
most_frequent_fault = oms_df_reduced.groupBy("IBC", "Date", "initialoffreason").agg(
    F.count("initialoffreason").alias("Most_Occurred_Fault_Frequency")
)

# Find the most frequent fault per IBC and Date
most_frequent_fault = most_frequent_fault.withColumn(
    "rank", F.row_number().over(
        Window.partitionBy("IBC", "Date").orderBy(F.desc("Most_Occurred_Fault_Frequency"))
    )
).filter(F.col("rank") == 1).drop("rank")

# Aggregate the other fields for each IBC and Date
oms_ibc_dim = oms_df_reduced.groupBy("IBC", "Date").agg(
    F.avg("TAT").alias("Average Fault Turn-Around Time (mins)"),
    F.avg("duration").alias("Average Fault Duration (mins)"),
    F.count("outage_Id").alias("Total Outages/Faults"),
    F.avg("PunchingDelay").alias("Average Punching Delay"),

    F.sum("israintripping").alias("Rain Frequency")
)

# Join both datasets
oms_ibc_dim_j = oms_ibc_dim.join(most_frequent_fault, on=["IBC", "Date"], how="left")

# Final selection
oms_ibc_date_dim = oms_ibc_dim_j.select(
    "IBC",
    "Date",
    "Average Fault Turn-Around Time (mins)",
    "Average Fault Duration (mins)",
    "Total Outages/Faults",
    "Average Punching Delay",
    "Rain Frequency",
    F.col("initialoffreason").alias("Most_Occurred_Fault"),
    "Most_Occurred_Fault_Frequency"
)

# Show result
oms_ibc_date_dim.show(truncate=False)

+----------+----------+-------------------------------------+-----------------------------+--------------------+----------------------+--------------+-------------------+-----------------------------+
|IBC       |Date      |Average Fault Turn-Around Time (mins)|Average Fault Duration (mins)|Total Outages/Faults|Average Punching Delay|Rain Frequency|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|
+----------+----------+-------------------------------------+-----------------------------+--------------------+----------------------+--------------+-------------------+-----------------------------+
|Nazimabad |2024-04-02|49934.0                              |164.55208611488342           |9                   |0.1111111111111111    |0             |Breaker Tripped    |4                            |
|F.B. Area |2024-08-18|80.4                                 |79.8008337020874             |20                  |2.45                  |0             |Job of Operation   |8                            |
|Nazimabad |2024-07-30|144.54545454545453                   |144.87121119643703           |33                  |2.393939393939394     |0             |Breaker Tripped    |9                            |
|Gulshan   |2024-10-28|7505.75                              |155.24736805966026           |20                  |0.3                   |0             |Lead Burnt Out     |5                            |
|Liaqatabad|2024-11-25|1458.3658536585365                   |1502.4365720981505           |41                  |44.4390243902439      |0             |Voltage Fluctuation|21                           |
|Nazimabad |2024-12-26|145.63636363636363                   |143.57575832713735           |11                  |2.5454545454545454    |0             |Forced Outage      |6                            |
|Liaqatabad|2023-07-18|41369.7                              |348.6561397753264            |20                  |44.15                 |0             |Job of Operation   |5                            |
|Liaqatabad|2024-02-16|557.88                               |655.079328918457             |25                  |97.08                 |0             |Voltage Fluctuation|12                           |
|F.B. Area |2024-06-05|12816.714285714286                   |128.49135896894666           |28                  |2.5                   |0             |Job of Operation   |14                           |
|F.B. Area |2024-07-13|161.83333333333334                   |163.9138894279798            |24                  |2.625                 |0             |Job of Operation   |19                           |
|Liaqatabad|2024-10-15|378.2916666666667                    |409.06596997380257           |24                  |35.083333333333336    |0             |Forced Outage      |8                            |
|Nazimabad |2024-11-03|10713.692307692309                   |96.46111122767131            |13                  |2.230769230769231     |0             |Breaker Tripped    |5                            |
|Liaqatabad|2023-03-04|583.1575342465753                    |571.3390406925384            |146                 |1.9794520547945205    |0             |Commercial         |107                          |
|Liaqatabad|2023-01-02|152.44444444444446                   |152.97222137451172           |9                   |0.7777777777777778    |0             |Voltage Fluctuation|5                            |
|Liaqatabad|2023-03-02|216.8181818181818                    |220.1121227091009            |22                  |3.727272727272727     |0             |Shutdown           |7                            |
|F.B. Area |2023-09-19|35859.76190476191                    |1155.2758346557616           |21                  |0.047619047619047616  |0             |Commercial         |9                            |
|Nazimabad |2024-02-11|80.0                                 |75.98461664639987            |13                  |0.23076923076923078   |0             |Job of Operation   |5                            |
|Gulshan   |2024-01-17|39979.0                              |183.3589715224046            |14                  |5.571428571428571     |0             |Shutdown           |4                            |
|Liaqatabad|2025-02-04|438.0                                |464.2767673261238            |33                  |27.484848484848484    |0             |Job of Operation   |15                           |
|Gulshan   |2024-04-02|226.30769230769232                   |224.08461922865646           |13                  |0.8461538461538461    |0             |Shutdown           |8                            |
+----------+----------+-------------------------------------+-----------------------------+--------------------+----------------------+--------------+-------------------+-----------------------------+
only showing top 20 rows

In [262]:
#Reading crm_date
crm_date_dim = spark.read.table("nessie.starschema.crm_date_dim")

In [257]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col

In [266]:
date_ibc_crm_oms = oms_ibc_date_dim.alias("oms_date").join(
    crm_date_dim.alias("crm_date"), 
    (F.col("oms_date.Date") == F.col("crm_date.Date")) &
    (F.col("oms_date.IBC") == F.col("crm_date.IBCName")),#only ibc names in oms
    how='outer'#retaining all info 


     
).groupBy("oms_date.Date","oms_date.IBC" ).agg(
    # First value of relevant oms and crm columns
    F.first("oms_date.Total Outages/Faults").alias("Total Outages/Faults"),
    F.first("oms_date.Most_Occurred_Fault").alias("Most_Occurred_Fault"),
    F.first("oms_date.Most_Occurred_Fault_Frequency").alias("Most_Occurred_Fault_Frequency"),
    F.first("oms_date.Average Fault Duration (mins)").alias("Average Fault Duration (mins)"),
    F.first("oms_date.Average Fault Turn-Around Time (mins)").alias("Average Fault Turn-Around Time (mins)"),
    F.first("oms_date.Average Punching Delay").alias("Average Punching Delay"),
    F.first("oms_date.Rain Frequency").alias("Rain Frequency"),
    F.first("crm_date.Complaint Counts").alias("Complaint Counts"),    
    F.first("crm_date.Average Complaint Resolution Time (mins)").alias("Average Complaint Resolution Time (mins)")
 
)
    
date_ibc_crm_oms.show(truncate=False)

+----------+----------+--------------------+-------------------+-----------------------------+-----------------------------+-------------------------------------+----------------------+--------------+----------------+----------------------------------------+
|Date      |IBC       |Total Outages/Faults|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|Average Fault Duration (mins)|Average Fault Turn-Around Time (mins)|Average Punching Delay|Rain Frequency|Complaint Counts|Average Complaint Resolution Time (mins)|
+----------+----------+--------------------+-------------------+-----------------------------+-----------------------------+-------------------------------------+----------------------+--------------+----------------+----------------------------------------+
|NULL      |NULL      |5561                |NULL               |NULL                         |NULL                         |NULL                                 |NULL                  |0             |NULL            |NULL                                    |
|2023-01-01|F.B. Area |11                  |NULL               |8                            |76.84333248138428            |100661.81818181818                   |0.2727272727272727    |0             |NULL            |NULL                                    |
|2023-01-01|Gulshan   |16                  |Lead Burnt Out     |10                           |68.47307634353638            |207484.375                           |0.3125                |0             |NULL            |NULL                                    |
|2023-01-01|Liaqatabad|11                  |Forced Outage      |3                            |78.93787930228494            |80.81818181818181                    |2.272727272727273     |0             |NULL            |NULL                                    |
|2023-01-01|Nazimabad |8                   |Forced Outage      |2                            |59.164584159851074           |60.0                                 |0.5                   |0             |NULL            |NULL                                    |
|2023-01-02|F.B. Area |7                   |NULL               |4                            |74.95714351109096            |77.57142857142857                    |0.14285714285714285   |0             |NULL            |NULL                                    |
|2023-01-02|Gulshan   |14                  |Shutdown           |6                            |186.66923357890204           |79087.71428571429                    |1.2142857142857142    |0             |NULL            |NULL                                    |
|2023-01-02|Liaqatabad|9                   |Voltage Fluctuation|5                            |152.97222137451172           |152.44444444444446                   |0.7777777777777778    |0             |NULL            |NULL                                    |
|2023-01-02|Nazimabad |7                   |Shutdown           |3                            |83.13809558323452            |84.42857142857143                    |1.4285714285714286    |0             |NULL            |NULL                                    |
|2023-01-03|F.B. Area |31                  |Commercial         |21                           |534.5349517560775            |535.2903225806451                    |1.3548387096774193    |0             |NULL            |NULL                                    |
|2023-01-03|Gulshan   |6                   |NULL               |2                            |103.01388812065125           |131.0                                |0.5                   |0             |NULL            |NULL                                    |
|2023-01-03|Liaqatabad|12                  |Shutdown           |11                           |112.42777570088704           |114.66666666666667                   |1.5833333333333333    |0             |NULL            |NULL                                    |
|2023-01-03|Nazimabad |12                  |NULL               |4                            |64.5069436232249             |68.75                                |0.3333333333333333    |0             |NULL            |NULL                                    |
|2023-01-04|F.B. Area |9                   |Forced Outage      |3                            |71.69999861717224            |122511.0                             |1.8888888888888888    |0             |NULL            |NULL                                    |
|2023-01-04|Gulshan   |9                   |Shutdown           |6                            |119.1592583126492            |122.0                                |0.8888888888888888    |0             |NULL            |NULL                                    |
|2023-01-04|Liaqatabad|10                  |Job of Operation   |3                            |83.35833311080933            |91.5                                 |0.7                   |0             |NULL            |NULL                                    |
|2023-01-04|Nazimabad |10                  |Shutdown           |3                            |81.14999976423051            |110224.7                             |0.4                   |0             |NULL            |NULL                                    |
|2023-01-05|F.B. Area |23                  |Forced Outage      |5                            |153.63478001304296           |162.56521739130434                   |0.391304347826087     |0             |NULL            |NULL                                    |
|2023-01-05|Gulshan   |8                   |Forced Outage      |3                            |146.6520848274231            |150.125                              |0.375                 |0             |NULL            |NULL                                    |
|2023-01-05|Liaqatabad|30                  |Commercial         |12                           |617.7716508865357            |622.7                                |0.6333333333333333    |0             |NULL            |NULL                                    |
+----------+----------+--------------------+-------------------+-----------------------------+-----------------------------+-------------------------------------+----------------------+--------------+----------------+----------------------------------------+
only showing top 20 rows

In [267]:
spark.sql("DROP TABLE nessie.starschema.date_ibc_crm_oms")

DataFrame[]

In [268]:

date_ibc_crm_oms.writeTo("nessie.starschema.date_ibc_crm_oms").createOrReplace()

### Feeder

In [ ]:
#TEST ONLY 
oms_df_reduced = spark.read.table("nessie.starschema.oms_fact")

In [276]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Convert timestamp to date only
oms_df_reduced = oms_df_reduced.withColumn("Date", F.to_date("CreatedOn"))

# Group by Feeder ID and Date to calculate frequency of each fault
most_frequent_fault = oms_df_reduced.groupBy("fdr_Id", "Date", "initialoffreason").agg(
    F.count("initialoffreason").alias("Most_Occurred_Fault_Frequency")
)

# Find the most frequent fault per Feeder ID and Date
most_frequent_fault = most_frequent_fault.withColumn(
    "rank", F.row_number().over(
        Window.partitionBy("fdr_Id", "Date").orderBy(F.desc("Most_Occurred_Fault_Frequency"))
    )
).filter(F.col("rank") == 1).drop("rank")

# Aggregate the other fields for each Feeder ID and Date
oms_feeder_dim = oms_df_reduced.groupBy("fdr_Id", "Date").agg(
    F.first("fdr_name").alias("Feeder Name"),
    F.avg("TAT").alias("Average Fault Turn-Around Time (mins)"),
    F.avg("duration").alias("Average Fault Duration (mins)"),
    F.count("outage_Id").alias("Total Outages/Faults"),
    F.avg("PunchingDelay").alias("Average Punching Delay"),
    F.sum("israintripping").alias("Rain Frequency")
)

# Join both datasets
oms_feeder_dim_j = oms_feeder_dim.join(most_frequent_fault, on=["fdr_Id", "Date"], how="left")

# Final selection
oms_feeder_date_dim = oms_feeder_dim_j.select(
    "Date",
    F.col("fdr_Id").alias("Feeder ID"),
    "Feeder Name",
    "Average Fault Turn-Around Time (mins)",
    "Average Fault Duration (mins)",
    "Total Outages/Faults",
    "Average Punching Delay",
    "Rain Frequency",
    F.col("initialoffreason").alias("Most_Occurred_Fault"),
    "Most_Occurred_Fault_Frequency"
)

# Show result
oms_feeder_date_dim.show(truncate=False)

+----------+---------+-----------+-------------------------------------+-----------------------------+--------------------+----------------------+--------------+-------------------+-----------------------------+
|Date      |Feeder ID|Feeder Name|Average Fault Turn-Around Time (mins)|Average Fault Duration (mins)|Total Outages/Faults|Average Punching Delay|Rain Frequency|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|
+----------+---------+-----------+-------------------------------------+-----------------------------+--------------------+----------------------+--------------+-------------------+-----------------------------+
|2023-01-16|102      |EAGLE SQUAD|54.0                                 |51.849998474121094           |1                   |1.0                   |0             |NULL               |1                            |
|2023-02-09|102      |EAGLE SQUAD|106.0                                |104.73332977294922           |1                   |0.0                   |0             |NULL               |1                            |
|2023-04-19|102      |EAGLE SQUAD|100.33333333333333                   |109.62777900695801           |3                   |10.0                  |0             |Lead Burnt Out     |2                            |
|2023-05-09|102      |EAGLE SQUAD|116.66666666666667                   |124.11666584014893           |3                   |8.333333333333334     |0             |Job of Operation   |1                            |
|2023-05-27|102      |EAGLE SQUAD|15.0                                 |13.733333587646484           |1                   |1.0                   |0             |Forced Outage      |1                            |
|2023-05-29|102      |EAGLE SQUAD|225.83333333333334                   |220.94166628519693           |6                   |0.3333333333333333    |0             |NULL               |3                            |
|2023-05-30|102      |EAGLE SQUAD|24.0                                 |15.0                         |1                   |1.0                   |0             |Planned Outage     |1                            |
|2023-06-02|102      |EAGLE SQUAD|40.0                                 |37.79999923706055            |1                   |0.0                   |0             |NULL               |1                            |
|2023-06-04|102      |EAGLE SQUAD|121.0                                |100.60000165303548           |3                   |0.6666666666666666    |0             |NULL               |2                            |
|2023-06-08|102      |EAGLE SQUAD|86.0                                 |67.46666717529297            |1                   |1.0                   |0             |NULL               |1                            |
|2023-06-09|102      |EAGLE SQUAD|19.0                                 |6.25                         |1                   |2.0                   |0             |NULL               |1                            |
|2023-06-21|102      |EAGLE SQUAD|193.5                                |187.78333282470703           |2                   |0.5                   |0             |Shutdown           |1                            |
|2023-06-22|102      |EAGLE SQUAD|19.0                                 |12.583333492279053           |2                   |6.0                   |0             |Forced Outage      |2                            |
|2023-07-15|102      |EAGLE SQUAD|52.0                                 |50.650001525878906           |1                   |1.0                   |0             |Forced Outage      |1                            |
|2023-07-24|102      |EAGLE SQUAD|133.0                                |132.8000030517578            |1                   |0.0                   |0             |NULL               |1                            |
|2023-08-07|102      |EAGLE SQUAD|308.0                                |305.2777786254883            |3                   |0.3333333333333333    |0             |Breaker Tripped    |1                            |
|2023-08-18|102      |EAGLE SQUAD|68.0                                 |69.53333282470703            |1                   |1.0                   |0             |Forced Outage      |1                            |
|2023-08-21|102      |EAGLE SQUAD|15.0                                 |14.283333778381348           |1                   |0.0                   |0             |Planned Outage     |1                            |
|2023-08-27|102      |EAGLE SQUAD|112.0                                |61.04999923706055            |1                   |0.0                   |0             |NULL               |1                            |
|2023-09-04|102      |EAGLE SQUAD|6.0                                  |6.449999809265137            |1                   |1.0                   |0             |Forced Outage      |1                            |
+----------+---------+-----------+-------------------------------------+-----------------------------+--------------------+----------------------+--------------+-------------------+-----------------------------+
only showing top 20 rows

In [277]:
#Reading crm_date
crm_feeder_dim = spark.read.table("nessie.starschema.crm_feeder_dim")

In [280]:
date_feeder_crm_oms = oms_feeder_date_dim.alias("oms_feeder").join(
    crm_feeder_dim.alias("crm_feeder"), 
    (F.col("oms_feeder.Date") == F.col("crm_feeder.Date")) &
    (F.col("oms_feeder.Feeder ID") == F.col("crm_feeder.Feeder ID")),#only ibc names in oms
    how='outer'#retaining all info 


     
).groupBy("oms_feeder.Date","oms_feeder.Feeder ID" ).agg(
    # First value of relevant oms and crm columns
    F.first("oms_feeder.Feeder Name").alias("Feeder Name"),
    F.first("oms_feeder.Total Outages/Faults").alias("Total Outages/Faults"),
    F.first("oms_feeder.Most_Occurred_Fault").alias("Most_Occurred_Fault"),
    F.first("oms_feeder.Most_Occurred_Fault_Frequency").alias("Most_Occurred_Fault_Frequency"),
    F.first("oms_feeder.Average Fault Duration (mins)").alias("Average Fault Duration (mins)"),
    F.first("oms_feeder.Average Fault Turn-Around Time (mins)").alias("Average Fault Turn-Around Time (mins)"),
    F.first("oms_feeder.Average Punching Delay").alias("Average Punching Delay"),
    F.first("oms_feeder.Rain Frequency").alias("Rain Frequency"),
    F.first("crm_feeder.Complaint Counts").alias("Complaint Counts"),    
    F.first("crm_feeder.Average Complaint Resolution Time (mins)").alias("Average Complaint Resolution Time (mins)")
 
)
    
date_feeder_crm_oms.show(truncate=False)

+----------+---------+--------------------------------+--------------------+-------------------+-----------------------------+-----------------------------+-------------------------------------+----------------------+--------------+----------------+----------------------------------------+
|Date      |Feeder ID|Feeder Name                     |Total Outages/Faults|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|Average Fault Duration (mins)|Average Fault Turn-Around Time (mins)|Average Punching Delay|Rain Frequency|Complaint Counts|Average Complaint Resolution Time (mins)|
+----------+---------+--------------------------------+--------------------+-------------------+-----------------------------+-----------------------------+-------------------------------------+----------------------+--------------+----------------+----------------------------------------+
|2023-01-01|109      |EXPO CENTER                     |1                   |NULL               |1                            |15.783333778381348           |35.0                                 |1.0                   |0             |NULL            |NULL                                    |
|2023-01-01|117      |QASIMABAD DEGREE COLLGE (QDC)   |1                   |Service Jumper     |1                            |158.31666564941406           |158.0                                |0.0                   |0             |NULL            |NULL                                    |
|2023-01-01|1213     |NESCOS                          |1                   |Shutdown           |1                            |127.78333282470703           |128.0                                |0.0                   |0             |NULL            |NULL                                    |
|2023-01-01|1266     |FED CAPITAL-4                   |1                   |Lead Burnt Out     |1                            |11.666666984558105           |12.0                                 |0.0                   |0             |NULL            |NULL                                    |
|2023-01-01|2023     |BANA PALACE                     |1                   |NULL               |1                            |73.73332977294922            |77.0                                 |0.0                   |0             |NULL            |NULL                                    |
|2023-01-01|2139     |TRIMAX HOSPITAL(OLD COMP SCHOOL)|2                   |Forced Outage      |2                            |14.816666603088379           |17.5                                 |0.0                   |0             |NULL            |NULL                                    |
|2023-01-01|316      |ORIENT BUILDERS                 |1                   |Forced Outage      |1                            |31.600000381469727           |42.0                                 |1.0                   |0             |NULL            |NULL                                    |
|2023-01-01|3461     |ISMAILIA FLAT                   |2                   |Shutdown           |1                            |37.875000953674316           |37.5                                 |0.5                   |0             |NULL            |NULL                                    |
|2023-01-01|347      |AL-NAJEEB                       |2                   |Lead Burnt Out     |2                            |67.7249984741211             |68.0                                 |0.0                   |0             |NULL            |NULL                                    |
|2023-01-01|558      |TAYYA HOTEL (OLD LIAQATABAD-1)  |2                   |Forced Outage      |1                            |38.508334159851074           |54.5                                 |1.0                   |0             |NULL            |NULL                                    |
|2023-01-01|657      |PAPOSH NAGAR                    |2                   |NULL               |1                            |37.15000057220459            |37.0                                 |0.5                   |0             |NULL            |NULL                                    |
|2023-01-01|791      |USMANIA COLONY                  |1                   |NULL               |1                            |71.36666870117188            |75.0                                 |0.0                   |0             |NULL            |NULL                                    |
|2023-01-01|813      |SHAH-E-KARBALA                  |2                   |Lead Burnt Out     |1                            |114.15833377838135           |114.5                                |0.5                   |0             |NULL            |NULL                                    |
|2023-01-01|99       |BARADARI                        |4                   |Lead Burnt Out     |4                            |9.116666555404663            |553141.25                            |0.25                  |0             |NULL            |NULL                                    |
|2023-01-02|117      |QASIMABAD DEGREE COLLGE (QDC)   |2                   |Voltage Fluctuation|2                            |134.19166564941406           |134.0                                |0.0                   |0             |NULL            |NULL                                    |
|2023-01-02|2012     |DEHLI COLLEGE                   |1                   |NULL               |1                            |42.96666717529297            |44.0                                 |0.0                   |0             |NULL            |NULL                                    |
|2023-01-02|2156     |MEMON MASJID                    |1                   |Forced Outage      |1                            |41.20000076293945            |47.0                                 |0.0                   |0             |NULL            |NULL                                    |
|2023-01-02|3177     |PAK SWISS                       |1                   |LT Cable Fault     |1                            |540.6333618164062            |541.0                                |0.0                   |0             |NULL            |NULL                                    |
|2023-01-02|326      |EXHIBITION                      |1                   |Forced Outage      |1                            |5.7166666984558105           |1.0                                  |14.0                  |0             |NULL            |NULL                                    |
|2023-01-02|334      |SHANTI NAGAR                    |1                   |NULL               |1                            |12.949999809265137           |19.0                                 |0.0                   |0             |NULL            |NULL                                    |
+----------+---------+--------------------------------+--------------------+-------------------+-----------------------------+-----------------------------+-------------------------------------+----------------------+--------------+----------------+----------------------------------------+
only showing top 20 rows

In [282]:
spark.sql("DROP TABLE nessie.starschema.date_feeder_crm_oms")
date_feeder_crm_oms.writeTo("nessie.starschema.date_feeder_crm_oms").createOrReplace()

#### merging crm ibc with customer IBC

In [6]:
crm_ibc_dim = spark.read.table("nessie.starschema.ibc_crm_dim")
oms_ibc_dim_j = spark.read.table("nessie.starschema.ibc_oms_dim")

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

In [18]:
# so its easier to drop
crm_ibc_dim = crm_ibc_dim \
    .withColumnRenamed("Year", "Year1") \
    .withColumnRenamed("Month", "Month1")

In [20]:
# Perform a full outer join to get rows from both crm_ibc_dim and oms_ibc_dim
# oms is much lesser than crm 

ibc_oms_crm_dim = oms_ibc_dim_j.join(
    crm_ibc_dim,
    on=[oms_ibc_dim_j.IBC==crm_ibc_dim.IBCName,oms_ibc_dim_j.Year==crm_ibc_dim.Year1,oms_ibc_dim_j.Month==crm_ibc_dim.Month1],  # Ensure you're joining on the IBCName column
    how="inner"      # Use "left" because oms has lesser data than crm  and we only want mapping of ibcs that exist in both 
)

In [23]:
# Display the final merged result
ibc_oms_crm_dim.show(truncate=False)

+-----+----+----------+-------------------------------------+-----------------------------+--------------------+--------------+-------------------+-----------------------------+-------+----------------+----------------------------------------+
|Month|Year|IBC       |Average Fault Turn-Around Time (mins)|Average Fault Duration (mins)|Total Outages/Faults|Rain Frequency|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|IBCCode|Complaint Counts|Average Complaint Resolution Time (mins)|
+-----+----+----------+-------------------------------------+-----------------------------+--------------------+--------------+-------------------+-----------------------------+-------+----------------+----------------------------------------+
|8    |2023|Nazimabad |16946.074162679426                   |75.52139364193879            |418                 |0             |Forced Outage      |144                          |136    |2730            |110.82857149376537                      |
|5    |2023|Nazimabad |6956.117206982543                    |81.41825798707991            |401                 |0             |NULL               |94                           |136    |3606            |115.84658907207594                      |
|9    |2023|Liaqatabad|8922.616174582798                    |493.45591046036066           |779                 |0             |Job of Operation   |126                          |127    |4413            |133.8341264748233                       |
|8    |2024|Gulshan   |3166.9110122358175                   |216.62205297197843           |899                 |0             |Lead Burnt Out     |210                          |123    |6453            |323.6304260506944                       |
|6    |2024|Liaqatabad|420.91503084688725                   |325.2773448057546            |3566                |0             |Commercial         |2470                         |127    |5588            |338.9302084408407                       |
|5    |2024|Nazimabad |3207.5613519470976                   |122.3295554905026            |1361                |0             |Commercial         |848                          |136    |4535            |151.09230436193116                      |
|6    |2023|Nazimabad |9132.02823179792                     |155.2396145800839            |673                 |0             |Forced Outage      |153                          |136    |4815            |120.12186911472527                      |
|6    |2024|Nazimabad |4507.503456221199                    |130.3563982380452            |868                 |0             |Breaker Tripped    |213                          |136    |5975            |183.64629344505246                      |
|4    |2023|Nazimabad |3060.5333333333333                   |276.3817872363468            |345                 |0             |Commercial         |142                          |136    |2276            |99.8783829894133                        |
|4    |2023|Liaqatabad|9679.94453507341                     |341.0218026043703            |613                 |0             |Commercial         |160                          |127    |1987            |149.03673886748854                      |
|7    |2023|Gulshan   |10498.176223776223                   |119.944239577727             |715                 |0             |Lead Burnt Out     |234                          |123    |5143            |152.6985417374975                       |
|9    |2023|F.B. Area |21062.67391304348                    |251.5752162145332            |598                 |0             |Job of Operation   |167                          |132    |3118            |130.3227709563135                       |
|9    |2024|Gulshan   |2338.9684210526316                   |202.59784208755966           |570                 |0             |Lead Burnt Out     |141                          |123    |4061            |356.35892674905915                      |
|7    |2023|Liaqatabad|3886.7138364779876                   |505.7660868140898            |954                 |0             |Job of Operation   |176                          |127    |5326            |161.66124668508107                      |
|6    |2023|F.B. Area |12717.103280680438                   |125.43956042824338           |823                 |0             |Job of Operation   |250                          |132    |6226            |130.2874076129193                       |
|7    |2023|Nazimabad |12150.481178396072                   |84.47472314333599            |611                 |0             |NULL               |152                          |136    |4900            |112.85497943201844                      |
|6    |2023|Liaqatabad|9810.945874934314                    |362.7612014443759            |1903                |0             |Commercial         |1000                         |127    |4470            |156.31476499668972                      |
|4    |2024|Nazimabad |2937.603058994902                    |126.3896260085868            |1373                |0             |Commercial         |1113                         |136    |2495            |112.30725442818506                      |
|8    |2024|Nazimabad |11063.99436936937                    |143.19730963927415           |888                 |0             |Commercial         |297                          |136    |4415            |157.8477227234824                       |
|5    |2024|Gulshan   |6812.077694235589                    |208.54272937821224           |798                 |0             |Lead Burnt Out     |291                          |123    |6187            |248.04457733934407                      |
+-----+----+----------+-------------------------------------+-----------------------------+--------------------+--------------+-------------------+-----------------------------+-------+----------------+----------------------------------------+
only showing top 20 rows

In [22]:
ibc_oms_crm_dim = ibc_oms_crm_dim.drop("Year1", "Month1", "IBCName")

In [24]:
ibc_oms_crm_dim = ibc_oms_crm_dim.repartition(200)

In [25]:
ibc_oms_crm_dim.count()

48

In [26]:
spark.sql("DROP TABLE nessie.starschema.ibc_oms_crm_dim")

DataFrame[]

In [27]:
spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.starschema")
ibc_oms_crm_dim.writeTo("nessie.starschema.ibc_oms_crm_dim").createOrReplace()

In [512]:
#defining ageing columns 
merged_ibc_dim_omscrm = merged_ibc_dim_omscrm.withColumn(
    "Total_IRB_Amount", F.lit(0).cast("double")
).withColumn(
    "Total_IRB_Units", F.lit(0).cast("double")
).withColumn(
    "Average_IRB_Amount", F.lit(0).cast("double")
).withColumn(
    "Average_IRB_Units", F.lit(0).cast("double")
).withColumn(
    "Total_Sanctioned_Load", F.lit(0).cast("double")
).withColumn(
    "Total_Connected_Load", F.lit(0).cast("double")
).withColumn(
    "Average_Sanctioned_Load", F.lit(0).cast("double")
).withColumn(
    "Average_Connected_Load", F.lit(0).cast("double")
).withColumn(
    "Total_Current_Amount", F.lit(0).cast("double")
).withColumn(
    "Average_Current_Amount", F.lit(0).cast("double")
).withColumn(
    "Total_Current_Units", F.lit(0).cast("double")
).withColumn(
    "Average_Current_Units", F.lit(0).cast("double")
)

# should be able to add ageing with
# merged_ibc_dim_ageing = ageing_ibc_dim.join(
#     merged_ibc_dim_omscrm,
#     on=["IBCName"],  # Ensure you're joining on the IBCName column
#     how="left"       # Use "left" join to keep all rows from oms_ibc_dim and match with crm_ibc_dim
# )

# # Display the final merged result
# merged_ibc_dim_omscrm.show(truncate=False)

##ingest it back into ibc_dim
# merged_ibc_dim_omscrm.write.mode("overwrite").saveAsTable("nessie.starschema.ibc_dim")

In [516]:
# Assuming crm_df and oms_df are Spark DataFrames

distinct_ibcs_crm = crm_df_reduced.select("IBCName").distinct()
distinct_ibcs_oms = oms_df_reduced.select("IBC").distinct()

# Show the results
distinct_ibcs_crm.show(), distinct_ibcs_oms.show()

+-------------+
|      IBCName|
+-------------+
|      Defence|
|       Saddar|
|  NEW KARACHI|
|      Liyar-I|
|     Liyar-II|
|      Gulshan|
|         KIMZ|
|        Gadap|
|       Landhi|
|         SIMZ|
|    F.B. Area|
|  N.Nazimabad|
|  Shah Faisal|
|     Orangi-I|
|    Nazimabad|
|      Korangi|
|          PSC|
|      Clifton|
|North Karachi|
|     Jauhar-I|
+-------------+
only showing top 20 rows

+-----------+
|        IBC|
+-----------+
|Liaquatabad|
|    Gulshan|
|  Nazimabad|
|    FB Area|
+-----------+

(None, None)

In [518]:
# add to starschema as ibc_dim
merged_ibc_dim_omscrm.write.mode("overwrite").saveAsTable("nessie.starschema.ibc_dim")
# merged_ibc_dim_omscrm.writeTo("nessie.starschema.ibc_dim").createOrReplace()

In [221]:
df_reduced.withColumn("month", F.month("Createdon")).limit(1).show()

+---------+------------+----------+-------------+-------------+----------------+---------------+-------------------+--------+---------+-------+------+--------------+------+----------------+-------+-------+----+-----+---+-------------+------------+-------------+-------------+-------------+--------+-----------+--------------+----------+---------------+-----+-----+-------------+------------------+-------------+-------------+----+----+----+----+----+----+----+----+----+-----+----+
|outage_Id|NetworkLevel|OutageType|outageSubType|htclosingtype|htclosingsubtype|htclosingreason|   initialoffreason|faultstr|grid_name|pt_name|fdr_Id|      fdr_name|dts_Id|        dts_name|cluster|    IBC|load|Relay|TAT|PunchingDelay|OutageStatus|    Createdon|punchCreateAt| punchCloseAt|duration|isemergency|israintripping|cluster_Id|closing_remarks|saifi|saidi|loss_category|consumer_count_fdr|lastupdatedon|planned_sd_Id|_c36|_c37|_c38|_c39|_c40|_c41|_c42|_c43|_c44|month|year|
+---------+------------+----------+-------------+-------------+----------------+---------------+-------------------+--------+---------+-------+------+--------------+------+----------------+-------+-------+----+-----+---+-------------+------------+-------------+-------------+-------------+--------+-----------+--------------+----------+---------------+-----+-----+-------------+------------------+-------------+-------------+----+----+----+----+----+----+----+----+----+-----+----+
|   721295|          LT|       DTS|      DTS Off|         NULL|            NULL|           NULL|Voltage Fluctuation|    NULL|     NULL|   NULL|  3146|GALLANT SUMMIT|529533|COUNCILLOR SAQIB|Gulshan|Gulshan|NULL| NULL| 96|            0|   Completed|1/1/2023 0:09|1/1/2023 0:09|1/1/2023 1:45| 1:36:06|       NULL|            NO|         7|           NULL| NULL| NULL|           LL|              NULL|  1/1/23 1:45|         NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL|
+---------+------------+----------+-------------+-------------+----------------+---------------+-------------------+--------+---------+-------+------+--------------+------+----------------+-------+-------+----+-----+---+-------------+------------+-------------+-------------+-------------+--------+-----------+--------------+----------+---------------+-----+-----+-------------+------------------+-------------+-------------+----+----+----+----+----+----+----+----+----+-----+----+

25/04/16 22:39:27 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: outage_Id, NetworkLevel, OutageType, outageSubType, htclosingtype, htclosingsubtype, htclosingreason, initialoffreason, faultstr, grid_name, pt_name, fdr_Id, fdr_name, dts_Id, dts_name, cluster, IBC, load, Relay, TAT, PunchingDelay, OutageStatus, Createdon, punchCreateAt, punchCloseAt, duration, isemergency, israintripping, cluster_Id, closing_remarks, saifi, saidi, loss_category, consumer_count_fdr, lastupdatedon, planned_sd_Id, , , , , , , , ,
 Schema: outage_Id, NetworkLevel, OutageType, outageSubType, htclosingtype, htclosingsubtype, htclosingreason, initialoffreason, faultstr, grid_name, pt_name, fdr_Id, fdr_name, dts_Id, dts_name, cluster, IBC, load, Relay, TAT, PunchingDelay, OutageStatus, Createdon, punchCreateAt, punchCloseAt, duration, isemergency, israintripping, cluster_Id, closing_remarks, saifi, saidi, loss_category, consumer_count_fdr, lastupdatedon, planned_sd_Id, _c36, _c37, _c38, _c39, _c40, _c41, _c42, _c43, _c44
Expected: _c36 but found:
CSV file: file:///mnt/HabibData/OMSRequestedData.csv

In [406]:
#month
from pyspark.sql import functions as F
from pyspark.sql.window import Window  # Window specification for ranking

# Extract month and year from Createdon column
temp_df = df_reduced.withColumn("month", F.month("Createdon")) \
               .withColumn("year", F.year("Createdon"))

# First, calculate the most frequent fault in "initialoffreason" for each "month"
most_frequent_fault_month = temp_df.groupBy("year", "month", "initialoffreason").agg(
    F.count("initialoffreason").alias("Most_Occurred_Fault_Frequency")
)

# Now, for each year-month, we want the fault with the highest count
most_frequent_fault_month = most_frequent_fault_month.withColumn(
    "rank", F.row_number().over(
        Window.partitionBy("year", "month").orderBy(F.desc("Most_Occurred_Fault_Frequency"))
    )
)

# Filter to get only the most frequent fault for each year-month
most_frequent_fault_month = most_frequent_fault_month.filter(F.col("rank") == 1).drop("rank")

most_frequent_fault_month = most_frequent_fault_month.withColumnRenamed("month", "month_Fault") \
                                                   .withColumnRenamed("year", "year_Fault")

# Now, create the dimension (dim) for Month of `Createdon`
oms_dim_month = temp_df.groupBy("year", "month").agg(
    F.first("month").alias("Month_"),
    F.first("year").alias("Year_"),
    F.avg("TAT").alias("Average Turn-Around Time (mins)"),
    F.avg("duration").alias("Average Fault Duration (mins)"),
    F.count("outage_Id").alias("Total Outages/Faults"),
    F.sum("israintripping").alias("Rain Frequency (23-24)")
)

# Join the most frequent fault with the Month-based aggregation
oms_dim_month = oms_dim_month.join(most_frequent_fault_month, 
                       on=[oms_dim_month.Month_ == most_frequent_fault_month.month_Fault, 
                           oms_dim_month.Year_ == most_frequent_fault_month.year_Fault], 
                       how="left")
oms_dim_month = oms_dim_month.select(
    F.col("month_Fault").alias("Month_"), 
    F.col("year_Fault").alias("Year_"),
    "Average Turn-Around Time (mins)", "Average Fault Duration (mins)", 
    "Total Outages/Faults", "Rain Frequency (23-24)", 
     F.col("initialoffreason").alias("Most_Occurred_Fault"), 
    "Most_Occurred_Fault_Frequency"
)

# Display the final result for the Month of Createdon dimension
oms_dim_month.show(truncate=False)

+------+-----+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
|Month_|Year_|Average Turn-Around Time (mins)|Average Fault Duration (mins)|Total Outages/Faults|Rain Frequency (23-24)|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|
+------+-----+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
|7     |2024 |3018.4881141045958             |330.58424819474504           |1893                |5                     |Job of Operation   |468                          |
|12    |2024 |2401.005395683453              |1079.3308405302034           |1112                |0                     |Forced Outage      |292                          |
|8     |2023 |10472.540659340659             |180.1895697877508            |910                 |5                     |NULL               |217                          |
|9     |2023 |15033.29887054735              |384.6883152108243            |1151                |1                     |NULL               |218                          |
|3     |2024 |3090.1300448430493             |215.43662015764542           |3122                |23                    |Commercial         |2266                         |
|7     |2023 |12057.780625                   |218.7580107434469            |1600                |27                    |NULL               |308                          |
|NULL  |NULL |9511.906790004497              |319.570328393235             |31134               |834                   |NULL               |NULL                         |
|5     |2024 |1844.2611903590753             |179.05412984896716           |4066                |0                     |Commercial         |2671                         |
|6     |2023 |11079.120853983988             |246.9802826210396            |2623                |23                    |Commercial         |1087                         |
|9     |2024 |2372.57343550447               |249.57855942710754           |1566                |0                     |Commercial         |479                          |
|10    |2024 |3077.9882671480145             |259.78838355252236           |1108                |0                     |Forced Outage      |224                          |
|2     |2024 |12209.880658436214             |524.0680871341417            |972                 |21                    |Job of Operation   |161                          |
|3     |2023 |10007.93779264214              |608.7746276847067            |1495                |47                    |Commercial         |464                          |
|2     |2023 |8379.639916839917              |588.8006832313728            |2405                |0                     |Commercial         |1422                         |
|11    |2023 |14441.666338582678             |463.4474859758762            |1016                |13                    |NULL               |205                          |
|4     |2023 |6882.463654223969              |293.3567288501371            |1018                |10                    |Commercial         |352                          |
|5     |2023 |9601.952288218112              |300.54738496597975           |2054                |0                     |Commercial         |765                          |
|1     |2024 |15701.134730538923             |411.8980196385735            |1002                |8                     |NULL               |164                          |
|11    |2024 |3035.161666666667              |567.0919550120324            |1200                |0                     |Forced Outage      |287                          |
|10    |2023 |18658.2860727729               |459.1528896304308            |1594                |0                     |NULL               |234                          |
+------+-----+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
only showing top 20 rows

In [408]:
oms_dim_month.dtypes

[('Month_', 'int'),
 ('Year_', 'int'),
 ('Average Turn-Around Time (mins)', 'double'),
 ('Average Fault Duration (mins)', 'double'),
 ('Total Outages/Faults', 'bigint'),
 ('Rain Frequency (23-24)', 'bigint'),
 ('Most_Occurred_Fault', 'string'),
 ('Most_Occurred_Fault_Frequency', 'bigint')]

In [389]:
#date
from pyspark.sql import functions as F
from pyspark.sql.window import Window  # Window specification for ranking

# Extract date from Createdon column
temp_df = df_reduced.withColumn("date", F.to_date("Createdon"))

# First, calculate the most frequent fault in "initialoffreason" for each "date"
most_frequent_fault_date = temp_df.groupBy("date", "initialoffreason").agg(
    F.count("initialoffreason").alias("Most_Occurred_Fault_Frequency")
)

# Now, for each date, we want the fault with the highest count
most_frequent_fault_date = most_frequent_fault_date.withColumn(
    "rank", F.row_number().over(
        Window.partitionBy("date").orderBy(F.desc("Most_Occurred_Fault_Frequency"))
    )
)

# Filter to get only the most frequent fault for each date
most_frequent_fault_date = most_frequent_fault_date.filter(F.col("rank") == 1).drop("rank")
most_frequent_fault_date = most_frequent_fault_date.withColumnRenamed("date", "Date_diff") 
# Now, create the dimension (dim) for Date of Createdon
oms_dim_date = temp_df.groupBy("date").agg(
    F.first("date").alias("Date_"),
    F.avg("TAT").alias("Average Turn-Around Time (mins)"),
    F.avg("duration").alias("Average Fault Duration (mins)"),
    F.count("outage_Id").alias("Total Outages/Faults"),
    F.sum("israintripping").alias("Rain Frequency (23-24)")
)

# Join the most frequent fault with the Date-based aggregation
oms_dim_date = oms_dim_date.join(most_frequent_fault_date, 
                       on=[oms_dim_date.Date_ == most_frequent_fault_date.Date_diff], 
                       how="left")


oms_dim_date = oms_dim_date.select(
    F.col("Date_diff").alias("Date"),
    "Average Turn-Around Time (mins)", "Average Fault Duration (mins)", 
    "Total Outages/Faults", "Rain Frequency (23-24)", 
     F.col("initialoffreason").alias("Most_Occurred_Fault"), 
    "Most_Occurred_Fault_Frequency"
)

# Display the final result for the Date of Createdon dimension
oms_dim_date.show(truncate=False)

+----------+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
|Date      |Average Turn-Around Time (mins)|Average Fault Duration (mins)|Total Outages/Faults|Rain Frequency (23-24)|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|
+----------+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
|2023-06-22|6418.269503546099              |287.53844794780014           |141                 |0                     |Commercial         |54                           |
|2023-11-08|370.27272727272725             |380.2393975691362            |33                  |0                     |Planned Outage     |6                            |
|2024-05-30|8481.203007518798              |265.40641169181237           |133                 |0                     |Commercial         |73                           |
|2024-06-12|10589.26                       |200.14914342054388           |100                 |0                     |Commercial         |55                           |
|2023-02-25|6914.865853658536              |650.5460117572655            |164                 |0                     |Commercial         |136                          |
|2023-06-18|8891.838383838383              |163.17108758751834           |99                  |0                     |Commercial         |55                           |
|2024-10-24|3921.3333333333335             |282.77479613699563           |42                  |0                     |Shutdown           |8                            |
|2024-11-02|363.741935483871               |359.5758070710205            |31                  |0                     |Shutdown           |11                           |
|2023-02-08|295.4727272727273              |259.3663667053887            |165                 |0                     |Commercial         |128                          |
|2023-06-23|264.4166666666667              |263.6861061652501            |72                  |0                     |Commercial         |21                           |
|2024-04-20|128.01149425287358             |129.88052410184196           |261                 |0                     |Commercial         |239                          |
|2024-08-30|188.48979591836735             |185.64455746631234           |49                  |0                     |NULL               |15                           |
|2023-03-24|35376.03571428572              |95.49259316479719            |28                  |0                     |Shutdown           |10                           |
|2023-09-27|898.3636363636364              |911.2824268254367            |55                  |0                     |DC - Disconnected  |16                           |
|2024-09-10|387.35714285714283             |386.74643365542096           |42                  |0                     |Voltage Fluctuation|12                           |
|2024-11-29|4029.1428571428573             |484.38764955379344           |28                  |0                     |Forced Outage      |9                            |
|2024-08-05|308.66265060240966             |313.492371351604             |83                  |5                     |Job of Operation   |23                           |
|2023-05-03|13431.972222222223             |355.8145658797781            |72                  |0                     |Commercial         |42                           |
|2024-05-19|2973.4710144927535             |115.28345539622063           |138                 |0                     |Commercial         |85                           |
|2025-02-06|159.90625                      |154.16353986412287           |32                  |0                     |Shutdown           |11                           |
+----------+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
only showing top 20 rows

In [396]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window  # Window specification for ranking

# First, calculate the most frequent fault in "initialoffreason" for each "fdr_Id" and "fdr_name"
most_frequent_fault_fdr = df_reduced.groupBy("fdr_Id", "fdr_name", "initialoffreason").agg(
    F.count("initialoffreason").alias("Most_Occurred_Fault_Frequency")
)

# Now, for each "fdr_Id" and "fdr_name", we want the fault with the highest count
most_frequent_fault_fdr = most_frequent_fault_fdr.withColumn(
    "rank", F.row_number().over(
        Window.partitionBy("fdr_Id", "fdr_name").orderBy(F.desc("Most_Occurred_Fault_Frequency"))
    )
)

# Filter to get only the most frequent fault for each "fdr_Id" and "fdr_name"
most_frequent_fault_fdr = most_frequent_fault_fdr.filter(F.col("rank") == 1).drop("rank")

# Rename `fdr_Id` and `fdr_name` to avoid ambiguity
most_frequent_fault_fdr = most_frequent_fault_fdr.withColumnRenamed("fdr_Id", "FDR_ID_Fault") \
                                                   .withColumnRenamed("fdr_name", "FDR_Name_Fault")

# Now, create the dimension (dim) for "fdr_Id" and "fdr_name"
oms_dim_fdr = df_reduced.groupBy("fdr_Id", "fdr_name").agg(
    F.first("fdr_Id").alias("FDR_ID_"),
    F.first("fdr_name").alias("FDR_Name_"),
    F.avg("TAT").alias("Average Turn-Around Time (mins)"),
    F.avg("duration").alias("Average Fault Duration (mins)"),
    F.count("outage_Id").alias("Total Outages/Faults"),
    F.sum("israintripping").alias("Rain Frequency (23-24)")
)

# Join the most frequent fault with the "fdr_Id" and "fdr_name" aggregation
oms_dim_fdr = oms_dim_fdr.join(most_frequent_fault_fdr, 
                       on=[oms_dim_fdr.FDR_ID_ == most_frequent_fault_fdr.FDR_ID_Fault, 
                           oms_dim_fdr.FDR_Name_ == most_frequent_fault_fdr.FDR_Name_Fault], 
                       how="left")

# Select distinct columns to avoid ambiguity
oms_dim_fdr = oms_dim_fdr.select(
    "FDR_ID", "FDR_Name", 
    "Average Turn-Around Time (mins)", "Average Fault Duration (mins)", 
    "Total Outages/Faults", "Rain Frequency (23-24)", 
     F.col("initialoffreason").alias("Most_Occurred_Fault"), 
    "Most_Occurred_Fault_Frequency"
)

# Display the final result for the "fdr_Id" and "fdr_name" dimension
oms_dim_fdr.show(truncate=False)

+------+-----------------------------+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
|FDR_ID|FDR_Name                     |Average Turn-Around Time (mins)|Average Fault Duration (mins)|Total Outages/Faults|Rain Frequency (23-24)|Most_Occurred_Fault|Most_Occurred_Fault_Frequency|
+------+-----------------------------+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
|102   |EAGLE SQUAD                  |4564.562256809339              |507.29518566068356           |514                 |5                     |Voltage Fluctuation|134                          |
|103   |PARAS                        |5446.527876631079              |613.5865991824132            |843                 |5                     |Voltage Fluctuation|247                          |
|109   |EXPO CENTER                  |38733.87719298246              |48.1768520358536             |57                  |4                     |NULL               |27                           |
|111   |RUKKNUDDIN                   |277.32561728395063             |288.43107074830266           |648                 |4                     |Commercial         |352                          |
|1123  |FALAK TOWER (GUL ICE)        |16876.566666666666             |107.74130630115268           |360                 |16                    |Job of Operation   |65                           |
|1152  |GENERAL SOCIETY              |849.0841121495328              |185.82365094707126           |107                 |4                     |Shutdown           |26                           |
|117   |QASIMABAD DEGREE COLLGE (QDC)|5638.694055944056              |591.2331132842138            |1144                |6                     |Voltage Fluctuation|269                          |
|1176  |ARMY HOUSING-5               |5101.544776119403              |176.0078212426259            |134                 |2                     |Forced Outage      |39                           |
|1177  |ARMY HOUSING-9               |13488.39393939394              |139.47025565505027           |66                  |1                     |NULL               |16                           |
|1196  |WONDER BREAD(LAL SHAHBAZ)    |47937.192307692305             |95.32725674193352            |104                 |0                     |Forced Outage      |33                           |
|1198  |U. K. SQUARE                 |13663.073979591836             |208.45833363433024           |392                 |7                     |Job of Operation   |174                          |
|1199  |GULBERG                      |18946.38683127572              |235.10541354998563           |243                 |6                     |Job of Operation   |161                          |
|1200  |TAHIR VILLA                  |19735.021505376346             |221.42246778582532           |279                 |8                     |Job of Operation   |128                          |
|1201  |ABID PLAZA                   |6793.6120218579235             |362.6112041268084            |183                 |3                     |Lead Burnt Out     |68                           |
|1203  |FAROOQ-E-AZAM(ZIAUDDIN)      |19936.58358662614              |1280.9046742877922           |329                 |9                     |Job of Operation   |180                          |
|1205  |SHAMIM APPARTMENT            |12280.960655737705             |151.5515094266942            |305                 |4                     |Job of Operation   |91                           |
|1212  |STATION ROAD                 |2900.89156626506               |295.4600540944922            |249                 |3                     |Lead Burnt Out     |97                           |
|1213  |NESCOS                       |2666.926056338028              |314.8246754264663            |284                 |9                     |Lead Burnt Out     |96                           |
|1214  |CIVIC VIEW                   |304.24175824175825             |308.5551279272352            |91                  |2                     |Lead Burnt Out     |28                           |
|1215  |ERUM DEVELOPER               |217.55238095238096             |219.02825242962157           |105                 |7                     |Lead Burnt Out     |35                           |
+------+-----------------------------+-------------------------------+-----------------------------+--------------------+----------------------+-------------------+-----------------------------+
only showing top 20 rows

In [381]:
# import re
# from pyspark.sql.functions import lit
# csv = "/mnt/HabibData/fault_data.csv"
# # match = re.search(r'_(\d{6})', csv)# Extract month and year from the filename
# # billing_month = match.group(1) if match else "Unknown"

# # Read the CSV file into a DataFrame
# df = spark.read \
#     .option("delimiter", ",") \
#     .option("header", "true") \
#     .option("inferSchema", "true") \
#     .csv(csv)

# # df = df.withColumn("BillingMonth", lit(billing_month))# Add the BillingMonth column

# # Repartition the DataFrame
# df = df.repartition(200)

# # Write to Nessie table
# df.writeTo("nessie.oms.oms_data_raw").createOrReplace()

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/mnt/HabibData/fault_data.csv.

In [54]:
# spark.stop()

In [53]:
# spark.sql("DROP table nessie.ageing.ageing_data_raw").show()
spark.sql("DROP table nessie.ageing.pmt_dim").show()
spark.sql("DROP table nessie.ageing.month_dim").show()
spark.sql("DROP table nessie.ageing.ibc_dim").show()
spark.sql("DROP table nessie.ageing.consumer_dim").show()
spark.sql("DROP table nessie.ageing.ageing_fact").show()
spark.sql("DROP schema nessie.ageing").show()

++
||
++
++

++
||
++
++

++
||
++
++

++
||
++
++

++
||
++
++

Py4JJavaError: An error occurred while calling o56.sql.
: org.apache.iceberg.exceptions.NamespaceNotEmptyException: Namespace 'ageing' is not empty.
	at org.apache.iceberg.nessie.NessieIcebergClient.dropNamespace(NessieIcebergClient.java:337)
	at org.apache.iceberg.nessie.NessieCatalog.dropNamespace(NessieCatalog.java:316)
	at org.apache.iceberg.spark.SparkCatalog.dropNamespace(SparkCatalog.java:533)
	at org.apache.spark.sql.execution.datasources.v2.DropNamespaceExec.run(DropNamespaceExec.scala:42)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.projectnessie.error.NessieReferenceConflictException: Namespace 'ageing' is not empty.
	at org.projectnessie.error.ErrorCode.lambda$asException$1(ErrorCode.java:66)
	at java.base/java.util.Optional.map(Optional.java:265)
	at org.projectnessie.error.ErrorCode.asException(ErrorCode.java:66)
	at org.projectnessie.client.rest.ResponseCheckFilter.checkResponse(ResponseCheckFilter.java:58)
	at org.projectnessie.client.rest.NessieHttpResponseFilter.filter(NessieHttpResponseFilter.java:29)
	at org.projectnessie.client.http.impl.jdk11.JavaRequest.lambda$executeRequest$1(JavaRequest.java:143)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1541)
	at java.base/java.util.Collections$UnmodifiableCollection.forEach(Collections.java:1085)
	at org.projectnessie.client.http.impl.jdk11.JavaRequest.executeRequest(JavaRequest.java:143)
	at org.projectnessie.client.http.HttpRequest.post(HttpRequest.java:116)
	at org.projectnessie.client.rest.v1.RestV1TreeClient.commitMultipleOperations(RestV1TreeClient.java:204)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at org.projectnessie.client.rest.v1.RestV1Client$ExceptionRewriter.invoke(RestV1Client.java:84)
	at com.sun.proxy.$Proxy36.commitMultipleOperations(Unknown Source)
	at org.projectnessie.client.rest.v1.HttpCommitMultipleOperations.commit(HttpCommitMultipleOperations.java:34)
	at org.apache.iceberg.nessie.NessieIcebergClient.lambda$commitRetry$14(NessieIcebergClient.java:772)
	at org.apache.iceberg.util.Tasks$Builder.runTaskWithRetry(Tasks.java:413)
	at org.apache.iceberg.util.Tasks$Builder.runSingleThreaded(Tasks.java:219)
	at org.apache.iceberg.util.Tasks$Builder.run(Tasks.java:203)
	at org.apache.iceberg.nessie.NessieIcebergClient.commitRetry(NessieIcebergClient.java:764)
	at org.apache.iceberg.nessie.NessieIcebergClient.commitRetry(NessieIcebergClient.java:748)
	at org.apache.iceberg.nessie.NessieIcebergClient.dropNamespace(NessieIcebergClient.java:322)
	... 46 more

In [ ]:
# df.select('Time').limit(1).show()
df.limit(1).show(truncate=False)

In [ ]:
# spark.sql("DROP TABLE IF EXISTS nessie.power_report;").show()

In [ ]:
spark.sql("CREATE NAMESPACE nessie.feedervoltage;").show()

In [ ]:
# spark = SparkSession.builder.config(conf=conf).getOrCreate()
# print("Spark Session Started")
df.writeTo("nessie.feedervoltage.feedervoltage_data_raw").createOrReplace()

In [ ]:
spark.read.table("nessie.feedervoltage.feedervoltage_data_raw").show()

### Appending values change some datatypes

In [261]:
table_name = "nessie.starschema.crm_fact"

# List of columns with `INT` type to be altered to `BIGINT`
columns_to_alter = [
    "PMT"
]

# Generate and execute ALTER TABLE commands for each column
for column in columns_to_alter:
    alter_statement = f"""
    ALTER TABLE {table_name} 
    ALTER COLUMN `{column}` TYPE BIGINT
    """
    print(f"Executing: {alter_statement}")
    spark.sql(alter_statement)

# Verify the schema after updates
print("Updated Table Schema:")
spark.sql(f"DESCRIBE {table_name}").show(truncate=False)

Executing:
    ALTER TABLE nessie.starschema.crm_fact
    ALTER COLUMN `PMT` TYPE BIGINT

25/05/05 03:01:59 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

AnalysisException: [NOT_SUPPORTED_CHANGE_COLUMN] ALTER TABLE ALTER/CHANGE COLUMN is not supported for changing `nessie`.`starschema`.`crm_fact`'s column `PMT` with type "STRING" to `PMT` with type "BIGINT".; line 2 pos 4;
AlterColumn resolvedfieldname(StructField(PMT,StringType,true)), LongType
+- ResolvedTable org.apache.iceberg.spark.SparkCatalog@438000b7, starschema.crm_fact, nessie.starschema.crm_fact, [AccountContract#16147, Ticket No.#16148L, Business_Partner#16149, GUID#16150, IBCName#16151, PROCESS_TYPE#16152, CREATED_BY#16153, CREATED_AT#16154, UDATETIME#16155, LatestStatus#16156, Supervisor#16157, Lineman#16158, MTLNo#16159, CompletedDateTime#16160, ClosedDateTime#16161, InProcessDateTime#16162, OpenDateTime#16163, Medium Of Complaint#16164, IBCCode#16165, CREATED_DATE#16166, Source#16167, Created By#16168, Region#16169, Subject_ID#16170, ... 44 more fields]

In [ ]:
csv_file_path = "Billing_part1.csv"

# Read the CSV file into a DataFrame
dfappend = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

In [ ]:
dfappend.writeTo("nessie.Billing.Billing_data_raw").append()

### Accidentally appended twice, rollback

In [30]:
spark.sql("""
    SELECT *
    FROM nessie.starschema.ibc_oms_ageing_dim_4.snapshots order by `committed_at` desc limit 100
""").limit(100).show(truncate=False)

+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id          |operation|manifest_list                                                                                                                                                    |summary                                                                                                                                                                                                                                                                                             |
+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2025-05-05 19:12:38.543|5017145433935738403|4068863865468229985|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-5017145433935738403-1-ec2d6771-5c98-4264-a8ab-85861d8891ee.avro|{spark.app.id -> local-1746472245547, added-data-files -> 1, added-records -> 4, added-files-size -> 8113, changed-partition-count -> 1, total-records -> 72, total-files-size -> 145814, total-data-files -> 18, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 19:06:54.132|4068863865468229985|5041133216343457244|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-4068863865468229985-1-21d3529d-c807-41df-9c5c-a018808a9c30.avro|{spark.app.id -> local-1746471897292, added-data-files -> 1, added-records -> 4, added-files-size -> 8113, changed-partition-count -> 1, total-records -> 68, total-files-size -> 137701, total-data-files -> 17, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 17:57:11.05 |187068459917935144 |8851235611705713215|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-187068459917935144-1-e9dbe2ae-0f42-4ea6-87dd-f913ab4362c1.avro |{spark.app.id -> local-1746467630891, added-data-files -> 1, added-records -> 4, added-files-size -> 8111, changed-partition-count -> 1, total-records -> 76, total-files-size -> 153904, total-data-files -> 19, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 17:53:08.838|8851235611705713215|6038822954880253741|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-8851235611705713215-1-8c649e22-16a2-49db-a716-22687f03353a.avro|{spark.app.id -> local-1746467417761, added-data-files -> 1, added-records -> 4, added-files-size -> 8113, changed-partition-count -> 1, total-records -> 72, total-files-size -> 145793, total-data-files -> 18, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 17:49:36.114|6038822954880253741|5041133216343457244|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-6038822954880253741-1-11d1129b-bb30-4715-8a6e-d3c9845d53f5.avro|{spark.app.id -> local-1746467162159, added-data-files -> 1, added-records -> 4, added-files-size -> 8092, changed-partition-count -> 1, total-records -> 68, total-files-size -> 137680, total-data-files -> 17, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 17:45:21.503|5041133216343457244|2934356492057782308|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-5041133216343457244-1-2955a685-50e6-4a4c-ad08-1906085d3689.avro|{spark.app.id -> local-1746466936785, added-data-files -> 1, added-records -> 4, added-files-size -> 8111, changed-partition-count -> 1, total-records -> 64, total-files-size -> 129588, total-data-files -> 16, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 17:24:09.01 |2934356492057782308|1936593057346956588|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-2934356492057782308-1-199deaab-59d5-4988-92cc-ca3254d65372.avro|{spark.app.id -> local-1746465699115, added-data-files -> 1, added-records -> 4, added-files-size -> 8134, changed-partition-count -> 1, total-records -> 60, total-files-size -> 121477, total-data-files -> 15, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 16:59:59.794|1936593057346956588|159497974480382378 |append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-1936593057346956588-1-f67f997d-6a9d-47cc-9d9f-28bdcba9722a.avro|{spark.app.id -> local-1746464240001, added-data-files -> 1, added-records -> 4, added-files-size -> 8103, changed-partition-count -> 1, total-records -> 56, total-files-size -> 113343, total-data-files -> 14, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 16:43:49.632|159497974480382378 |4264652847465242147|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-159497974480382378-1-125710b2-d644-48bf-a674-e9981415d9bb.avro |{spark.app.id -> local-1746463284653, added-data-files -> 1, added-records -> 4, added-files-size -> 8105, changed-partition-count -> 1, total-records -> 52, total-files-size -> 105240, total-data-files -> 13, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2025-05-05 16:36:33.003|4264652847465242147|711195174327855856 |append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-4264652847465242147-1-8cd95020-1b72-4a7a-8f3f-ead5389cea18.avro|{spark.app.id -> local-1746462862809, added-data-files -> 1, added-records -> 4, added-files-size -> 8122, changed-partition-count -> 1, total-records -> 48, total-files-size -> 97135, total-data-files -> 12, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2025-05-05 15:30:46.755|711195174327855856 |6874294259966954732|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-711195174327855856-1-e2e962c2-c785-4dfd-b3a2-671022f92350.avro |{spark.app.id -> local-1746458737049, added-data-files -> 1, added-records -> 4, added-files-size -> 8122, changed-partition-count -> 1, total-records -> 44, total-files-size -> 89013, total-data-files -> 11, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2025-05-05 04:32:21.079|6874294259966954732|1480533619151178561|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-6874294259966954732-1-69ab7142-293e-426f-81fd-0ab256d12778.avro|{spark.app.id -> local-1746419393072, added-data-files -> 1, added-records -> 4, added-files-size -> 8109, changed-partition-count -> 1, total-records -> 40, total-files-size -> 80891, total-data-files -> 10, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2025-05-05 04:27:34.661|1480533619151178561|5208398437095436650|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-1480533619151178561-1-3386c9d2-f926-44a6-8c2d-51c9fa366f2f.avro|{spark.app.id -> local-1746419026853, added-data-files -> 1, added-records -> 4, added-files-size -> 8069, changed-partition-count -> 1, total-records -> 36, total-files-size -> 72782, total-data-files -> 9, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2025-05-05 03:50:09.142|5208398437095436650|8523189718551279482|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-5208398437095436650-1-a737361a-b42f-4426-ae54-6a2b91c111bd.avro|{spark.app.id -> local-1746416762846, added-data-files -> 1, added-records -> 4, added-files-size -> 8111, changed-partition-count -> 1, total-records -> 32, total-files-size -> 64713, total-data-files -> 8, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2025-05-05 01:36:20.024|8750671667353740063|3181225141592882527|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-8750671667353740063-1-56fe2110-6a57-486e-b65b-9e6928e76c1a.avro|{spark.app.id -> local-1746408774542, added-data-files -> 1, added-records -> 4, added-files-size -> 8122, changed-partition-count -> 1, total-records -> 36, total-files-size -> 72846, total-data-files -> 9, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2025-05-05 01:29:27.285|3181225141592882527|5465752949077884188|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-3181225141592882527-1-f5e80bd6-1f7e-4e01-9c4f-68bfb9b8c4d0.avro|{spark.app.id -> local-1746408439245, added-data-files -> 1, added-records -> 4, added-files-size -> 8122, changed-partition-count -> 1, total-records -> 32, total-files-size -> 64724, total-data-files -> 8, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2025-05-05 00:01:51.725|5465752949077884188|8523189718551279482|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-5465752949077884188-1-ef71f078-962c-4c7d-a84f-598de2edecdb.avro|{spark.app.id -> local-1746403169182, changed-partition-count -> 0, total-records -> 28, total-files-size -> 56602, total-data-files -> 7, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}                                                                       |
|2025-05-04 20:55:25.566|8523189718551279482|7229895021040156535|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-8523189718551279482-1-e2a841c8-9b11-4d79-816a-2c5b3adaabeb.avro|{spark.app.id -> local-1746391932578, added-data-files -> 1, added-records -> 4, added-files-size -> 8100, changed-partition-count -> 1, total-records -> 28, total-files-size -> 56602, total-data-files -> 7, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2025-05-04 20:12:29.257|7229895021040156535|3232036475364806518|append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-7229895021040156535-1-ca788856-e537-4210-a0b1-799511eae6da.avro|{spark.app.id -> local-1746389340284, added-data-files -> 1, added-records -> 4, added-files-size -> 8092, changed-partition-count -> 1, total-records -> 24, total-files-size -> 48502, total-data-files -> 6, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2025-05-04 20:04:02.765|3232036475364806518|409383330236466862 |append   |s3://warehouse/starschema/ibc_oms_ageing_dim_4_a862a398-fd2d-4fe7-899c-55b6a702a65f/metadata/snap-3232036475364806518-1-d6f31d24-b319-4608-ba42-840176584f1c.avro|{spark.app.id -> local-1746388895500, added-data-files -> 1, added-records -> 4, added-files-size -> 8062, changed-partition-count -> 1, total-records -> 20, total-files-size -> 40410, total-data-files -> 5, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [31]:
previous_snapshot_id = "4068863865468229985"  # Replace with the ID of the snapshot before the append
spark.sql(f"""
    CALL nessie.system.rollback_to_snapshot(
        'nessie.starschema.ibc_oms_ageing_dim_4', 
        {previous_snapshot_id}
    )
""")

DataFrame[previous_snapshot_id: bigint, current_snapshot_id: bigint]

In [37]:
ls "/mnt/inc_processed"

In [288]:
spark.stop()

## Getting views

In [ ]:
ageing = spark.read.table("nessie.ageing.ageing_data_raw")

In [ ]:
ageing.count()

In [ ]:
df = spark.table("nessie.ageing.ageing_data_raw")

In [ ]:
df_filtered = ageing.filter("status LIKE 'ACT'")

In [ ]:
df_repartitioned = df_filtered.repartition(400)  # Adjust number of partitions based on your data size

In [ ]:
# Repartition the filtered DataFrame for performance optimization
df_repartitioned.cache()
df_repartitioned.limit(1).show()

In [ ]:


# Repartition the data to optimize subsequent operations
df = spark.sql("SELECT * FROM nessie.ageing.ageing_data_raw")
df_repartitioned = df.repartition(200)  # Adjust the number of partitions based on your data size

df_repartitioned.show()

In [ ]:
spark.sql("CREATE NAMESPACE nessie.ageing_active").show()

In [ ]:
spark.sql("""
    DELETE FROM nessie.ageing.ageing_data_raw
    WHERE status NOT LIKE 'ACT'
""")

In [ ]:
df_active = df_active.repartition(200)

In [ ]:
df_active.writeTo("nessie.ageing_active.ageing_active_data_raw").createOrReplace()

In [ ]:
df_active.write.repartition(100) \
    .mode("overwrite") \
    .saveAsTable("nessie.ageing.ageing_active")

In [ ]:
# spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

# Load the data as a DataFrame
df = spark.sql("""
SELECT 
    WEEKOFYEAR(`Last Payment Date`) AS week_number,
    YEAR(`Last Payment Date`) AS `year`,
    SUM(`RegularUnits`) AS total_regular_units,
    SUM(`Last Payment Amount`) AS total_last_payment
FROM nessie.ageing_active__.ageing_active
GROUP BY YEAR(`Last Payment Date`), WEEKOFYEAR(`Last Payment Date`)
ORDER BY YEAR(`Last Payment Date`), WEEKOFYEAR(`Last Payment Date`);
""")

In [ ]:
from pyspark.sql.functions import to_timestamp, regexp_replace

df_updated = df.withColumn(
    "Last Payment Date", 
    to_timestamp(
        regexp_replace(
            regexp_replace(
                regexp_replace(
                    regexp_replace(
                        regexp_replace(
                            regexp_replace(
                                regexp_replace(
                                    regexp_replace(
                                        regexp_replace(
                                            regexp_replace(
                                                regexp_replace(
                                                    regexp_replace(
                                                        df['Last Payment Date'], '-Jan-', '-01-'
                                                    ), '-Feb-', '-02-'
                                                ), '-Mar-', '-03-'
                                            ), '-Apr-', '-04-'
                                        ), '-May-', '-05-'
                                    ), '-Jun-', '-06-'
                                ), '-Jul-', '-07-'
                            ), '-Aug-', '-08-'
                        ), '-Sep-', '-09-'
                    ), '-Oct-', '-10-'
                ), '-Nov-', '-11-'
            ), '-Dec-', '-12-'
        ), 'dd-MM-yy'  # Assuming this is the desired format for TO_TIMESTAMP
    )
)

In [ ]:
spark.sql("CREATE NAMESPACE nessie.ageing_active__").show()

In [ ]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

df_updated.writeTo("nessie.ageing_active__.ageing_active").createOrReplace()

In [ ]:
recovery_view.limit(1).show()

In [ ]:
# Repartition into more than one partition (e.g., 100 partitions)
recovery_view.repartition(100).write \
    .option("header", "true") \
    .csv("recovery.csv")

In [ ]:
# Instead of coalesce(1), try coalescing to a larger number of partitions (e.g., 10 or 20)
df_spark.coalesce(20).write \
    .option("header", "true") \
    .csv("recovrytry.csv")

In [ ]:
# Save the DataFrame as a CSV file
recovery_view.write.option("header", "true").csv("recovery_view.csv")
 cbv

In [ ]:
# Save the DataFrame as a single CSV file
recovery_view.coalesce(1).write.csv("recovery_view1.csv")

In [ ]:
# Save the DataFrame as a single CSV file
df.coalesce(1).write.option("header", "true").csv("weekly_ageing.csv")

In [ ]:
df = spark.read \
    .option("delimiter", ",") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("recovery_view2.csv/part-00000-fcb2ca61-ccac-4761-bac3-2da2e51a2074-c000.csv")

In [ ]:
ls "recovery_view2.csv"

In [ ]:
df.limit(1).show()

In [ ]:
spark.stop()

#### Deleting old tables

In [175]:
schemas = spark.sql("SHOW TABLES IN nessie").limit(50).show()

+--------------------+--------------------+-----------+
|           namespace|           tableName|isTemporary|
+--------------------+--------------------+-----------+
|EnergyConsumption...|EnergyConsumption...|      false|
|              ageing|     ageing_data_raw|      false|
|        ageing_check|ageing_check_data...|      false|
|      ageing_cleaned|ageing_cleaned_da...|      false|
|             billing|    billing_data_raw|      false|
|                 crm|        crm_data_raw|      false|
|                crm_|       crm__data_raw|      false|
|           crmschema|            crm_fact|      false|
|fact_billing_and_...|fact_billing_and_...|      false|
|fact_billing_and_...|fact_billing_and_...|      false|
|fact_billing_and_...|fact_billing_and_...|      false|
|fact_billing_and_...|fact_billing_and_...|      false|
|fact_billing_and_...|fact_billing_and_...|      false|
|fact_billing_and_...|fact_billing_and_...|      false|
|fact_network_and_...|fact_network_and_...|      false|
|fact_network_and_...|fact_network_and_...|      false|
|       fault_tickets|fault_tickets_dat...|      false|
|        feedermaster|feedermaster_data...|      false|
|       feedervoltage|feedervoltage_dat...|      false|
|                 oms|        oms_data_raw|      false|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [257]:
spark.sql("DROP schema if exists nessie.ageing_check PURGE").show()

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'PURGE': extra input 'PURGE'.(line 1, pos 42)

== SQL ==
DROP schema if exists nessie.ageing_check PURGE
------------------------------------------^^^

In [258]:
# Get all tables in all namespaces (schemas)
df = spark.sql("SHOW TABLES IN nessie")
df = df.filter("isTemporary = false")

# Get unique namespaces except 'starschema'
namespaces = df.select("namespace").distinct().rdd.flatMap(lambda x: x).collect()
schemas_to_drop = [ns for ns in namespaces if ns != "starschema"]

# Drop all tables from schemas other than 'starschema'
for schema in schemas_to_drop:
    tables = df.filter(f"namespace = '{schema}'").select("tableName").rdd.flatMap(lambda x: x).collect()
    for table in tables:
        fq_table = f"nessie.{schema}.{table}"
        print(f"Dropping table: {fq_table}")
        spark.sql(f"DROP TABLE IF EXISTS {fq_table}")

# Drop the empty schemas
for schema in schemas_to_drop:
    tables = df.filter(f"namespace = '{schema}'").select("tableName").rdd.flatMap(lambda x: x).collect()
    for table in tables:
        fq_table = f"nessie.{schema}.{table}"
        print(f"Attempting to drop: {fq_table}")
        try:
            spark.sql(f"DROP TABLE IF EXISTS {fq_table}")
        except Exception as e:
            print(f"Failed to drop {fq_table}: {str(e)}")

Dropping table: nessie.ageing_check.ageing_check_data_raw

Py4JJavaError: An error occurred while calling o3595.sql.
: org.apache.iceberg.exceptions.NotFoundException: Location does not exist: s3://warehouse/ageing_check/ageing_check_data_raw_4e9c5b20-7110-4955-a337-92fea4de4988/metadata/00000-dafa3847-38a0-4168-ad85-7f162829e834.metadata.json
	at org.apache.iceberg.aws.s3.S3InputStream.openStream(S3InputStream.java:194)
	at org.apache.iceberg.aws.s3.S3InputStream.positionStream(S3InputStream.java:177)
	at org.apache.iceberg.aws.s3.S3InputStream.read(S3InputStream.java:107)
	at org.apache.iceberg.shaded.com.fasterxml.jackson.core.json.ByteSourceJsonBootstrapper.ensureLoaded(ByteSourceJsonBootstrapper.java:539)
	at org.apache.iceberg.shaded.com.fasterxml.jackson.core.json.ByteSourceJsonBootstrapper.detectEncoding(ByteSourceJsonBootstrapper.java:133)
	at org.apache.iceberg.shaded.com.fasterxml.jackson.core.json.ByteSourceJsonBootstrapper.constructParser(ByteSourceJsonBootstrapper.java:256)
	at org.apache.iceberg.shaded.com.fasterxml.jackson.core.JsonFactory._createParser(JsonFactory.java:1744)
	at org.apache.iceberg.shaded.com.fasterxml.jackson.core.JsonFactory.createParser(JsonFactory.java:1143)
	at org.apache.iceberg.shaded.com.fasterxml.jackson.databind.ObjectMapper.readValue(ObjectMapper.java:3809)
	at org.apache.iceberg.TableMetadataParser.read(TableMetadataParser.java:280)
	at org.apache.iceberg.TableMetadataParser.read(TableMetadataParser.java:273)
	at org.apache.iceberg.nessie.NessieTableOperations.lambda$doRefresh$1(NessieTableOperations.java:105)
	at org.apache.iceberg.BaseMetastoreTableOperations.lambda$refreshFromMetadataLocation$1(BaseMetastoreTableOperations.java:208)
	at org.apache.iceberg.util.Tasks$Builder.runTaskWithRetry(Tasks.java:413)
	at org.apache.iceberg.util.Tasks$Builder.runSingleThreaded(Tasks.java:219)
	at org.apache.iceberg.util.Tasks$Builder.run(Tasks.java:203)
	at org.apache.iceberg.util.Tasks$Builder.run(Tasks.java:196)
	at org.apache.iceberg.BaseMetastoreTableOperations.refreshFromMetadataLocation(BaseMetastoreTableOperations.java:208)
	at org.apache.iceberg.nessie.NessieTableOperations.doRefresh(NessieTableOperations.java:99)
	at org.apache.iceberg.BaseMetastoreTableOperations.refresh(BaseMetastoreTableOperations.java:97)
	at org.apache.iceberg.BaseMetastoreTableOperations.current(BaseMetastoreTableOperations.java:80)
	at org.apache.iceberg.BaseMetastoreCatalog.loadTable(BaseMetastoreCatalog.java:49)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.BoundedLocalCache.lambda$doComputeIfAbsent$14(BoundedLocalCache.java:2406)
	at java.base/java.util.concurrent.ConcurrentHashMap.compute(ConcurrentHashMap.java:1908)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.BoundedLocalCache.doComputeIfAbsent(BoundedLocalCache.java:2404)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.BoundedLocalCache.computeIfAbsent(BoundedLocalCache.java:2387)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.LocalCache.computeIfAbsent(LocalCache.java:108)
	at org.apache.iceberg.shaded.com.github.benmanes.caffeine.cache.LocalManualCache.get(LocalManualCache.java:62)
	at org.apache.iceberg.CachingCatalog.loadTable(CachingCatalog.java:166)
	at org.apache.iceberg.spark.SparkCatalog.load(SparkCatalog.java:843)
	at org.apache.iceberg.spark.SparkCatalog.loadTable(SparkCatalog.java:170)
	at org.apache.spark.sql.connector.catalog.TableCatalog.tableExists(TableCatalog.java:164)
	at org.apache.spark.sql.execution.datasources.v2.DropTableExec.run(DropTableExec.scala:36)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at jdk.internal.reflect.GeneratedMethodAccessor393.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: software.amazon.awssdk.services.s3.model.NoSuchKeyException: The specified key does not exist. (Service: S3, Status Code: 404, Request ID: 183C818FDFF16110, Extended Request ID: dd9025bab4ad464b049177c95eb6ebf374d3b3fd1af9251148b658df7ac2e3e8)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handleErrorResponse(CombinedResponseHandler.java:125)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handleResponse(CombinedResponseHandler.java:82)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handle(CombinedResponseHandler.java:60)
	at software.amazon.awssdk.core.internal.http.CombinedResponseHandler.handle(CombinedResponseHandler.java:41)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.HandleResponseStage.execute(HandleResponseStage.java:50)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.HandleResponseStage.execute(HandleResponseStage.java:38)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptTimeoutTrackingStage.execute(ApiCallAttemptTimeoutTrackingStage.java:72)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptTimeoutTrackingStage.execute(ApiCallAttemptTimeoutTrackingStage.java:42)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.TimeoutExceptionHandlingStage.execute(TimeoutExceptionHandlingStage.java:78)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.TimeoutExceptionHandlingStage.execute(TimeoutExceptionHandlingStage.java:40)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptMetricCollectionStage.execute(ApiCallAttemptMetricCollectionStage.java:55)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallAttemptMetricCollectionStage.execute(ApiCallAttemptMetricCollectionStage.java:39)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.RetryableStage.execute(RetryableStage.java:81)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.RetryableStage.execute(RetryableStage.java:36)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.StreamManagingStage.execute(StreamManagingStage.java:56)
	at software.amazon.awssdk.core.internal.http.StreamManagingStage.execute(StreamManagingStage.java:36)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallTimeoutTrackingStage.executeWithTimer(ApiCallTimeoutTrackingStage.java:80)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallTimeoutTrackingStage.execute(ApiCallTimeoutTrackingStage.java:60)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallTimeoutTrackingStage.execute(ApiCallTimeoutTrackingStage.java:42)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallMetricCollectionStage.execute(ApiCallMetricCollectionStage.java:50)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ApiCallMetricCollectionStage.execute(ApiCallMetricCollectionStage.java:32)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.pipeline.RequestPipelineBuilder$ComposingRequestPipelineStage.execute(RequestPipelineBuilder.java:206)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ExecutionFailureExceptionReportingStage.execute(ExecutionFailureExceptionReportingStage.java:37)
	at software.amazon.awssdk.core.internal.http.pipeline.stages.ExecutionFailureExceptionReportingStage.execute(ExecutionFailureExceptionReportingStage.java:26)
	at software.amazon.awssdk.core.internal.http.AmazonSyncHttpClient$RequestExecutionBuilderImpl.execute(AmazonSyncHttpClient.java:224)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.invoke(BaseSyncClientHandler.java:103)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.doExecute(BaseSyncClientHandler.java:173)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.lambda$execute$0(BaseSyncClientHandler.java:66)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.measureApiCallSuccess(BaseSyncClientHandler.java:182)
	at software.amazon.awssdk.core.internal.handler.BaseSyncClientHandler.execute(BaseSyncClientHandler.java:60)
	at software.amazon.awssdk.core.client.handler.SdkSyncClientHandler.execute(SdkSyncClientHandler.java:52)
	at software.amazon.awssdk.awscore.client.handler.AwsSyncClientHandler.execute(AwsSyncClientHandler.java:60)
	at software.amazon.awssdk.services.s3.DefaultS3Client.getObject(DefaultS3Client.java:5174)
	at org.apache.iceberg.aws.s3.S3InputStream.openStream(S3InputStream.java:192)
	... 74 more

In [152]:
spark.sql(f"DROP SCHEMA IF EXISTS ageing CASCADE").show()

++
||
++
++

In [134]:
spark.sql("DROP table nessie.ageing_cleaned.ageing_active").show()
# spark.sql("DROP schema nessie.ageing").show()

++
||
++
++

In [139]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [137]:
# Step 1: Get all schemas (databases)
all_schemas = [db.name for db in spark.catalog.listDatabases()]

# Step 2: Filter out the one you want to keep
schemas_to_drop = [db for db in all_schemas if db.lower() != "starschema"]

# Step 3: Drop each schema
for schema in all_schemas:
    # spark.sql(f"DROP DATABASE IF EXISTS {schema} CASCADE")
    print(f"Dropped schema: {schema}")

Dropped schema: default

In [138]:
print(all_schemas)

['default']

In [259]:
spark.stop()